<div class="container-fluid h-100">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
      <h3 id="heading"><strong>Welcome to Axis Billtree Payments</strong></h3>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
    <div class="col-lg-6 col-md-6 col-6-6 col-6">
      <div id="heading2"><strong>Your Billtree bill payments made easy.</strong></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
  </div>
  <div class="aqua">
    <img id="logo" src="assets/img/logo.png">
    <p>Axis Utility Payments</p>
  </div>
  <div class="card sec">
    <div class="card-body">
      <div class="row" style="margin-right:0px;">
        <form>
          <div style="width:100%;">
            <div class="heading3">Generate New Password</div>
            <div id="outer">
              <div id="inner">
                <!-- <input type="password" [(ngModel)]="password" name="password" class="username" placeholder="Enter Password"> -->
                <select class="username" [(ngModel)]="org_id"  name="org_id" (change)="getUserlist(org_id)">
                    <option value=""  selected="true">Select Organization</option>
                    <option *ngFor="let org of orgdata" [value]="org.id">{{org.org_name}}</option>
                </select>
              </div>
              <div id="inner">
                <!-- <input type="password" [(ngModel)]="cnfpassword" name="cnfpassword"  class="password" placeholder="Confirm Password"> -->
                <select class="username" [(ngModel)]="user_id" name="user_id">
                    <option value="" selected="true">Select Username</option>
                    <option *ngFor="let usr of userdata" [value]="usr.id">{{usr.fname}} {{usr.lname}}</option>
                </select>
              </div>
              <div id="inner">
                <input type="password" [(ngModel)]="password" name="password"  class="password" placeholder="Set Password">
            
              </div>
            </div>
            
            <div class="login2"><button class="btn" type="submit" (click)="setpassword()">Submit</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>