<div class="row h-100" style="background-color:#f4f4f4;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">List of Bills</div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3" style="margin-bottom:15px;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="assets/img/search-icon.png" alt="" width="5%;"> <input type="search"
                  placeholder="Search for Location, Biller Type or Utility" [(ngModel)]="filter" name="filter">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">
                <!-- <ng-multiselect-dropdown [ngClass]="'first-multiselect1'" [placeholder]="'All Categories'"
                  [data]="dropdownCat" [(ngModel)]="selectedItems1" [settings]="dropdownSettings1"
                  (onSelect)="onCatSelect($event)" [(ngClass)]="all-cat">
                </ng-multiselect-dropdown>
                <ng-multiselect-dropdown [ngClass]="'first-multiselect2'" [placeholder]="'This Month'"
                  [data]="dropdownList" [(ngModel)]="selectedItems2" [settings]="dropdownSettings2"
                  (onSelect)="onIntervalSelect($event)">
                </ng-multiselect-dropdown>
                <ng-multiselect-dropdown [ngClass]="'first-multiselect3'" [placeholder]="'Status'"
                  [data]="dropdownStatus" [(ngModel)]="selectedStatus" [settings]="dropdownSettingsStatus"
                  (onSelect)="onStatusSelect($event)">
                </ng-multiselect-dropdown> -->
                <!-- <button id="button" type="button" class="ml-2"><img src="../../../assets/img/downloadlist.png" alt=""> Download File</button> -->
                <ng-multiselect-dropdown [ngClass]="'first-multiselect4'" [placeholder]="'Download List'"
                  [data]="dropdownDownload" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                  (onSelect)="onItemSelectDown($event)">
                </ng-multiselect-dropdown>
               
                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                <!-- modal -->
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                  <!-- modal-dialog -->
                  <div class="modal-dialog" role="document">
                    <!-- modal-content -->
                    <div class="modal-content">
                      <!-- modal-header -->
                      <div class="modal-header">
                        Generate Customize Report<button type="button" class="close" aria-label="Close"
                          (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
                        <!-- <h4 class="modal-title">Login</h4> -->
                      </div>
                      <!-- modal-body -->
                      <div class="modal-body">
                        <div class="row mb-4 text-left">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="" class="pop-input-text">Report Name :</label>
                            <input type="text" class="pop-input" placeholder="Eg. Quarterly Report">
                          </div>
                        </div>
                        <div class="row mb-4 text-left">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="">Select the field to create a report</label>
                          </div>
                        </div>
                        <div class="row mb-2 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" (change)="selectllpara()" name="selectallpara"  [(ngModel)]="selectallpara"> <span class="spn-modal">Select All
                                    Type</span>
                            </div>
                        </div>
                        <div class="row mb-2 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="utilityname" [(ngModel)]="utilityname"> <span class="spn-modal">Utility
                              Type</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="billername" [(ngModel)]="billername"> <span class="spn-modal">Biller
                              Name</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="billdate" [(ngModel)]="billdate"> <span class="spn-modal">Bill Date</span>
                          </div>
                        </div>
                        <div class="row mb-2 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="duedate" [(ngModel)]="duedate"> <span class="spn-modal">Due
                              Date</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="status" [(ngModel)]="status"> <span
                              class="spn-modal">Status</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="shortname" [(ngModel)]="shortname"> <span class="spn-modal">Short Name</span>
                          </div>
                        </div>
                        <div class="row mb-2 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="glexpensecode" [(ngModel)]="glexpensecode"> <span class="spn-modal">GL/Expense
                              Code</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="location" [(ngModel)]="location"> <span
                              class="spn-modal">Location</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="consumerno" [(ngModel)]="consumerno"> <span class="spn-modal">Consumer No</span>
                          </div>
                        </div>
                        <div class="row mb-2 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="contactno" [(ngModel)]="contactno"> <span class="spn-modal">Mobile
                              No</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="contactaddress" [(ngModel)]="contactaddress"> <span
                              class="spn-modal">Address</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="email" [(ngModel)]="email"> <span
                              class="spn-modal">Email</span>
                          </div>
                        </div>
                        <div class="row mb-2 text-left">
                         
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="initiatedby" [(ngModel)]="initiatedby"> <span class="spn-modal">Initiated
                              by</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="initiatedon" [(ngModel)]="initiatedon"> <span class="spn-modal">Initiated
                              on</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <!-- <input type="checkbox"> <span class="spn-modal">File
                                Name</span> -->
                            </div>
                        </div>
                        <div class="row mb-2 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <!-- <input type="checkbox" name="utilityname" [(ngModel)]="utilityname"> <span class="spn-modal">Approved
                              by</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <!-- <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Approved
                              on</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                          </div>
                        </div>
                        <div class="row mb-4 text-left">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <table>
                              <tr>
                                <td style="padding:0px; width:10%">From</td>
                                <td style="padding:0px; width:28%">
                                  <angular2-date-picker [ngClass]="'popup-datepicker'" [(ngModel)]="filterfromdate"
                                    [settings]="settings"></angular2-date-picker>
                                </td>
                                <td style="padding-left:7px; width:10%">To</td>
                                <td style="padding-right:10px; width:31%">
                                  <angular2-date-picker [ngClass]="'popup-datepicker'" [(ngModel)]="filtertodate"
                                    [settings]="settings"></angular2-date-picker>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                        </div>
                        <div class="row text-left">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button (click)="closeModalDialog()"
                              class="btn-ok" style="margin-right:10px;">OK</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3" style="margin-bottom:15px;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 txt">
                <table class="entry-table">
                  <tr>
                    <td class="unitheaders">{{noofrole}}</td>
                  </tr>
                  <tr>
                    <td>{{billerlength}}</td>
                  </tr>
                </table>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <!-- <button class="btn bg-primary mrtfi nextBtn nxt2 ruleNextBtn mrg0Auto nxtbbgcolor" type="button">Filter Bills</button> -->
              </div>
              <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right"><button class="btn1">Approve Biller</button>
                  <button class="btn2 ml-2">Reject Biller</button></div> -->
            </div>
            <div class="row" style="margin:0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                <table id="main-table" [mfData]="billdata" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                  [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                  <thead>
                    <tr>
                      <td>
                        Sr.No.
                      </td>
                      <td>Utility Type <img src="assets/img/Filter.png" alt=""></td>
                      <td>Biller Name <img src="assets/img/Filter.png" alt=""></td>
                      <td>Reference No. <img src="assets/img/Filter.png" alt=""></td>
                     
                      <td>Status <img src="assets/img/Filter.png" alt=""></td>
                      <td *ngIf="rolename=='ccmaker' || rolename=='maker'"></td>
                      <td>&nbsp;</td>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let bill of mf.data|filter:filter; let i=index;">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>Electricity</td>
                        <td>{{bill.name}}</td>
                        <td>{{bill.consumerno}}</td>
                        <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': bill.status === 'Approved', 'Rejected': bill.status  === 'Rejected', 'Pending': bill.status  === 'Pending'}" role="button">{{bill.status}}</a></td>
                        <td  style="padding-left: 1%;">
                          <a  *ngIf="rolename=='ccmaker' || rolename=='maker'" data-toggle="modal" id="openBtn"  (click)="opendeletemodal(bill.id)"><img src="assets/img/delete.png"></a>
                        </td>
                        <td style="padding:0 15px;"><img src="assets/img/tb_downarrow.png" alt="" (click)="bill.collapsed=!bill.collapsed;getApproverDetails(bill.id,i)"></td>
                      </tr>
                      <tr class="rowShow grayStrip" *ngIf="bill.collapsed && selectedIndex==i">
                        <td class="custmtd" colspan="7">
                          <div class="tablediv">
                            <h5>Biller Details</h5>
                          
                            <div class="mb-1">
                              <div class="span_width">GL/Expense Code</div> <span> : </span> &nbsp;
                              <div class="bold_span" tooltip="{{bill.glexpensecode}}" placement="top"
                              show-delay="500">{{bill.glexpensecode}}</div>
                            </div>
                            <!-- <div class="mb-1">
                            <div class="span_width">Meter Reading:</div>
                            <div class="bold_span">{{bill.reading}}</div>
                          </div> -->
                            <!-- <div class="mb-1">
                            <div class="span_width">Bill Date:</div>
                            <div class="bold_span">10/12/2018</div>
                          </div> -->
                            <div class="mb-1">
                              <div class="span_width">Location</div> <span> : </span> &nbsp;
                              <div class="bold_span" tooltip="{{bill.location}}" placement="top"
                              show-delay="500">{{bill.location}}</div>
                              
                            </div>
                            <div class="mb-1">
                              <div class="span_width">{{bill.parameter1}}</div> <span> : </span> &nbsp;
                              <div class="bold_span" tooltip="{{bill.consumerno}}" placement="top"
                              show-delay="500">{{bill.consumerno}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width" *ngIf="bill.displaynamebu.length>0">BU Name/Code</div> <span *ngIf="bill.displaynamebu.length>0"> : </span> &nbsp;
                              <div class="bold_span" *ngIf="bill.bucode.length>0"  tooltip="{{bill.bucode}}" placement="top"
                                show-delay="500">{{bill.bucode}}</div>
                            </div>
                            <div class="mb-1" >
                              <div class="span_width" *ngIf="bill.displaynamecircle.length>0">{{bill.displaynamecircle}}</div> <span *ngIf="bill.displaynamecircle.length>0"> : </span> &nbsp;
                              <div  *ngIf="bill.circle.length>0" class="bold_span" tooltip="{{bill.circle}}" placement="top"
                                show-delay="500">{{bill.circle}}</div>
                            </div>
                            <!-- <div class="mb-1">
                            <div class="span_width">Ref. No. 2</div>  <span> : </span> &nbsp;
                            <div class="bold_span"></div>
                          </div> -->
                          </div>
                          <div class="tablediv table2">
                            <h5>Contact Details</h5>
                            <div class="mb-1">
                              <div class="span_width">Mobile No</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{bill.contact}}</div>
                            </div>
                           
                            <div>
                              <div class="span_width">Email</div> <span> : </span> &nbsp;
                              <span class="bold_span" tooltip="{{bill.email}}" placement="top"
                                show-delay="500">{{bill.email}}</span>
                            </div>
                            <h5>Bank Details</h5>
                            <div>
                              <div class="span_width">Account Number</div> <span> : </span> &nbsp;
                              <span class="bold_span" tooltip="{{bill.accno}}" placement="top"
                                show-delay="500">{{bill.accno}}</span>
                            </div>
                            <div>
                              <div class="span_width">IFSC</div> <span> : </span> &nbsp;
                              <span class="bold_span" tooltip="{{bill.ifsc}}" placement="top"
                                show-delay="500">{{bill.ifsc}}</span>
                            </div>
                            <div>
                              <div class="span_width">Bank Name</div> <span> : </span> &nbsp;
                              <span class="bold_span" tooltip="{{bill.bank}}" placement="top"
                                show-delay="500">{{bill.bank}}</span>
                            </div>
                            <div>
                              <div class="span_width">Branch Name</div> <span> : </span> &nbsp;
                              <span class="bold_span" tooltip="{{bill.branch}}" placement="top"
                                show-delay="500">{{bill.branch}}</span>
                            </div>
                          </div>
                          <div class="tablediv noborder table3">
                            <h5>Other Details</h5>
                            <div class="mb-1">
                              <div class="span_width">File Name</div> <span> : </span> &nbsp;
                              <div class="bold_span">Unitary</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width" >Initiated by</div> <span> : </span> &nbsp;
                              <div class="bold_span" tooltip="{{bill.initiatedby}}" placement="top"
                              show-delay="500">{{bill.initiatedby}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Initiated on</div> <span> : </span> &nbsp;
                              <div class="bold_span" tooltip="{{bill.initiateddate}} | {{bill.initiatedtime}}" placement="top"
                              show-delay="500">{{bill.initiateddate}} | {{bill.initiatedtime}}</div>
                            </div>
                            <ng-container *ngFor="let approver of approverdetails">
                            <div class="mb-1">
                              <div class="span_width" *ngIf="approver.ischecked==1">Approved by</div> <span *ngIf="approver.ischecked==1"> : &nbsp;</span> 
                              <div class="span_width" *ngIf="approver.ischecked==0">Rejected by</div> <span *ngIf="approver.ischecked==0"> : &nbsp;</span> 
                            
                              <div class="bold_span" tooltip="{{approver.approvedby}}" placement="top"
                              show-delay="500">{{approver.approvedby}} <span *ngIf="approver.group.length>0" tooltip="{{approver.group}}" placement="top"
                                show-delay="500">({{approver.group}})</span></div>
                             
                            </div>
                            <div>
                              <div class="span_width" *ngIf="approver.ischecked==1">Approved on</div> <span *ngIf="approver.ischecked==1"> : &nbsp;</span> 
                              <div class="span_width" *ngIf="approver.ischecked==0">Rejected on</div> <span *ngIf="approver.ischecked==0"> : &nbsp;</span>
                              <div class="bold_span"  tooltip="{{approver.approveddate}} | {{approver.approvedtime}}" placement="top"
                              show-delay="500">{{approver.approveddate}} | {{approver.approvedtime}}</div>
                            </div>
                           
                            </ng-container>
                          </div>
                        </td>
                      </tr>
                      <tr class="rowShow grayStrip" *ngIf="bill.collapsed && selectedIndex==i">
                        <td colspan="8">
                          <span class="text-left"><label style="color: #64289d;">Comment
                              : &nbsp;</label>{{bill.rejection_reson}}</span>
                          <span class="pull-right">
                            <!-- <img style="cursor:pointer;" src="assets/img/attach.png" (click)="downloadattachment(bill.id)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <a   *ngIf="rolename=='ccmaker' || rolename=='maker'" id="openBtn" (click)="editbiller(bill.id)"><img src="assets/img/edit.png"></a>
                          </span></td>
                      </tr>
                      <div class="backdrop" [ngStyle]="{'display':deletemodal}"></div>
                      <!-- modal -->
                      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':deletemodal}">
                        <!-- modal-dialog -->
                        <div class="modal-dialog" role="document">
                          <!-- modal-content -->
                          <div class="modal-content">
                            <!-- modal-header -->
                            <div class="modal-header">
                              Delete Bill<button type="button" class="close" aria-label="Close"
                                (click)="closedelmodal()"><span aria-hidden="true">&times;</span></button>
                              <!-- <h4 class="modal-title">Login</h4> -->
                            </div>
                            <!-- modal-body -->
                            <div class="modal-body">
                             
                              <div class="row mb-4 text-left">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <label for="">Are you sure want to delete the bill?</label>
                                </div>
                              </div>
                             
                              <div class="row text-left">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button (click)="closedelmodal();deletebill()"
                                    class="btn-ok" style="margin-right:10px;">OK</button></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="backdrop" [ngStyle]="{'display':editmodal}"></div>
                      <!-- modal -->
                      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':editmodal}">
                        <!-- modal-dialog -->
                        <div class="modal-dialog" id="mod" role="document">
                          <!-- modal-content -->
                          <div class="modal-content">
                            <!-- modal-header -->
                            <div class="modal-header">
                              Edit Details<button type="button" class="close" aria-label="Close" (click)="closeeditmodal()"><span
                                  aria-hidden="true">&times;</span></button>
                              <!-- <h4 class="modal-title">Login</h4> -->
                            </div>
                            <!-- modal-body -->
                            <div class="modal-body">
                                <div class="row mb-2">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data">
                                    <table style="width:100%">
                                      <tr>
                                        <td>Consumer No.</td>
                                        <td>:</td>
                                        <td><input type="text" class="model-inputs" name="consumer_no" [(ngModel)]="consumer_no"></td>
                                      </tr>
                                      <tr>
                                        <td>GL-Expense Code</td>
                                        <td>:</td>
                                        <td><input type="text" class="model-inputs"  name="gl_expense_code" [(ngModel)]="gl_expense_code"></td>
                                      </tr>
                                      <tr>
                                        <td>Email</td>
                                        <td>:</td>
                                        <td><input type="text" class="model-inputs"  name="b_email" [(ngModel)]="b_email"></td>
                                      </tr>
                                      <tr>
                                        <td>Contact No</td>
                                        <td>:</td>
                                        <td><input type="text" class="model-inputs"  name="b_contact" [(ngModel)]="b_contact"></td>
                                      </tr>
                                      <tr>
                                        <td>Address</td>
                                        <td>:</td>
                                        <td><input type="text" class="model-inputs"  name="b_addresss" [(ngModel)]="b_addresss"></td>
                                      </tr>
                                    </table>
                                 
                                </div>
                           
                              </div>
                              </div>
                            <!-- modal-footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" (click)="submitediteddetails()">Send for Approval</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="8">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row mt-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <nav aria-label="Page navigation example" style="float:right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lang;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rang;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div> -->
  </div>
  <!-- Modal2 -->

  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>