/* 2nd card */
.padlft {
    padding: 3%;
  }
  .padlft {
    padding-left: 40px;
  }
  .span_width{
    width:42%;
  }
  .no-vert{
    vertical-align: 0px;
  }
  .zin {
    position: relative;
    margin-bottom: -45px;
    z-index: 21;
  }
  .blu-color.dndlabel {
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: #533979;
  }
  .blu-color.chota {
    font-size: 16px;
    color: #533979;
  }
  #file-drag {
    border-radius: 6px;
    background-color: #f2f6f7;
    border: dashed 2px #b69ef6;
    cursor: pointer;
    display: block;
    margin: 1em 0;
    padding: 3em;
    text-align: center;
    
  }
  /* <-------> */
  tbody tr td {
    font-size: 13px;
    color: #7a7a7a;
    height: 50px;
  }
  
  .pagination{
    margin: 0px;
  }
  
  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-radius: 20px;
    padding: 5px 13px;
    background-color: #e2dfdf;
    color: #533979;
  }
  
  .page-item:nth-child(2) .page-link {
    background-color: #533979;
    color: #fff;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem .5rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #533979;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: 5px;
    border: 0px !important;
  }
  
  .page-link a {
    border: 0px !important;
  }
  
  table {
    width: 100%;
  }
  
  .datalist {
    width: 40px;
    border: 0px;
    border-bottom: 1px solid #cfcfcf !important;
    text-align: center;
  }
  
  .buttonpad {
    padding: 6px 25px !important;
  }
  
  .buttonpad1 {
    padding: 2px 25px !important;
  }
  
  .btnmargin {
    margin-left: 2% !important;
  }
  
  .stepmrgnlft {
    margin-left: 22px;
  }
  
  input[type="checkbox"] {
  
    -webkit-appearance: initial;
    width: 16px;
    height: 16px;
    background-color: #c7c7c7;
    display: inline-block;
    border-radius: 5px;
    margin-right: 6px;
    vertical-align: sub;
    outline: none;
  }
  
  input[type="checkbox"]:hover,
  input[type="checkbox"]:checked {
    background: #64289d;
  }
  .dwn-temp{
    border: 1px solid #d9cee6;
    padding: 5px 16px;
    border-radius: 20px;
    color: #64289d;
    font-weight: bold;
    font-size: 13px;
    background: #d9cee6;
  }
  .dwn-temp img {
    width: 12px;
    vertical-align: 4px;
  }
  .detail_bill {
    padding: 2% 4% !important;
    padding-bottom: 1% !important;
    height: 100px !important;
  }
  .detail_bill1 {
    padding: 2% 2% !important;
    padding-bottom: 1% !important;
    height: 300px !important;
    margin: 0px 1.2%;
    width: 30.8%;
    overflow-x: hidden;
    text-align: unset;
    border-radius: 5px;
  }
  .detail_bill1 ul{
      list-style: none;
      padding: 0px!important;
  }
  .detail_bill1 ul li{
    border-bottom: 1px solid lightgray;
    margin: 5px 0px;
    color: #64289d;
    font-size: 13px;
  }
  .detail_bill1 ul li:before{
    content: '⇨';
    width:5px;
    height:5px;
    transform: translateY(-50%) rotate(-45deg);
    margin-right: 7px;
    font-weight:bold;
    font-size: 15px;
 }
  .inputstyle {
    border: 0px;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
    font-size: 13.1px;
    font-weight: 300;
    color: #3f4245;
  }  
  .inputstyle1 {
    border: 0px;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #3f4245;
  }  
  .inputstylerole {
    border: 0px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #3f4245;
  }  
  .inputstyletitle {
    border: 0px;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    color: #3f4245;
  }  
  .preregtxt {
    font-size: 12.4px;
    font-weight: 300;
    color: #3f4245;
  }  
  .inpstyle {
    cursor: pointer;
    background: url('/assets/images/datepicker.png') no-repeat 100% 6px !important;
    padding-bottom: 10px;
  }  
  #dropdown1 .btn {
    display: inline-block;
    padding: 6px 12px 6px 0px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0px;
  }  
  #dropdown1 button.btn.btn-default.dropdown-toggle.btn_width {
    border-bottom: 1px solid #b7b7b7;
  }  
  #dropdown1 .btn-default.active,
  .btn-default:active,
  .open>.dropdown-toggle.btn-default,
  .btn-default:hover {
    color: #333;
    background-color: #ffffff;
    border-color: #adadad;
  }
  
  #dropdown1 button.btn.btn-default.dropdown-toggle.btn_width {
    width: 100%;
  }
  
  #dropdown1 span#search_concept {
    margin-right: 88%;
  }
  
  .padln {
    padding-left: 0px !important;
  }
  
  .padrn {
    padding-right: 0px !important;
  }
  
  .mrgntopm {
    margin-top: -10px;
  }
  
  span {
    font-weight: 500;
    color: #333;
    vertical-align: -4px;
  }
  
  .span1 {
    font-weight: 500;
    color: #5c5c5c;
    margin-left: 10px;
    vertical-align: -4px;
  }
  
  .btn-show {
    border: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #6e6e6e;
    padding: 0px;
    margin: 15px 0px;
  }
  
  .div-label {
    width: 40%;
    float: left;
    color: #807199;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 13px;
    margin: 5px 0px;
  }
  
  .div-data {
    width: 60%;
    float: left;
    color: #6e6e6e;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 13px;
    margin: 5px 0px;
  }
  
  .modal-header {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }
  
  #main-table {
    border-spacing: 15px;
  }
  
  .grayStrip {
    background-color: #fafafa;
    border: solid 1px #ebedf2;
  }
  
  .anchor-bill {
    border: 1px solid #cccccc;
    color: #737373;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
  }
  
  .table-border {
    border: 1px solid #f4f4f4;
    padding: 0px !important;
    margin: 0px 0px 20px;
  }
  
  thead tr {
    background-color: #fff !important;
  }
  
  table tr td:nth-child(1) {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  thead tr td {
    font-size: 13px;
    font-weight: bold;
    height: 50px;
  }
  
  table tr:nth-child(odd) {
    background-color: #fafafa;
  }
  
  .spn {
    color: #666;
    vertical-align: unset !important;
  }
  
  .heading {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
  }
  
  .uploads{
    text-align: center;
  }
  
  .file-upload {
    width: 12%;
    margin-bottom: 4%;
    margin-top: 5%;
  }
  
  #p1 {
    text-align: center;
    color: #533979;
    font-size: 18px;
  }
  
  #p2 {
    text-align: center;
    color: #533979;
    font-size: 18px;
  }
  
  .download {
    color: #533979;
    /* cursor: pointer; */
  }
  
  #download {
    width: 5%;
    cursor: pointer;
    vertical-align: 3px;
  }
  
  /* .btn-circle {
      width: 10px !important;
      height: 10px !important;
      text-align: center;
      padding: 3px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 50%;
      vertical-align: text-bottom;
  } */
  .ml-2input {
    margin-left: 10px;
    width: 30%;
  }
  
  .big-circle1 {
    width: 18px !important;
    height: 18px !important;
    padding: 6px 0px;
    background-color: #533979;
    border-color: #533979;
    border-radius: 20px !important;
  }
  
  /* .bg-primary {
      color: #fff!important;
      background-color: #533979!important;
      border-color: #533979!important;
      border-radius: 20px !important;
  } */
  /* .tick2,.tick3,.tick4{
      margin-top: 0px !important;
      width: 8px !important;
      height: 8px !important;
      display: none;
      margin-left: 0px !important;
  } */
  .btn-circle-big .tick2 {
    display: block;
    height: 12px !important;
    width: 12px !important;
    margin-left: 2px !important;
  }
  
  .detail_bill {
    padding: 2% 4% !important;
    padding-bottom: 1% !important;
  }
  
  .inputstyle {
    border: 0px;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
    font-size: 13.1px;
    font-weight: 300;
    color: #3f4245;
  }
  
  .inputstyle1 {
    border: 0px;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #3f4245;
  }
  
  .inputstylerole {
    border: 0px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #3f4245;
  }
  
  .inputstyletitle {
    border: 0px;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    color: #3f4245;
  }
  
  .preregtxt {
    font-size: 12.4px;
    font-weight: 300;
    color: #3f4245;
  }
  
  .inpstyle {
    cursor: pointer;
    background: url('/assets/images/datepicker.png') no-repeat 100% 6px !important;
    padding-bottom: 10px;
  }
  
  #dropdown1 .btn {
    display: inline-block;
    padding: 6px 12px 6px 0px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0px;
  }
  
  #dropdown1 button.btn.btn-default.dropdown-toggle.btn_width {
    border-bottom: 1px solid #b7b7b7;
  }
  
  #dropdown1 .btn-default.active,
  .btn-default:active,
  .open>.dropdown-toggle.btn-default,
  .btn-default:hover {
    color: #333;
    background-color: #ffffff;
    border-color: #adadad;
  }
  
  #dropdown1 button.btn.btn-default.dropdown-toggle.btn_width {
    width: 100%;
  }
  
  #dropdown1 span#search_concept {
    margin-right: 88%;
  }
  
  .padln {
    padding-left: 0px !important;
  }
  
  .padrn {
    padding-right: 0px !important;
  }
  
  .mrgntopm {
    margin-top: -10px;
  }
  
  span {
    font-weight: 500;
    color: #333;
    vertical-align: -4px;
  }
  
  .span1 {
    font-weight: 500;
    color: #5c5c5c;
    margin-left: 10px;
    vertical-align: -4px;
  }
  
  strong {
    font-weight: 500;
  }
  
  .modelWidthn {
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
  }
  
  .mybody2n {
    padding: 50px 20px
  }
  
  .brdlft {
    border-left: 1px solid #eee;
  }
  
  .chkselect {
    background-color: #64289d;
  }
  
  .prevlghd {
    font-size: 15.8px;
    font-weight: 600;
    color: #3f4245;
  }
  
  .buttonpad {
    padding: 6px 25px !important;
    margin-bottom: 5%;
    width: 100%;
  }
  
  .btnmargin {
    margin-left: 2% !important;
  }
  
  input[type="checkbox"] {
  
    -webkit-appearance: initial;
    width: 16px;
    height: 16px;
    background-color: #c7c7c7;
    display: inline-block;
    border-radius: 5px;
    margin-right: 6px;
    vertical-align: sub;
    outline: none
  }
  
  input[type="checkbox"]:hover,
  input[type="checkbox"]:checked {
    background: #64289d;
  }
  
  
  .contact-form .label {
    margin-bottom: 20px;
    position: absolute;
    left: 0px !important;
    padding-left: 0px !important;
    bottom: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #533979;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  /* .tick2,.tick3,.tick4{
      margin-top: -3px;
      width: 10px;
      height: 10px;
      display: none;
      margin-left: 3px;
  } */
  .inptxt {
    font-size: 13.1px;
    font-weight: 100;
    line-height: 1.83;
    color: #666666;
    padding: 6px 0px;
  }
  
  .preregtxt {
    font-size: 12.4px;
    font-weight: 300;
    color: #666666;
  }
  
  /* .stepwizard-row2:before {
      width: 70%;
      right: 160px;
  } */
  .inputstyle {
    border: 0px;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
  }
  
  .inpstyle {
    cursor: pointer;
    background: url('/assets/images/datepicker.png') no-repeat 100% 6px !important;
  }
  
  #dropdown1 .btn {
    display: inline-block;
    padding: 6px 12px 6px 0px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0px;
  }
  
  #dropdown1 button.btn.btn-default.dropdown-toggle.btn_width {
    border-bottom: 1px solid #b7b7b7;
  }
  
  #dropdown1 .btn-default.active,
  .btn-default:active,
  .open>.dropdown-toggle.btn-default,
  .btn-default:hover {
    color: #333;
    background-color: #ffffff;
    border-color: #adadad;
  }
  
  #dropdown1 button.btn.btn-default.dropdown-toggle.btn_width {
    width: 100%;
  }
  
  #dropdown1 span#search_concept {
    margin-right: 88%;
  }
  
  .padln {
    padding-left: 0px !important;
  }
  
  .padrn {
    padding-right: 0px !important;
  }
  
  .mrgntopm {
    margin-top: -10px;
  }
  
  
  
  .modelWidthn {
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
  }
  
  .mybody2n {
    padding: 50px 20px
  }
  
  .brdlft {
    border-left: 1px solid #eee;
  }
  
  .chkselect {
    background-color: #64289d;
  }
  
  .prevlghd {
    font-size: 15.8px;
    font-weight: 600;
    color: #3f4245;
  }
  
  .buttonpad {
    padding: 6px 25px !important;
  }
  
  .btnmargin {
    margin-left: 4% !important;
  }
  
  input[type="checkbox"] {
  
    -webkit-appearance: initial;
    width: 16px;
    height: 16px;
    background-color: #c7c7c7;
    display: inline-block;
    border-radius: 5px;
    margin-right: 6px;
    vertical-align: sub;
    outline: none
  }
  
  input[type="checkbox"]:hover,
  input[type="checkbox"]:checked {
    background: #64289d;
  }
  
  .labpos {
  
    padding-left: -10px !important;
  
  }
  
  .privilegeHead td {
    text-align: center;
  }
  
  .privilegeData td {
    padding-left: 35px !important;
    border-right: 1px solid #d5d5d5;
  }
  
  .labelData {
    padding: 2%;
    font-size: 14px;
    border-bottom: 1px solid #d5d5d5;
    width: 100%;
  }
  
  .form-control {
    box-shadow: none !important;
    border-radius: 0px !important;
    margin-top: 13px;
  }
  
  .stepwizard {
    /* margin-top: 30px; */
    display: table;
    width: 80%;
    position: relative;
    margin: 15px 0;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline;
  }
  
  /* .upload-btn-wrapper .btn {
      
    } */
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .top_back {
    padding-left: 4% !important;
    margin-top: 0% !important;
  }
  
  .stepwizard-row:before {
    top: 14px !important;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 74% !important;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
    right: 112px !important;
  }
  
  @media only screen and (max-width: 1100px) {
    .stepwizard-row:before {
      top: 14px !important;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 74% !important;
      height: 1px;
      background-color: #ccc;
      z-index: 0;
      right: 91px !important;
    }
    }