<app-headerchecker></app-headerchecker>
<div class="row h-100" style="background-color:#f4f4f4;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">List of Payments</div>
    </div>
    <div class="row" style="margin-bottom:20px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-bottom:20px;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="assets/img/search-icon.png" alt="" width="5%;"> <input type="search" placeholder="Search for Location, Biller Type or Utility">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                <input list="browsers" value="All Categories" id="datalist" class="ml-2" style="margin-left:10px;width:125px;padding:4px 5px 4px 15px;">
                <datalist id="browsers">
                  <option value="Internet Explorer" selected>
                  <option value="Firefox">
                  <option value="Chrome">
                  <option value="Opera">
                  <option value="Safari">
                </datalist>
                <input list="date" id="datalist" value="This Month" class="ml-2 datelist" style="margin-left:10px;width:125px">
                <datalist id="date">
                  <option value="This Month">
                  <option value="This Week">
                </datalist>
                <!-- <button id="button" type="button" class="ml-2"><img src="../../../assets/img/downloadlist.png" alt=""> Download File</button> -->
                <a id="button" class="btn btn-primary btn-outline ResponsiveBtnWidth openModal" (click)="closeModalDialog()"
                  style="width:30%;margin-left:10px;"><img src="assets/img/downloadlist.png" alt=""> Download
                  File</a>
                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                <!-- modal -->
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                  <!-- modal-dialog -->
                  <div class="modal-dialog" role="document">
                    <!-- modal-content -->
                    <div class="modal-content">
                      <!-- modal-header -->
                      <div class="modal-header">
                        Generate Customize Report<button type="button" class="close" aria-label="Close" (click)="openModalDialog()"><span
                            aria-hidden="true">&times;</span></button>
                        <!-- <h4 class="modal-title">Login</h4> -->
                      </div>
                      <!-- modal-body -->
                      <div class="modal-body">
                        <div class="row"></div>
                      </div>
                      <!-- modal-footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="closeModalDialog()">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="margin:0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                <table id="main-table" [mfData]="payments" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                  <thead>
                    <tr>
                        <td>
                            Sr.No.
                         </td>
                      <td>Bill Name <img src="assets/img/Filter.png" alt=""></td>
                      <td>Consumer no.<img src="assets/img/Filter.png" alt=""></td>
                      <td>Amount <img src="assets/img/Filter.png" alt=""></td>
                      <td>Bill Date <img src="assets/img/Filter.png" alt=""></td>
                      <td>Due Date <img src="assets/img/Filter.png" alt=""></td>
                      <td>Status</td>
                      <!-- <td>Payment Status</td> -->
                      <td>&nbsp;</td>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let payment of mf.data; let i=index;">
                    <tr>
                        <td>{{i+1}}</td>
                      <td>{{payment.bill.biller}}</td>
                      <td>{{payment.bill.consumerno}}</td>
                      <td><i class="fa fa-inr"></i> {{payment.amount}}</td>
                      <td>{{payment.billdate}}</td>
                      <td>{{payment.duedate}}</td>
                      <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': payment.status === 'Approved', 'Rejected': payment.status  === 'Rejected', 'Pending': payment.status  === 'Pending'}" role="button">{{payment.status}}</a></td>
                      <!-- <td>{{payment.paymentstatus}}</td> -->
                      <td style="padding:0px 5px;"><img src="assets/img/tb_downarrow.png" alt="" (click)="payment.collapsed=!payment.collapsed;"></td>
                    </tr>
                    <tr class="rowShow grayStrip" style="" *ngIf="payment.collapsed">
                      <td class="custmtd" colspan="8">
                        <div class="tablediv">
                          <h5>Biller Details</h5>
                          <div class="mb-1">
                              <div class="span_width">Short Name</div>  <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.bill.shortname}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">GL/Expense Code </div>  <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.bill.expensecode}}</div>
                            </div>
                            <div class="mb-1">
                                <div class="span_width">Location</div> <span> : </span> &nbsp;
                                <div class="bold_span" *ngIf="payment.bill.state=='MH'" >Maharashtra</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='RJ'" >Rajasthan</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='KA'" >Karnataka</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='AP'" >Andhra Pradesh</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='GJ'" >Gujarat</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='DL'" >Delhi</div>
                              </div>
                            <div class="mb-1">
                              <div class="span_width">Ref. No. 1</div>  <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.billnumber}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Ref. No. 2</div>  <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.billnumber}}</div>
                            </div>
                        </div>
                        <div class="tablediv">
                            <div class="mb-1">
                                <h5>Contact Details</h5>
                                <div class="span_width">Mobile No</div>  <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.contact}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Address </div>  <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.billaddress}}</div>
                              </div>
                              <div>
                                <div class="span_width">Email</div>  <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.email}}</div>
                              </div>
                        </div>
                        <div class="tablediv noborder">
                            <div class="mb-1">
                                <h5>Other Details</h5>
                                <div class="span_width">File Name </div>  <span> : </span> &nbsp;
                                <div class="bold_span">None</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Initiated by </div>  <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.initiatedby}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Initiated on  </div>  <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.initiatedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                              </div>
                              <div class="mb-1">
                                  <div class="span_width">Approved by </div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.approvedby}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">Approved on  </div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.approvedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                                </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="rowShow grayStrip" style="" *ngIf="payment.collapsed">
                      <td colspan="8"><span class="pull-right"><a><img src="assets/img/page.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <a data-toggle="modal" href="#myModal" id="openBtn"><img src="assets/img/attach.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- <a
                            href=""><img src="../../../assets/img/edit.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><img
                              src="../../../assets/img/delete.png" alt=""></a>--> </span></td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" style="display:none;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <nav aria-label="Page navigation example" style="float:right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lang;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rang;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
