<div class="row h-100" style="background-color:#f4f4f4;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">List of Payments</div>
    </div>
    <div class="row" style="margin-bottom:20px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
             
              <div class="clear10"></div>
              <div class="clear10"></div>
              
            <div class="row" style="margin-bottom:20px;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="assets/img/search-icon.png" alt="" width="5%;"> <input type="search" placeholder="Search for Location, Biller Type or Utility" [(ngModel)]="filter">
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                <ng-multiselect-dropdown
                  [placeholder]="'Download List'"
                  [data]="dropdownDownload"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelectDown($event)"
                  (onSelectAll)="onSelectAllDown($event)">
                </ng-multiselect-dropdown>
              </div>

              <!-- <div class="col-half-offset text-center" id="p1">
                <ng-multiselect-dropdown
                  [ngClass]="'drop-seven'"
                  [placeholder]="'All Categories'"
                  [data]="dropdownCat"
                  [(ngModel)]="selectedItems1"
                  [settings]="dropdownSettings1"
                  (onSelect)="onCatSelect($event)"
                  [(ngClass)]="all-cat">
                </ng-multiselect-dropdown>
              </div> -->
              <!-- <div class="col-half-offset text-center" id="p2">
                <angular2-date-picker [ngClass]="'popup-datepicker'" [(ngModel)]="fromfilter" [settings]="settings"></angular2-date-picker>
              </div>
              <div class="col-half-offset text-center" id="p3">
                <angular2-date-picker [ngClass]="'popup-datepicker'" [(ngModel)]="tofilter" [settings]="settings"></angular2-date-picker>
              </div>
              <div class="col-half-offset text-center" id="p4">
                <ng-multiselect-dropdown
                [ngClass]="'drop-fifth'"
                [placeholder]="'Transaction Status'"
                [data]="tsdddata"
                [(ngModel)]="tsselected"
                [settings]="tsdropdownsettings"
                (onSelect)="ontsselect($event)">
              </ng-multiselect-dropdown>
              </div> -->
              <!-- <div class="col-half-offset text-center" id="p5">
                <ng-multiselect-dropdown
                [ngClass]="'drop-sixth'"
                [placeholder]="'Payment Status'"
                [data]="psdddata"
                [(ngModel)]="psselected"
                [settings]="psdropdownsettings"
                (onSelect)="onpsSelect($event)">
              </ng-multiselect-dropdown>
              </div> -->

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                <!-- <ng-multiselect-dropdown
                  [placeholder]="'This Month'"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems2"
                  [settings]="dropdownSettings2"
                  (onSelect)="onIntervalSelect($event)"
                  >
                </ng-multiselect-dropdown> -->

                <!-- <button id="button" type="button" class="ml-2"><img src="../../../assets/img/downloadlist.png" alt=""> Download File</button> -->
                
               
                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                <!-- modal -->
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                    <!-- modal-dialog -->
                    <div class="modal-dialog" role="document">
                      <!-- modal-content -->
                      <div class="modal-content">
                        <!-- modal-header -->
                        <div class="modal-header">
                          Generate Customize Report<button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span
                              aria-hidden="true">&times;</span></button>
                          <!-- <h4 class="modal-title">Login</h4> -->
                        </div>
                        <!-- modal-body -->
                        <div class="modal-body">
                          <div class="row mb-4 text-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <label for="" class="pop-input-text">Report Name :</label>
                              <input type="text" class="pop-input" placeholder="Eg. Quarterly Report">
                            </div>
                          </div>
                          <div class="row mb-4 text-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <label for="">Select the field to create a report</label>
                            </div>
                          </div>
                          <div class="row mb-2 text-left">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  <input type="checkbox" (change)="selectllpara()" name="selectallpara"  [(ngModel)]="selectallpara"> <span class="spn-modal">Select All
                                      Type</span>
                              </div>
                          </div>
                          <div class="row mb-2 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custbill_name" [(ngModel)]="custbill_name"> <span class="spn-modal">Bill Name</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custamount" [(ngModel)]="custamount"> <span class="spn-modal">Amount</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custconsumer_no" [(ngModel)]="custconsumer_no"> <span class="spn-modal">Reference No</span>
                            </div>
                          </div>
                          <div class="row mb-2 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custconsumer_name" [(ngModel)]="custconsumer_name"> <span class="spn-modal">Consumer Name</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custstatus" [(ngModel)]="custstatus"> <span class="spn-modal">Status</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custpayment_status" [(ngModel)]="custpayment_status"> <span class="spn-modal">Payment Status</span>
                            </div>
                          </div>
                          <div class="row mb-2 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custshort_name" [(ngModel)]="custshort_name"> <span class="spn-modal">Short Name</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="custdue_date" [(ngModel)]="custdue_date"> <span class="spn-modal">Due Date</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custbill_date" [(ngModel)]="custbill_date"> <span class="spn-modal">Bill Date</span>
                            </div>
                          </div>
                          <div class="row mb-2 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="custcard_no" [(ngModel)]="custcard_no"> <span class="spn-modal">Card No</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="custlocation" [(ngModel)]="custlocation"> <span class="spn-modal">Location</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="custbill_no" [(ngModel)]="custbill_no"> <span class="spn-modal">Bill No</span>
                              </div>
                          </div>
                          <div class="row mb-2 text-left">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  <input type="checkbox" name="custemail" [(ngModel)]="custemail"> <span class="spn-modal">Email</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="custmobile_no" [(ngModel)]="custmobile_no"> <span class="spn-modal">Mobile No</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  <input type="checkbox" name="custaddress" [(ngModel)]="custaddress"> <span class="spn-modal">Address</span>
                                </div>
                            </div>
                            <div class="row mb-2 text-left">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  
                                    <input type="checkbox" name="custcrn" [(ngModel)]="custcrn"> <span class="spn-modal">CRN</span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="checkbox" name="custinitiated_by" [(ngModel)]="custinitiated_by"> <span class="spn-modal">Initiated by</span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <!-- <input type="checkbox" name="custbill_name" [(ngModel)]="custbill_name"> <span class="spn-modal">File Name</span> -->
                                    <input type="checkbox" name="custinitiated_at" [(ngModel)]="custinitiated_at"> <span class="spn-modal">Initiated on</span>
                                  </div>
                              </div>
                              <div class="row mb-2 text-left">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                      <input type="checkbox" name="custorderid" [(ngModel)]="custorderid"> <span class="spn-modal">Order Id</span>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                      <input type="checkbox" name="custcomment" [(ngModel)]="custcomment"> <span class="spn-modal">Comment</span>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                      <input type="checkbox" name="custapproved_on" [(ngModel)]="custapproved_on"> <span class="spn-modal">Approved on</span>
                                    </div>
                                </div>
                                <div class="row mb-2 text-left">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                   
                                      <!-- <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Approved on</span> -->
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                      
                                      </div>
                                  </div>
                          <div class="row mb-4 text-left">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <table>
                                    <tr>
                                      <td style="padding:0px; width:10%">From</td>
                                      <td style="padding:0px; width:28%"><angular2-date-picker [ngClass]="'popup-datepicker'" [(ngModel)]="filterfromdate" [settings]="settings"></angular2-date-picker></td>
                                      <td style="padding-left:7px; width:10%">To</td>
                                      <td style="padding-right:10px; width:31%"><angular2-date-picker [ngClass]="'popup-datepicker'" [(ngModel)]="filtertodate" [settings]="settings"></angular2-date-picker></td>
                                    </tr>
                                  </table>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                          </div>
                          <div class="row text-left">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button (click)="closeModalDialog();getcustomreport()" class="btn-ok" style="margin-right:10px;">OK</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row mb-3" style="margin-bottom:15px;">
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 txt text-left">
              <table class="entry-table">
                <tr>
                  <td class="unitheaders">No of payments</td>
                  <td class="unitheaders">Total amount</td>
                </tr>
                <tr>
                  <td>{{paymentData.length}}</td>
                  <td><i class="fa fa-rupee"></i>{{totalamount| numberfr}}</td>
                </tr>
              </table>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right txt"></div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right txt">
                <!-- <button class="btn bg-primary mrtfi nextBtn nxt2 ruleNextBtn mrg0Auto nxtbbgcolor" (click)="getfilterdata()" type="button" style="border-radius:25px;">Filter Payment</button> -->
              </div>
            </div>
            <div class="row" style="margin:0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                <table id="main-table" [mfData]="paymentData" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                  <thead>
                    <tr>
                      <td>Sr.No.</td>
                      <td>Bill Name <img src="assets/img/Filter.png" alt=""></td>
                      <td>Amount <img src="assets/img/Filter.png" alt=""></td>
                      <td>Reference No<img src="assets/img/Filter.png" alt=""></td>
                      <td>TRN<img src="assets/img/Filter.png" alt=""></td>
                      <td>Status <img src="assets/img/Filter.png" alt=""></td>
                      <td class="text-center">Payment Status <img src="assets/img/Filter.png" alt=""></td>
                      <td>&nbsp;</td>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let payment of mf.data|filter:filter;let i=index;">
                    <tr>
                      <td>{{i+1}}</td>
                      <td>{{payment.billername}}</td>
                      <td><i class="fa fa-rupee"></i> {{payment.amount}}</td>
                      <td>{{payment.consumernumber}}</td>
                      <td>{{payment.crn}}</td>
                      <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': payment.transstatus === 'Approved', 'Rejected': payment.transstatus  === 'Rejected', 'Pending': payment.transstatus  === 'Pending'}"  role="button">{{payment.transstatus}}</a></td>
                    
                      <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': payment.paymentstatus === 'Card Debited','Pending': payment.paymentstatus  === 'Pending','Rejected': payment.paymentstatus  === 'REJECT'}"  role="button">{{payment.paymentstatus}}</a></td>
                      <td style="padding:0 5px;"><img src="assets/img/tb_downarrow.png" alt="" (click)="payment.collapsed=!payment.collapsed;getapproverdetails(payment.id,i)"></td>
                    </tr>
                    <tr class="rowShow grayStrip" *ngIf="payment.collapsed && selectedIndex==i">
                      <td class="custmtd" colspan="8">
                        <div class="tablediv">
                          <h5>Biller Details</h5>
                        
                          <div class="mb-1">
                            <div class="span_width">GL/Expense Code</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.glexpensecode}}</div>
                          </div>
                          <div class="mb-1">
                              <div class="span_width">{{payment.parameter1}}</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.consumernumber}}</div>
                            </div>
                          <div class="mb-1">
                            <div class="span_width">Bill Date</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.billdate}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Due Date</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.duedate}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">UTR</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.utr}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Cut-Off Date</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.cutoffdate}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Batch</div> <span> : </span> &nbsp;
                            <div class="bold_span" *ngIf="payment.cutofftime=='12:00 AM'">4</div>
                            <div class="bold_span" *ngIf="payment.cutofftime=='12:00 PM'">1</div>
                            <div class="bold_span" *ngIf="payment.cutofftime=='02:00 PM'">2</div>
                            <div class="bold_span" *ngIf="payment.cutofftime=='05:00 PM'">3</div>
                            <div class="bold_span" *ngIf="payment.cutofftime=='--'">--</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Location</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.location}}</div>
                           
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Bill No</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.billno}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Card No</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.cardno}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width" *ngIf="payment.displaynamebu.length>0">{{payment.displaynamebu}}</div> <span *ngIf="payment.displaynamebu.length>0"> : </span> &nbsp;
                            <div class="bold_span" *ngIf="payment.bucodebuname.length>0">{{payment.bucodebuname}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width" *ngIf="payment.displaynamecircle.length>0">{{payment.displaynamecircle}}</div> <span *ngIf="payment.displaynamecircle.length>0"> : </span> &nbsp;
                            <div class="bold_span" *ngIf="payment.circle.length>0">{{payment.circle}}</div>
                          </div>
      
                        </div>
                        <div class="tablediv table2">
                          <h5>Contact Details</h5>
                          <div class="mb-1">
                            <div class="span_width">Mobile No</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.mobileno}}</div>
                          </div>
                         
                          <div>
                            <div class="span_width">Email</div> <span> : </span> &nbsp;
                            <span class="bold_span" tooltip="{{payment.email}}" placement="top" show-delay="500">{{payment.email}}</span>
                          </div>
                          <h5>Bank Details</h5>
                          <div>
                            <div class="span_width">Account Number</div> <span> : </span> &nbsp;
                            <span class="bold_span" tooltip="{{payment.accountno}}" placement="top"
                              show-delay="500">{{payment.accountno}}</span>
                          </div>
                          <div>
                            <div class="span_width">IFSC</div> <span> : </span> &nbsp;
                            <span class="bold_span" tooltip="{{payment.ifsc}}" placement="top"
                              show-delay="500">{{payment.ifsc}}</span>
                          </div>
                          <div>
                            <div class="span_width">Bank Name</div> <span> : </span> &nbsp;
                            <span class="bold_span" tooltip="{{payment.ifsc}}" placement="top"
                              show-delay="500">{{payment.bankname}}</span>
                          </div>
                          <div>
                            <div class="span_width">Branch Name</div> <span> : </span> &nbsp;
                            <span class="bold_span" tooltip="{{payment.ifsc}}" placement="top"
                              show-delay="500">{{payment.branchname}}</span>
                          </div>
                        </div>
                        <div class="tablediv noborder table3">
                          <h5>Other Details</h5>
                          <!-- <div class="mb-1">
                            <div class="span_width">CRN</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.transaction_ref_no}}</div>
                          </div> -->
                          <div class="mb-1">
                            <div class="span_width">File Name</div> <span> : </span> &nbsp;
                            <div class="bold_span" tooltip="{{payment.uploadfilename}}" placement="top"
                            show-delay="500">{{payment.uploadfilename}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Initiated by</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.initiatedby}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Initiated on</div> <span> : </span> &nbsp;
                            <div class="bold_span" tooltip="{{payment.initiateddate}} | {{payment.initiatedtime}}" placement="top"
                            show-delay="500">{{payment.initiateddate}} | {{payment.initiatedtime}}</div>
                          </div>
                          <ng-container *ngFor="let approver of approverDetails">
                            <div class="mb-1">
                              <div class="span_width" *ngIf="approver.ischecked==1">Approved by</div> <span *ngIf="approver.ischecked==1"> : &nbsp;</span> 
                              <div class="span_width" *ngIf="approver.ischecked==0">Rejected by</div> <span *ngIf="approver.ischecked==0"> : &nbsp;</span> 
                            
                              <div class="bold_span" tooltip="{{approver.approvedby}}" placement="top"
                              show-delay="500">{{approver.approvedby}} <span *ngIf="approver.group.length>0" tooltip="{{approver.group}}" placement="top"
                                show-delay="500">({{approver.group}})</span></div>
                             
                            </div>
                            <div>
                              <div class="span_width" *ngIf="approver.ischecked==1">Approved on</div> <span *ngIf="approver.ischecked==1"> : &nbsp;</span> 
                              <div class="span_width" *ngIf="approver.ischecked==0">Rejected on</div> <span *ngIf="approver.ischecked==0"> : &nbsp;</span>
                              <div class="bold_span"  tooltip="{{approver.approveddate}} | {{approver.approvedtime}}" placement="top"
                              show-delay="500">{{approver.approveddate}} | {{approver.approvedtime}}</div>
                            </div>
                           
                            </ng-container>
                        </div>
                      </td>
                    </tr>
                    <tr class="rowShow grayStrip" *ngIf="payment.collapsed && selectedIndex==i">
                      <td colspan="8">
                          <span class="text-left"><label style="color: #64289d;">Comment : &nbsp;</label></span>
                       
                      <span class="pull-right"><a><img src="assets/img/popup.png" style="width:25px;" (click)="getpaymentlogs(payment.carddebiteddate,payment.carddebitedtime,payment.utrdate,payment.utrtime,payment.payrefundreason,payment.paymentstatus)"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <a data-toggle="modal" href="javascript:void(0)" id="openBtn"><img src="assets/img/attach.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                        <!-- <a href="javascript:void(0)" *ngIf="payment.transstatus=='Pending' && (rolename=='maker' || rolename=='ccmaker')"><img src="assets/img/edit.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                        <a href="javascript:void(0)" *ngIf="payment.transstatus=='Pending' && (rolename=='maker' || rolename=='ccmaker')" (click)="opendeletemodal(payment.id)"><img src="assets/img/delete.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a><img src="assets/img/page.png"></a>
                      </span>
                      </td>
                    </tr>
                     
                     
                      <div class="backdrop" [ngStyle]="{'display':displayLogs}"></div>
                      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayLogs}">
                        <!-- modal-dialog -->
                        <div class="modal-dialog" id="logs" role="document">
                          <!-- modal-content -->
                          <div class="modal-content">
                            <!-- modal-header -->
                            <div class="modal-header">
                              Transaction Logs<button type="button" class="close" aria-label="Close" (click)="openModalDialog2()"><span
                                  aria-hidden="true">&times;</span></button>
                              <!-- <h4 class="modal-title">Login</h4> -->
                            </div>
                            <!-- modal-body -->
                            <div class="modal-body">
                              <div class="row mb-2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <table style="width:100%" id="modal-table">
                                    <thead>
                                      <tr>
                                        <td>State</td>
                                        <td>Date</td>
                                        <td>Time</td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Card Debited</td>
                                        <td>{{carddebitdate}}</td>
                                        <td>{{carddebittime}}</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>UTR</td>
                                        <td>{{paysuccessdate}}</td>
                                        <td>{{paysuccesstime}}</td>
                                      
                                      </tr>
                                     
                                      <tr>
                                        <td>Card Refunded</td>
                                        <td>{{payfaildate}}</td>
                                        <td>{{payfailtime}}</td>
                                       
                                      </tr>
                                      <tr>
                                        <td>Refund Reason</td>
                                        <td colspan="2">{{rejectreason}}</td>
                                       
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>                                
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><button class="btn btn-default" type="button" (click)="openModalDialog2()">Close</button></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="backdrop" [ngStyle]="{'display':deletemodal}"></div>
                      <!-- modal -->
                      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':deletemodal}">
                        <!-- modal-dialog -->
                        <div class="modal-dialog" role="document">
                          <!-- modal-content -->
                          <div class="modal-content">
                            <!-- modal-header -->
                            <div class="modal-header">
                              Delete Payment<button type="button" class="close" aria-label="Close"
                                (click)="closedelmodal()"><span aria-hidden="true">&times;</span></button>
                              <!-- <h4 class="modal-title">Login</h4> -->
                            </div>
                            <!-- modal-body -->
                            <div class="modal-body">
                             
                              <div class="row mb-4 text-left">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <label for="">Are you sure want to delete the payment?</label>
                                </div>
                              </div>
                             
                              <div class="row text-left">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button (click)="closedelmodal();deletepayment()"
                                    class="btn-ok" style="margin-right:10px;">OK</button></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            
           
           
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" style="display:none;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <nav aria-label="Page navigation example" style="float:right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lang;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rang;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
