
<div class="clear20"></div>
<div _ngcontent-c4="" class="clear20"></div>
<div class="container ">
   <section class="content ">
      <div class="clearfix"></div>
      <form role="form" class="contact-form" id="main1">
         <div class="col-md-12">
            <div class="row setup-content form_bg" id="step-1">
               <div class="col-xs-12 padlrnone">
                  <h4>Create Rules</h4>
                  <div class="BorderBottom"></div>
                  <div class="col-md-12 extra_padd">
                     <div class="col-md-7 col-sm-12">
                        <div class="">
                           <div class="clear30"></div>
                           <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="col-xs-12 col-sm-10 col-md-10 padln">
                                 <input class="inputstyle" id="lwramount" type="text" placeholder="Lower Limit : 0" name="lwramount" [(ngModel)]="ruleField.lwramount" autocomplete='off'>
                              </div>
                           </div>
                           <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="col-xs-12 col-sm-10 col-md-10 padln">
                                 <input class="inputstyle" type="text" id="upramount" name="upramount" placeholder="Upper Limit : 1000000000"  [(ngModel)]="ruleField.upramount" autocomplete='off'>
                              </div>
                           </div>
                           <div class="col-xs-12 col-sm-10  col-md-10 input_fields_wrap padln custBtnWrap">
                              <div class="clear20"></div>
                              <div class="col-xs-12 col-sm-4 col-md-3 padrn">
                                 <p class="sgtxt">Select Groups :</p>
                              </div>
                              <div class="col-xs-3 col-sm-3 col-md-3 padln">
                                 <div id="" class="input-group-btn search-panel firstgrp">
                                    <select name="group1" id="g1"  aria-controls="example" class="input-sm bbor groupfont"  [(ngModel)]="group1">
                                      
                                       <option *ngFor="let group of usergroups" value={{group.grpname}}>Group {{group.grpname}}</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-xs-2 col-sm-2 col-md-2 ">
                                 <div id="andor" class="input-group-btn search-panel">
                                    <select name="andor" aria-controls="example" class=" input-sm bbor groupfont" id="cnd1" [(ngModel)]="condition">
                                       
                                       <option value="&">&</option>
                                       <option value="OR">OR</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-xs-3 col-sm-3 col-md-3">
                                 <div id="secondgrp" class="input-group-btn search-panel">
                                    <select name="group2" aria-controls="example" class=" input-sm bbor groupfont" id="g2" [(ngModel)]="group2">
                                        <option *ngFor="let group of usergroups" value={{group.grpname}}>Group {{group.grpname}}</option>
                                    </select>
                                 </div>
                              </div>
                              <!-- <div class="col-xs-1 col-sm-1 col-md-1">
                                 <button class="btn add-more" id="add_div0" type="button">+</button>
                              </div> -->
                           </div>
                           <div class="copyyyy">
                           </div>
                           <div class="clear20"></div>
                           <div class="col-md-12 col-xs-12 col-sm-12">
                              <div class="form-field col x-50">
                                 <button class="btn bg-primary nextBtn createrule" type="button" (click)="submitRule(group1,group2,condition,ruleField)">Create Rule</button>
                              </div>
                           </div>
                           <div class="clear20"></div>
                        </div>
                     </div>
                     <div class="col-md-5 col-sm-12">
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-xs-12 col-sm-12 col-md-12 padlrnone" id="step-2">
                        <div class="table-responsive">
                           <table id="fold-table" class="table table-hover fold-table">
                              <thead>
                                 <tr class="cust-color">
                                    <td class="tdwidth">
                                        <input type="checkbox" name="all" (change)="checkAll(isSelected)">
                                    </td>
                                    <td>
                                       <span class="bold-txtn">Rule category</span>
                                    </td>
                                    <td>
                                       <span class="bold-txtn">Lower Limit</span> 
                                    </td>
                                    <td>
                                       <span class="bold-txtn">Upper Limit</span>
                                    </td>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let rule of rules; let i = index">
                                     <td><input type="checkbox" (change)="updateRuleList(rule , i)"  [checked]="isSelected"></td>
                                     <td>{{rule.ruleformula}}</td>
                                     <td>{{rule.lwramount}}</td>
                                     <td>{{rule.upramount}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="col-md-12">
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="submitRules();" class="btn bg-primary nextBtn Approve" type="button">Send for Approval</button>
                        </div>
                        <div class="clear20"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
    
   </section>
</div>
