.roleheader{
  padding-top: 10%;
  color:#ccc0d4;
  font-weight: bold;
}

/* Bill and Payment multiple dropdown */
.menu1 li,
.menu2 li,
.menu3 li,
.menu4 li{
  color: #555;
  letter-spacing: 0.5px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 0px 10px;
}
.menu1 li a,
.menu2 li a,
.menu3 li a,
.menu4 li a{
  color: #555;
}
.drop1:hover>.menu1,
.drop2:hover>.menu2,
.drop3:hover>.menu3,
.drop4:hover>.menu4{
  display: block;
  padding: 0;
}
.drop1>.menu1,
.drop2>.menu2,
.drop3>.menu3,
.drop4>.menu4{
  position: absolute;
  left: 225px;
  top: 4%;
}
/* Bill and Payment multiple dropdown */

@media only screen and (max-width: 1920px){ 
  .navbar-bootsnipp .navbar-nav>li:not(.dropdown-right)>.dropdown-menu {
    margin-left: -1px;
    right: auto;
    border-top: 5px solid #fff33b;
    background: #ffffff;
  }
  .roleheader{
    padding: 14px 0%;
    color:#ccc0d4;
    font-weight: bold;
  }
  .navbar-bootsnipp .navbar-nav>li>.dropdown-menu {
    border-radius: 0;
    margin-right: -1px;
    min-width: 230px;
    padding: 0px;
  }
  #user {
    width: 20px;
    height: 20px;
    vertical-align: 1px;
  }
  .navbar-brand{
    height:57px ;
  }
  .container-fluid{
    height: 57px;
  }
}