<nav class="[ navbar ][ navbar-bootsnipp animate navbar-fixed-top]" role="navigation">
  <div class="[ container-fluid ]">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="[ navbar-header ]">
      <a class="[ navbar-brand ][ animate ]" [routerLink]="['/main']">
        <img src="assets/img/logo.png" />
      </a>
      <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="[ sr-only ]">Toggle navigation</span>
        <span class="[ icon-bar ]"></span>
        <span class="[ icon-bar ]"></span>
        <span class="[ icon-bar ]"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
      <ul class="[ nav navbar-nav ] customLeftMargin nav">
        <li class="dash" [ngClass]="dashActive ? 'active' : ''" (click)="clickDash();clickDashEvent()"><a class="[ animate ]"
            [routerLink]="['/main/dashboard']"><i class="nav-ico-menu"> </i>Dashboard</a></li>

        <li class="menu_sel" [ngClass]="otherActive ? 'active' : ''" *ngIf="showsolutions">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="openotherdrop();clickOtherEvent()">Solutions
          </a>
          <ul class="[ dropdown-menu ]" role="menu" [ngStyle]="{'display':displayotherdrop}">
            <li class="col-md-12 cust" *ngIf="showsuppliermodule"><a class="[ animate ]" href="{{supplierurl}}" target="_blank" (click)="closealldrop()">
                Supplier Module</a></li>
            <li class="col-md-12 cust" *ngIf="showgstmodule"><a class="[ animate ]"  href="{{gsturl}}" target="_blank" (click)="closealldrop()"
              href="javascript:void(0)">
                GST Module </a></li>
          </ul>
        </li>
        <li *ngIf="rolename=='as' || rolename=='ccadmin' || rolename=='ccchecker' || rolename=='ccmaker' || rolename=='aschecker'"
          class="dash" [ngClass]="orgActive ? 'active' : ''" (click)="clickOrg();clickOrgEvent()"><a class="[ animate ]"
            [routerLink]="['/main/organisation']"><i class="nav-ico-menu"> </i>Organisation</a></li>
        <li *ngIf="rolename=='as' || rolename=='ccadmin' || rolename=='ccchecker' || rolename=='ccmaker' || rolename=='aschecker'"
          class="menu_sel" [ngClass]="userActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="opennuser();clickUserEvent()">Users
          </a>
          <ul class="[ dropdown-menu ]" role="menu" [ngStyle]="{'display':displayuserdrop}">
            <li class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/userview']">
                <span> <img id="user" src="assets/img/person.png" /></span>
                View Users </a></li>
            <li *ngIf="rolename=='ccadmin' || rolename=='ccchecker' || rolename=='ccmaker'" class="col-md-12 cust"><a
                class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/unitary-user']"><span>
                  <img id="user" src="assets/img/person.png" /></span>
                Add Unitary </a></li>
            <li *ngIf="rolename=='ccadmin' || rolename=='ccchecker' || rolename=='ccmaker'" class="col-md-12 cust"><a
                class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/user-bulk']"><span>
                  <img id="user" src="assets/img/person.png" /></span>
                Add Bulk </a></li>
            <li *ngIf="rolename=='as' || rolename=='aschecker'" class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()"
                [routerLink]="['/main/pending-user']"><span>
                  <img id="user" src="assets/img/person.png" /></span>
                Pending Users </a></li>
          </ul>
        </li>
        <li *ngIf="authmatrix=='Complex'"
          class="menu_sel" [ngClass]="groupActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="opengroup();clickGroupEvent()">Groups
          </a>
          <ul class="[ dropdown-menu ]" role="menu" [ngStyle]="{'display':displaygroupdrop}">
            <li class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/groupview']">
                <span> <img id="user" src="assets/img/group.png" /></span>
                View Groups </a></li>
            <li *ngIf="rolename=='ccadmin' || rolename=='ccchecker' || rolename=='ccmaker'" class="col-md-12 cust"><a
                class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/unitary-group']"><span>
                  <img id="user" src="assets/img/group.png" /></span>
                Add Unitary </a></li>

            <li *ngIf="rolename=='as' || rolename=='aschecker'" class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()"
                [routerLink]="['/main/pending-group']"><span>
                  <img id="user" src="assets/img/group.png" /></span>
                Pending Groups </a></li>
          </ul>
        </li>
        <li *ngIf="authmatrix=='Complex'"
          class="menu_sel" [ngClass]="ruleActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="openrule();clickRuleEvent()">Rules
          </a>
          <ul class="[ dropdown-menu ]" role="menu" [ngStyle]="{'display':displayruledrop}">
            <li class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/ruleview']">
                <span> <img id="user" src="assets/img/gavel.png" /></span>
                Rule Validator </a></li>
            <li *ngIf="rolename=='ccadmin' || rolename=='ccchecker' || rolename=='ccmaker'" class="col-md-12 cust"><a
                class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/unitary-rule']"><span>
                  <img id="user" src="assets/img/gavel.png" /></span>
                Add Unitary </a></li>
            <li *ngIf="rolename=='as' || rolename=='aschecker'" class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()"
                [routerLink]="['/main/pending-rules']"><span>
                  <img id="user" src="assets/img/gavel.png" /></span>
                Pending Rules </a></li>
          </ul>
        </li>
        <li *ngIf="rolename=='as' || rolename=='ccchecker' || rolename=='ccmaker' || rolename=='aschecker' || rolename=='maker' || rolename=='checker'"
          class="menu_sel" [ngClass]="billActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="openbilldrop();clickBillEvent()">Bill
          </a>
          <ul class="[ dropdown-menu ]" role="menu" [ngStyle]="{'display':displaybilldrop}">
            <li class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/billerlist']">
                <span> <img id="user" src="assets/img/view-bills.png" /></span>
                View Bills </a></li>
            <li *ngIf="rolename=='maker' || rolename=='ccmaker'" class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()"
                [routerLink]="['/main/unitary-biller']"><span>
                  <img id="user" src="assets/img/add-unitary-bills.png" /></span>
                Add Unitary </a></li>
            <li *ngIf="rolename=='maker' || rolename=='ccmaker'"  class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/biller-bulk']"><span>
                  <img id="user" src="assets/img/add-bulk.png" /></span>
                Add Bulk </a></li>
            <li *ngIf="rolename=='aschecker' || rolename=='checker' || rolename=='ccchecker'" class="col-md-12 cust"><a
                class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/pending-biller']"><span>
                  <img id="user" src="assets/img/add-unitary-bills.png" /></span>
                Pending Bills </a></li>
          </ul>
        </li>

        <li *ngIf="rolename=='as' || rolename=='ccchecker' || rolename=='ccmaker' || rolename=='aschecker' || rolename=='maker' || rolename=='checker'"
          class="menu_sel" [ngClass]="payActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="openpaydrop();clickPayEvent()">Payments
          </a>
          <ul class="[ dropdown-menu ]" role="menu" [ngStyle]="{'display':displaypaydrop}">
            <li class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/paymentlist']">
                <span> <img id="user" src="assets/img/view-payment.png" style="height:20px; width:25px;"/></span>
                View Payments </a></li>
            <li *ngIf="rolename=='maker' || rolename=='ccmaker'" class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()"
                [routerLink]="['/main/make-payment']"><span>
                  <img id="user" src="assets/img/make-payment.png" style="height:16px; width:35px;" /></span>
                Make Payments </a></li>
            <li *ngIf="rolename=='maker' || rolename=='ccmaker'" class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()"
              [routerLink]="['/main/make-prepaid-payment']"><span>
                <img id="user" src="assets/img/make-payment.png" style="height:16px; width:35px;" /></span>
              Make Prepaid Payments </a></li>
            <li *ngIf="rolename=='aschecker' || rolename=='checker' || rolename=='ccchecker'"  class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/pending-payments']"><span>
                <img id="user" src="assets/img/make-payment.png" style="height:16px; width:35px;"/></span>
              Pending Payments </a></li>
                
            <!-- <li class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()"><span> <img id="user"
                    src="assets/img/user.png" /></span>
                Add Bulk Payment </a></li> -->
          </ul>
        </li>

        <li class="menu_sel" [ngClass]="cardActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="opencarddrop();clickCardEvent()">Cards
          </a>
          <ul class="[ dropdown-menu ]" role="menu" [ngStyle]="{'display':displaycarddrop}">
            <li class="col-md-12 cust"><a class="[ animate ]" [routerLink]="['/main/cardview']" (click)="closealldrop()">
                <span> <img src="assets/img/credit-card1.png" /></span>
                View Cards </a></li>
            <li *ngIf="rolename=='as' || rolename=='aschecker'" class="col-md-12 cust"><a class="[ animate ]" (click)="closealldrop()"
                [routerLink]="['/main/pending-card']">
                <span> <img src="assets/img/credit-card1.png" /></span>
                Pending Cards </a></li>
            <li *ngIf="rolename=='ccadmin' || rolename=='ccchecker' || rolename=='ccmaker'" class="col-md-12 cust"><a
                class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/unitary-card']">
                <span> <img src="assets/img/credit-card1.png" /></span>
                Unitary Card </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="[ nav navbar-nav navbar-right menu_sel]">
        <li class="roleheader">{{userdata.rolename}}</li>
        <!-- <li class="roleheader" *ngIf="rolename=='ccadmin' || rolename=='ccmaker'|| rolename=='ccchecker'">Corporate
          Admin</li>
        <li class="roleheader" *ngIf="rolename=='checker'">Checker</li>
        <li class="roleheader" *ngIf="rolename=='as' || rolename=='aschecker'">Authorised Signatory</li> -->
        <!-- <li class="menu_sel notilink" [ngClass]="quickActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="opennoti();clickQuickEvent()">
            <span>
              <img src="assets/img/notification.png" />
            </span> <span class="badge badge-notify">3</span>
          </a>
          <ul class="[ dropdown-menu dropdown-menu3 ]" role="menu" [ngStyle]="{'display':displaynotdrop}">
            <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/pending-user']" *ngIf="rolename=='as' || rolename=='aschecker'">
                <h5>Pending Users(5)</h5>
                <p>There are 5 users pending for approval.</p>
              </a>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/userview']" *ngIf="rolename=='ccadmin' || rolename=='ccmaker'">
                <h5>Users</h5>
                <p>5 users has been approved by Authorised Signatory</p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='as' || rolename=='aschecker'"
                [routerLink]="['/main/pending-group']">
                <h5>Pending Groups(0)</h5>
                <p>There are no groups pending for approval. </p>
              </a>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/groupview']" *ngIf="rolename=='ccadmin' || rolename=='ccmaker'">
                <h5>Groups</h5>
                <p>Group C has been approved by Authorised Signatory. </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='as' || rolename=='aschecker'"
                [routerLink]="['/main/pending-rules']">
                <h5>Pending Rules(0)</h5>
                <p>There are no rules pending for approval.</p>
              </a>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='ccadmin' || rolename=='ccmaker'"
                [routerLink]="['/main/ruleview']">
                <h5>Rules</h5>
                <p>Rule formula C&A has been rejected by Authorised Signatory.</p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='as' || rolename=='aschecker'"
                [routerLink]="['/main/pending-card']">
                <h5>Pending Cards(0)</h5>
                <p>There are no cards pending for approval.</p>
              </a>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='ccadmin' || rolename=='ccmaker'"
                [routerLink]="['/main/cardview']">
                <h5>Cards</h5>
                <p>Card number ending with 0005 has been approved by Authorised Signatory.</p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='checker' || rolename=='aschecker' ||  rolename=='ccchecker'"
                [routerLink]="['/main/pending-biller']">
                <h5>Pending Billers(24)</h5>
                <p>There are 24 billers pending for approval.</p>
              </a>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='maker' || rolename=='ccmaker' ||  rolename=='ccchecker'"
                [routerLink]="['/main/pending-biller']">
                <h5>Billers</h5>
                <p>15 billers has been approved by Authorised Signatory.</p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='checker' || rolename=='aschecker' ||  rolename=='ccchecker'"
                [routerLink]="['/main/checker-approve-payments']">
                <h5>Pending Payments(44)</h5>
                <p>There are 44 payments pending for approval.</p>
              </a>
              <a class="[ animate ]" (click)="closealldrop()" *ngIf="rolename=='maker' || rolename=='ccmaker'"
                [routerLink]="['/main/maker-payment-list']">
                <h5>Payments</h5>
                <p>35 payments has been approved by Authorised Signatory.</p>
              </a>
            </li>

          </ul>
        </li> -->

        <li class="menu_sel profilink" [ngClass]="notActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="openmyprofile();clickNotEvent()">
            <span class="profile">
              <img src="assets/img/usricon.png" />
            </span> <span>
              <img src="assets/img/forma-1.png" />
            </span>
          </a>
          <ul class="[ dropdown-menu dropdown-menu4 ]" role="menu" [ngStyle]="{'display':displayprofile}">
            <!-- <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/dashboard-checker']">
                <p>
                  <span>
                    <img id="user" src="assets/img/user.png" />&nbsp;&nbsp;&nbsp;
                  </span> Switch Role
                </p>
              </a>
            </li> -->
            <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/profile']">
                <p>
                  <span>
                    <img id="user" src="assets/img/user.png" />&nbsp;&nbsp;&nbsp;
                  </span> My Profile
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()">
                <p>
                  <span>
                    <img src="assets/img/contact.png" />&nbsp;&nbsp;&nbsp;
                  </span> Contact Us
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/notification']">
                <p>
                  <span>
                    <img src="assets/img/alarm-bell.png" />&nbsp;&nbsp;&nbsp;
                  </span> Notification Settings
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/repository']">
                <p>
                  <span>
                    <img src="assets/img/repo.png" style="width: 10%;" />&nbsp;&nbsp;&nbsp;
                  </span> Repository
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/main/reset-password-user']">
                <p>
                  <span>
                    <img src="assets/img/password.png" style="width: 10%;" />&nbsp;&nbsp;&nbsp;
                  </span> Reset Password
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop();logout()" [routerLink]="['/login']">
                <p>
                  <span>
                    <img src="assets/img/logout.png" />&nbsp;&nbsp;&nbsp;
                  </span> Logout
                </p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>