
<div class="row h-100" style="background-color:#f4f4f4;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">List of Payments</div>
    </div>
    <div class="row" style="margin-bottom:20px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-bottom:20px;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="assets/img/search-icon.png" alt="" width="5%;"> <input type="search" placeholder="Search for Location, Biller Type or Utility">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <ng-multiselect-dropdown
                  [placeholder]="'All Categories'"
                  [data]="dropdownCat"
                  [(ngModel)]="selectedItems1"
                  [settings]="dropdownSettings1"
                  (onSelect)="onItemSelect($event)"
                  [(ngClass)]="all-cat"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <ng-multiselect-dropdown
                  [placeholder]="'This Month'"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems2"
                  [settings]="dropdownSettings2"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <!-- <button id="button" type="button" class="ml-2"><img src="../../../assets/img/downloadlist.png" alt=""> Download File</button> -->
                <ng-multiselect-dropdown
                  [placeholder]="'Download List'"
                  [data]="dropdownDownload"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                <!-- modal -->
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                  <!-- modal-dialog -->
                  <div class="modal-dialog" role="document">
                    <!-- modal-content -->
                    <div class="modal-content">
                      <!-- modal-header -->
                      <div class="modal-header">
                        Generate Customized Report<button type="button" class="close" aria-label="Close" (click)="openModalDialog()"><span
                            aria-hidden="true">&times;</span></button>
                        <!-- <h4 class="modal-title">Login</h4> -->
                      </div>
                      <!-- modal-body -->
                      <div class="modal-body">
                        <div class="row mb-4 text-left">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="" class="pop-input-text">Report Name :</label>
                            <input type="text" class="pop-input" placeholder="Eg. ₹ 343">
                          </div>
                        </div>
                        <div class="row mb-4 text-left">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="">Select the field to create a report</label>
                          </div>
                        </div>
                        <div class="row mb-2 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Utility
                              Type</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Reference
                              Number</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Bill Date</span>
                          </div>
                        </div>
                        <div class="row mb-2 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Email</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Biller
                              Type</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Short Name</span>
                          </div>
                        </div>
                        <div class="row mb-2 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Mobile
                              Number</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Location</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Due Date</span>
                          </div>
                        </div>
                        <div class="row mb-4 text-left">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">GL/Expense
                              Code</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Attachment</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                        </div>
                        <div class="row mb-4 text-left">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> From <input type="date" value="2018-08-26">
                            To <input type="date"></div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                        </div>
                        <div class="row text-left">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button class="btn-ok" style="margin-right:10px;">OK</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3" style="margin-bottom:15px;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 txt"> No of Payments: <strong>{{payments.length}}</strong></div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right txt">Total Amount: <strong>{{243242 | currency:'INR':true:'1.2-2'}}</strong></div>
            </div>
            <div class="row" style="margin:0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                <table id="main-table" [mfData]="payments" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                  <thead>
                    <tr>
                      <td>Sr.No.</td>
                      <td>Bill Name <img src="assets/img/Filter.png" alt=""></td>
                      <td>Amount <img src="assets/img/Filter.png" alt=""></td>
                      <td>Consumer No<img src="assets/img/Filter.png" alt=""></td>
                      <td>Consumer Name<img src="assets/img/Filter.png" alt=""></td>
                      <td>Status <img src="assets/img/Filter.png" alt=""></td>
                      <td class="text-center">Payment Status <img src="assets/img/Filter.png" alt=""></td>
                      <td>&nbsp;</td>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let payment of mf.data; let i=index;">
                    <tr>
                      <td>{{i+1}}</td>
                      <td>{{payment.bill.biller}}</td>
                      <td>{{payment.amount | currency:'INR':true:'1.2-2'}}</td>
                      <td>{{payment.bill.consumerno}}</td>
                      <td>{{payment.bill.consumername}}</td>
                      <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': payment.status === 'Approved', 'Rejected': payment.status  === 'Rejected', 'Pending': payment.status  === 'Pending'}" role="button">{{payment.status}}</a></td>
                      <td class="text-center">{{payment.paymentstatus}}</td>
                      <td style="padding:0 5px;"><img src="assets/img/tb_downarrow.png" alt="" (click)="payment.collapsed=!payment.collapsed"></td>
                    </tr>
                    <tr class="rowShow grayStrip" *ngIf="payment.collapsed">
                      <td class="custmtd" colspan="8">
                        <div class="tablediv">
                          <h5>Biller Details</h5>
                          <div class="mb-1">
                            <div class="span_width">Short Name</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.bill.shortname}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">GL/Expense Code</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.bill.expensecode}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Bill Date</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.billdate}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Due Date</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.duedate}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Order Id</div> <span> : </span> &nbsp;
                            <div class="bold_span">12345</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Location</div> <span> : </span> &nbsp;
                            <div class="bold_span" *ngIf="payment.bill.state=='MH'" >Maharashtra</div>
                            <div class="bold_span" *ngIf="payment.bill.state=='RJ'" >Rajasthan</div>
                            <div class="bold_span" *ngIf="payment.bill.state=='KA'" >Karnataka</div>
                            <div class="bold_span" *ngIf="payment.bill.state=='AP'" >Andhra Pradesh</div>
                            <div class="bold_span" *ngIf="payment.bill.state=='GJ'" >Gujarat</div>
                            <div class="bold_span" *ngIf="payment.bill.state=='DL'" >Delhi</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Bill No</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.billnumber}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Card No</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.card.digits}}</div>
                          </div>
      
                        </div>
                        <div class="tablediv table2">
                          <h5>Contact Details</h5>
                          <div class="mb-1">
                            <div class="span_width">Mobile No</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.bill.contact}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Address</div> <span> : </span> &nbsp;
                            <span class="bold_span" tooltip="{{payment.bill.billaddress}}" placement="top" show-delay="500">{{payment.bill.billaddress}}</span>
                          </div>
                          <div>
                            <div class="span_width">Email</div> <span> : </span> &nbsp;
                            <span class="bold_span" tooltip="{{payment.bill.billaddress}}" placement="top" show-delay="500">{{payment.bill.email}}</span>
                          </div>
                        </div>
                        <div class="tablediv noborder table3">
                          <h5>Other Details</h5>
                          <div class="mb-1">
                            <div class="span_width">File Name</div> <span> : </span> &nbsp;
                            <div class="bold_span">Unitary</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Initiated by</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.bill.initiatedby}}</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Initiated on</div> <span> : </span> &nbsp;
                            <div class="bold_span">{{payment.bill.initiatedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                          </div>
                          <div class="mb-1">
                              <div class="span_width">Approved by </div>  <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.approvedby}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Approved on  </div>  <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.approvedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                            </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="rowShow grayStrip" *ngIf="payment.collapsed">
                      <td colspan="8">
                        <span class="pull-right"><a (click)="closeModalDialog1()"><img src="assets/img/popup.png" style="width:25px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a data-toggle="modal" href="javascript:void(0)" id="openBtn"><img src="assets/img/attach.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a *ngIf="rolename=='maker' || rolename=='ccmaker'" href="javascript:void(0)"><img src="assets/img/edit.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a *ngIf="rolename=='maker' || rolename=='ccmaker'" href="javascript:void(0)"><img src="assets/img/delete.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a (click)="closeModalDialog2()"><img src="assets/img/page.png"></a>
                      </span>
                      </td>
                    </tr>
                      <div class="backdrop" [ngStyle]="{'display':displayBillDetails}"></div>
                      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayBillDetails}">
                        <!-- modal-dialog -->
                        <div class="modal-dialog" role="document">
                          <!-- modal-content -->
                          <div class="modal-content">
                            <!-- modal-header -->
                            <div class="modal-header">
                              Bill Details<button type="button" class="close" aria-label="Close" (click)="openModalDialog1()"><span
                                  aria-hidden="true">&times;</span></button>
                              <!-- <h4 class="modal-title">Login</h4> -->
                            </div>
                            <!-- modal-body -->
                            <div class="modal-body">
                              <div class="row mb-2">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <label for="" style="color: #807199;font-size: 14px;">Late Payment Charges</label> <span> : </span> &nbsp;
                                  <span style="font-size:14px"><i class="fa fa-inr"></i> 111146.37</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <label for="" style="color: #807199;font-size: 14px;">Meter Reading </label> <span> : </span> &nbsp;
                                  <span style="font-size:14px">3565 Units</span>
                                </div>
                              </div>
                              <div class="row mb-4">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <label for="" style="color: #807199;font-size: 14px;">Promt Payment Incentives</label> <span> : </span> &nbsp;
                                  <span style="font-size:14px"><i class="fa fa-inr"></i> 0.00</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <label for="" style="color: #807199;font-size: 14px;">Remarks</label> <span> : </span> &nbsp;
                                  <span style="font-size:14px">Incentives Applicable</span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button class="btn-ok" style="margin-right:10px;" (click)="openModalDialog1()">OK</button></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="backdrop" [ngStyle]="{'display':displayLogs}"></div>
                      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayLogs}">
                        <!-- modal-dialog -->
                        <div class="modal-dialog" id="logs" role="document">
                          <!-- modal-content -->
                          <div class="modal-content">
                            <!-- modal-header -->
                            <div class="modal-header">
                              Payment Logs<button type="button" class="close" aria-label="Close" (click)="openModalDialog2()"><span
                                  aria-hidden="true">&times;</span></button>
                              <!-- <h4 class="modal-title">Login</h4> -->
                            </div>
                            <!-- modal-body -->
                            <div class="modal-body">
                              <div class="row mb-2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <table style="width:100%" id="modal-table">
                                    <thead>
                                      <tr>
                                        <td>State</td>
                                        <td>Date</td>
                                        <td>Time</td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Card Debited</td>
                                        <td>28/03/2019</td>
                                        <td>05:30 PM</td>
                                      </tr>
                                      <tr>
                                        <td>Payment Success</td>
                                        <td>28/03/2019</td>
                                        <td>05:30 PM</td>
                                      </tr>
                                      <tr>
                                        <td>Payment Failed</td>
                                        <td>28/03/2019</td>
                                        <td>05:30 PM</td>
                                      </tr>
                                      <tr>
                                        <td>Card Refunded</td>
                                        <td>28/03/2019</td>
                                        <td>05:30 PM</td>
                                      </tr>
                                      <tr>
                                        <td>Refund Reason</td>
                                        <td colspan="2">Transaction Failed Transaction Failed Transaction Failed Transaction Failed</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>                                
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><button class="btn btn-default" type="button" (click)="openModalDialog2()">Close</button></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" style="display:none;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <nav aria-label="Page navigation example" style="float:right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lang;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rang;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
