<app-rmheader></app-rmheader>

<div class="row h-100" style="background-color:#f4f4f4;">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">List of Payments</div>
      </div>
      <div class="row" style="margin-bottom:20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <img src="assets/img/search-icon.png" alt="" width="5%;"> <input type="search" placeholder="Search for Location, Biller Type or Utility" [(ngModel)]="searchText">
                </div>
               
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">
                    <ng-multiselect-dropdown
                    [placeholder]="'Select Organisation'"
                    [data]="organisationlist"
                    [(ngModel)]="selectedItems3"
                    [settings]="dropdownSettings3"
                    (onSelect)="onOrgSelect($event)"
                    (onSelectAll)="onSelectAllOrg($event)"
                    (onDeSelect)="onItemDeSelect($event)">
                  </ng-multiselect-dropdown>
                    <ng-multiselect-dropdown
                    [placeholder]="'All Categories'"
                    [data]="dropdownCat"
                    [(ngModel)]="selectedItems1"
                    [settings]="dropdownSettings1"
                    (onSelect)="onCatSelect($event)"
                    [(ngClass)]="all-cat">
                  </ng-multiselect-dropdown>
                  <ng-multiselect-dropdown
                    [placeholder]="'This Month'"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems2"
                    [settings]="dropdownSettings2"
                    (onSelect)="onIntervalSelect($event)">
                  </ng-multiselect-dropdown>
                  <!-- <button id="button" type="button" class="ml-2"><img src="../../../assets/img/downloadlist.png" alt=""> Download File</button> -->
                  <ng-multiselect-dropdown
                    [placeholder]="'Download List'"
                    [data]="dropdownDownload"
                    [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelectDown($event)">
                  </ng-multiselect-dropdown>
                  <ng-multiselect-dropdown
                    [placeholder]="'Transaction Status'"
                    [data]="tsdddata"
                    [(ngModel)]="tsselected"
                    [settings]="tsdropdownsettings"
                    (onSelect)="ontsselect($event)">
                  </ng-multiselect-dropdown>
                  <ng-multiselect-dropdown
                    [placeholder]="'Payment Status'"
                    [data]="psdddata"
                    [(ngModel)]="psselected"
                    [settings]="psdropdownsettings"
                    (onSelect)="onpsSelect($event)">
                  </ng-multiselect-dropdown>
                  <button class="btn bg-primary mrtfi nextBtn nxt2 ruleNextBtn mrg0Auto nxtbbgcolor" (click)="getfilterdata()" type="button">Filter Payment</button>
                  <div class="backdrop" [ngStyle]="{'display':display}"></div>
                  <!-- modal -->
                  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                      <!-- modal-dialog -->
                      <div class="modal-dialog" role="document">
                        <!-- modal-content -->
                        <div class="modal-content">
                          <!-- modal-header -->
                          <div class="modal-header">
                            Generate Customize Report<button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span
                                aria-hidden="true">&times;</span></button>
                            <!-- <h4 class="modal-title">Login</h4> -->
                          </div>
                          <!-- modal-body -->
                          <div class="modal-body">
                            <div class="row mb-4 text-left">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="" class="pop-input-text">Report Name :</label>
                                <input type="text" class="pop-input" placeholder="Eg. Quarterly Report">
                              </div>
                            </div>
                            <div class="row mb-4 text-left">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="">Select the field to create a report</label>
                              </div>
                            </div>
                            <div class="row mb-2 text-left">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Bill Name</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Amount</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Reference No</span>
                              </div>
                            </div>
                            <div class="row mb-2 text-left">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Consumer Name</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Status</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Payment Status</span>
                              </div>
                            </div>
                            <div class="row mb-2 text-left">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Short Name</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Consumer No</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Bill Date</span>
                              </div>
                            </div>
                            <div class="row mb-2 text-left">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Due Date</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Location</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Bill No</span>
                                </div>
                            </div>
                            <div class="row mb-2 text-left">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Card No</span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Mobile No</span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Address</span>
                                  </div>
                              </div>
                              <div class="row mb-2 text-left">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Email</span>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">CRN</span>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                      <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">File Name</span>
                                    </div>
                                </div>
                                <div class="row mb-2 text-left">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                      <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Initiated by</span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                      <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Initiated on</span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Approved by</span>
                                      </div>
                                  </div>
                                  <div class="row mb-2 text-left">
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Approved on</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Comment</span>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        
                                        </div>
                                    </div>
                            <div class="row mb-4 text-left">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <table>
                                      <tr>
                                        <td style="padding:0px; width:10%">From</td>
                                        <td style="padding:0px; width:28%"><angular2-date-picker [ngClass]="'popup-datepicker'" [(ngModel)]="fromdate" [settings]="settings"></angular2-date-picker></td>
                                        <td style="padding-left:7px; width:10%">To</td>
                                        <td style="padding-right:10px; width:31%"><angular2-date-picker [ngClass]="'popup-datepicker'" [(ngModel)]="todate" [settings]="settings"></angular2-date-picker></td>
                                      </tr>
                                    </table>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                            </div>
                            <div class="row text-left">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button (click)="closeModalDialog()" class="btn-ok" style="margin-right:10px;">OK</button></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row mb-3" style="margin-bottom:15px;">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 txt text-left">
                <table class="entry-table">
                  <tr>
                    <td class="unitheaders">No of payments</td>
                    <td class="unitheaders">Total amount</td>
                  </tr>
                  <tr>
                    <td>{{paymentData.length}}</td>
                    <td><i class="fa fa-rupee"></i>{{totalamount | numberfr}}</td>
                  </tr>
                </table>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-right txt"></div>
              </div>
              <div class="row" style="margin:0px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                  <table id="main-table" [mfData]="paymentData" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                      <tr>
                        <td>Sr.No.</td>
                        <td>Bill Name <img src="assets/img/Filter.png" alt=""></td>
                        <td>Amount <img src="assets/img/Filter.png" alt=""></td>
                        <td>Reference No<img src="assets/img/Filter.png" alt=""></td>
                        <td>Consumer Name<img src="assets/img/Filter.png" alt=""></td>
                        <td>Status <img src="assets/img/Filter.png" alt=""></td>
                        <td class="text-center">Payment Status <img src="assets/img/Filter.png" alt=""></td>
                        <td>&nbsp;</td>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let payment of mf.data|orderBy: key : reverse|rMpayamentFilter: {biller_name: searchText,amount:searchText,consumer_no:searchText,consumer_name:searchText,transaction_status:searchText,payment_status:searchText,short_name:searchText,gl_expense_code:searchText,consumer_no:searchText,bill_date:searchText,due_date:searchText,order_id:searchText,bill_number:searchText,state:searchText,card_last_digits:searchText,contact_no:searchText,email:searchText,contact_address:searchText,initiated_by:searchText,initiated_at:searchText,transaction_ref_no:searchText}; let i=index;">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>{{payment.biller_name}}</td>
                        <td><i class="fa fa-rupee"></i>{{payment.amount | numberfr}}</td>
                        <td>{{payment.consumer_no}}</td>
                        <td>{{payment.consumer_name}}</td>
                        <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': payment.transaction_status === 'Approved', 'Rejected': payment.transaction_status  === 'Rejected', 'Pending': payment.transaction_status  === 'Pending'}" role="button">{{payment.transaction_status}}</a></td>
                        <td class="text-center" [ngClass]="{'appoved': payment.payment_status === 'Approved','appoved': payment.payment_status === 'Card Debited','appoved': payment.payment_status === 'In Process','appoved': payment.payment_status === 'Payment Success', 'Rejected': payment.payment_status  === 'Payment Failed', 'Pending': payment.payment_status  === 'Pending'}">{{payment.payment_status}}</td>
                        <td style="padding:0 5px;"><img src="assets/img/tb_downarrow.png" alt="" (click)="payment.collapsed=!payment.collapsed;getapproverdetails(payment.id,i)"></td>
                      </tr>
                      <tr class="rowShow grayStrip" *ngIf="payment.collapsed && selectedIndex==i">
                        <td class="custmtd" colspan="8">
                          <div class="tablediv">
                            <h5>Biller Details</h5>
                            <div class="mb-1">
                              <div class="span_width">Short Name</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.short_name}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">GL/Expense Code</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.gl_expense_code}}</div>
                            </div>
                            <div class="mb-1">
                                <div class="span_width">{{payment.parameter_1}}</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.consumer_no}}</div>
                              </div>
                            <div class="mb-1">
                              <div class="span_width">Bill Date</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.bill_date}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Due Date</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.due_date}}</div>
                            </div>
                            <div class="mb-1" *ngIf="payment.payment_status=='Payment Success'">
                              <div class="span_width">Order Id</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{paymnet.order_id}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Location</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.state}}</div>
                             
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Bill No</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.bill_number}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Card No</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.card_last_digits}}</div>
                            </div>
                            <div class="mb-1" *ngIf="payment.display_name_bu!=null">
                              <div class="span_width">{{payment.display_name_bu}}</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.bu}}</div>
                            </div>
                            <div class="mb-1" *ngIf="payment.display_name_circle!=null">
                              <div class="span_width">{{payment.display_name_circle}}</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.circle}}</div>
                            </div>
        
                          </div>
                          <div class="tablediv table2">
                            <h5>Contact Details</h5>
                            <div class="mb-1">
                              <div class="span_width">Mobile No</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.contact_no}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Address</div> <span> : </span> &nbsp;
                              <span class="bold_span" tooltip="{{payment.contact_address}}" placement="top" show-delay="500">{{payment.contact_address}}</span>
                            </div>
                            <div>
                              <div class="span_width">Email</div> <span> : </span> &nbsp;
                              <span class="bold_span" tooltip="{{payment.email}}" placement="top" show-delay="500">{{payment.email}}</span>
                            </div>
                          </div>
                          <div class="tablediv noborder table3">
                            <h5>Other Details</h5>
                            <div class="mb-1">
                              <div class="span_width">CRN</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.transaction_ref_no}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">File Name</div> <span> : </span> &nbsp;
                              <div class="bold_span">Unitary</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Initiated by</div> <span> : </span> &nbsp;
                              <div class="bold_span">{{payment.initiated_by}}</div>
                            </div>
                            <div class="mb-1">
                              <div class="span_width">Initiated on</div> <span> : </span> &nbsp;
                              <div class="bold_span" tooltip="{{payment.created_on | formatDate}}" placement="top"
                              show-delay="500">{{payment.initiated_date | date:'dd-MM-yyyy hh:mm a'}}</div>
                            </div>
                            <ng-container *ngFor="let approver of approverDetails">
                            <div class="mb-1">
                                <div class="span_width">Approved by </div>  <span> : </span> &nbsp;
                                <div class="bold_span">{{approver.approved_by}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Approved on  </div>  <span> : </span> &nbsp;
                                <div class="bold_span">{{approver.approved_on | date:'dd-MM-yyyy hh:mm a'}}</div>
                              </div>
                            </ng-container>
                          </div>
                        </td>
                      </tr>
                      <tr class="rowShow grayStrip" *ngIf="payment.collapsed && selectedIndex==i">
                        <td colspan="8">
                            <span class="text-left" *ngIf="payment.transaction_status=='Rejected'"><label style="color: #64289d;">Comment : &nbsp;</label>{{payment.rejection_reason}}</span>
                          <span class="pull-right">
                          <a (click)="getpaymentlogs(payment.card_debited_date,payment.payment_status_time,payment.rejection_reason)"><img src="assets/img/popup.png" style="width:25px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <a data-toggle="modal" href="javascript:void(0)" id="openBtn"><img src="assets/img/attach.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          
                          <a (click)="closeModalDialog1()"><img src="assets/img/page.png"></a>
                        </span>
                        <!-- <span class="pull-right"><a (click)="getpaymentlogs(payment.card_debited_date,payment.payment_status_time,payment.rejection_reason)"><img src="assets/img/popup.png" style="width:25px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <a data-toggle="modal" href="javascript:void(0)" id="openBtn"><img src="assets/img/attach.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         
                          <a (click)="getextradetails(payment.late_pay_charges,promt_pay_incentives,remarks,meter_reading)"><img src="assets/img/page.png"></a>
                        </span> -->
                        </td>
                      </tr>
                        <div class="backdrop" [ngStyle]="{'display':displayBillDetails}"></div>
                        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayBillDetails}">
                          <!-- modal-dialog -->
                          <div class="modal-dialog" id="logs" role="document">
                            <!-- modal-content -->
                            <div class="modal-content">
                              <!-- modal-header -->
                              <div class="modal-header">
                                Bill Details<button type="button" class="close" aria-label="Close" (click)="openModalDialog1()"><span
                                    aria-hidden="true">&times;</span></button>
                                <!-- <h4 class="modal-title">Login</h4> -->
                              </div>
                              <!-- modal-body -->
                              <div class="modal-body">
                                <div class="row mb-2">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <table style="width:100%" id="modal-table">
                                    <tbody>
                                      <tr>
                                        <td>Late Payment Charges</td>
                                        <td>:</td>
                                        <td><i class="fa fa-rupee"></i>{{latecharges | numberfr}}</td>
                                      </tr>
                                      <tr>
                                        <td>Meter Reading</td>
                                        <td>:</td>
                                        <td>{{meterreading}}</td>
                                        
                                      </tr>
                                      <tr>
                                        <td>Promt Payment Incentives</td>
                                        <td>:</td>
                                        <td><i class="fa fa-rupee"></i>{{incentives | numberfr}}</td>
                                      </tr>
                                      <tr>
                                        <td>Remarks</td>
                                        <td>:</td>
                                        <td>{{remarks}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>                                
                                </div>
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><button class="btn btn-default" (click)="openModalDialog2()">Close</button></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="backdrop" [ngStyle]="{'display':displayLogs}"></div>
                        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayLogs}">
                          <!-- modal-dialog -->
                          <div class="modal-dialog" id="logs" role="document">
                            <!-- modal-content -->
                            <div class="modal-content">
                              <!-- modal-header -->
                              <div class="modal-header">
                                Transaction Logs<button type="button" class="close" aria-label="Close" (click)="openModalDialog2()"><span
                                    aria-hidden="true">&times;</span></button>
                                <!-- <h4 class="modal-title">Login</h4> -->
                              </div>
                              <!-- modal-body -->
                              <div class="modal-body">
                                <div class="row mb-2">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <table style="width:100%" id="modal-table">
                                      <thead>
                                        <tr>
                                          <td>State</td>
                                          <td>Date</td>
                                          <td>Time</td>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>Card Debited</td>
                                          <td *ngIf="payment.transaction_status=='Approved'">{{carddebitdate}}</td>
                                          <td *ngIf="payment.transaction_status=='Approved'">{{carddebittime}}</td>
                                          <td *ngIf="payment.transaction_status=='Pending' || payment.transaction_status=='Rejected'">--</td>
                                          <td *ngIf="payment.transaction_status=='Pending' || payment.transaction_status=='Rejected'">--</td>
                                        </tr>
                                        <tr>
                                          <td>Payment Success</td>
                                          <td *ngIf="payment.transaction_status=='Approved'">{{paysuccessdate}}</td>
                                          <td *ngIf="payment.transaction_status=='Approved'">{{paysuccesstime}}</td>
                                          <td *ngIf="payment.transaction_status=='Pending' || payment.transaction_status=='Rejected'">--</td>
                                          <td *ngIf="payment.transaction_status=='Pending' || payment.transaction_status=='Rejected'">--</td>
                                        </tr>
                                        <tr>
                                          <td>Payment Failed</td>
                                          <td *ngIf="payment.transaction_status=='Approved'">--</td>
                                          <td *ngIf="payment.transaction_status=='Approved'">--</td>
                                          <td *ngIf="payment.transaction_status=='Pending' || payment.transaction_status=='Rejected'">--</td>
                                          <td *ngIf="payment.transaction_status=='Pending' || payment.transaction_status=='Rejected'">--</td>
                                        </tr>
                                        <tr>
                                          <td>Card Refunded</td>
                                          <td *ngIf="payment.status=='transaction_status'">--</td>
                                          <td *ngIf="payment.status=='transaction_status'">--</td>
                                          <td *ngIf="payment.status=='transaction_status' || payment.transaction_status=='Rejected'">--</td>
                                          <td *ngIf="payment.transaction_status=='transaction_status' || payment.transaction_status=='Rejected'">--</td>
                                        </tr>
                                        <tr>
                                          <td>Refund Reason</td>
                                          <td *ngIf="payment.status=='transaction_status'" colspan="2">{{rejectreason}}</td>
                                          <td *ngIf="payment.status=='transaction_status' || payment.transaction_status=='Rejected'" colspan="2">--</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>                                
                                </div>
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><button class="btn btn-default" type="button" (click)="openModalDialog2()">Close</button></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
          <nav aria-label="Page navigation example" style="float:right;">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&lang;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&rang;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  </div>
  
