<app-rmheader></app-rmheader>
<div class="container" id="lstpaymt">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div _ngcontent-c4="" class="clear20"></div>

                <div _ngcontent-c4="" class="clear20"></div>

                <div _ngcontent-c4="" class="clear20"></div>
            </div>
            <div class="white-bg">

                <h4 class="col-md-9 col-sm-6 col-xs-6 Top5Heading111 mrgnone">List of Groups</h4>
                <div class="form-group col-md-3 col-xs-6 col-sm-6 top-spac text-right right-spac">
                    &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary btn-outline ResponsiveBtnWidth pull-right">
                        <img src="assets/images/downloadlist.png"> Download List</a>
                </div>

                <div class="clear"></div>

                <div class="BorderBottom"></div>

                <div class="clear"></div>
                <div class="table-responsive">
                    <!-- <table class="table table-hover table-striped"> -->
                    <table class="table table-hover table-striped" [mfData]="groupDetail" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>

                            <tr class="cust-color">

                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="bold-txtn">Group Name</span> &nbsp;&nbsp;&nbsp;

                                    <!-- <div class="btn-group dropdown">

                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                            <span class="sr-only">Toggle Dropdown</span>

                                        </button>

                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right1" role="menu">

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">A</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">B</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">C</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">D</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>
                                        </ul>

                                    </div> -->

                                </td>

                                <td>
                                    <span class="bold-txtn">Lower Limit</span> &nbsp;&nbsp;&nbsp;
                                    <!-- <div class="btn-group dropdown">

                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                            <span class="sr-only">Toggle Dropdown</span>

                                        </button>

                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right1" role="menu">



                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">0</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">100</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">1000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">10000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">20000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                        </ul>

                                    </div> -->
                                </td>

                                <td>
                                    <span class="bold-txtn">Upper Limit</span> &nbsp;&nbsp;&nbsp;
                                    <!-- <div class="btn-group">

                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                            <span class="sr-only">Toggle Dropdown</span>

                                        </button>

                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right2" role="menu">

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">100000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">200000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">300000</div>
                                                </a>
                                            </li>


                                        </ul>

                                    </div> -->
                                </td>

                                <td>
                                    <span class="bold-txtn"> Status</span> &nbsp;&nbsp;&nbsp;
                                    <!-- <div class="btn-group">

                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                            <span class="sr-only">Toggle Dropdown</span>

                                        </button>

                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right2" role="menu">

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">All</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">Approved</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">Pending</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">Rejected</div>
                                                </a>
                                            </li>

                                        </ul>

                                    </div> -->
                                </td>


                                <td></td>
                            </tr>
                        </thead>
                        <tbody *ngIf="showgroup == true && !!showgroup;else other_content">
                            <!-- <div *ngIf="Authmatrix == 'Complex'"> -->
                            <ng-container *ngFor="let group of mf.data let i=index">

                                <tr>

                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{group.grpname}}</td>
                                    <td>{{group.lwrlimit}}</td>
                                    <td>{{group.uprlimit}}</td>
                                    <!-- test data -->
                                    <td>
                                        <a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': group.status === 'Approved', 'Rejected': group.status  === 'Rejected', 'Pending': group.status  === 'Pending'}"
                                            role="button">{{ group.status }} </a>
                                        <!-- <a href="javascript:void(0);" class="btn appoved" role="button">{{group.Status}} </a> -->
                                    </td>
                                    <td>
                                        <!-- <div class="flash equipment showhide"> -->
                                        <div [ngClass]="{'flashOn': group.collapsed, 'flash': !group.collapsed }" class="showhide" (click)="group.collapsed=!group.collapsed">
                                            <span class="showhide">+</span>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="rowShow grayStrip" *ngIf="group.collapsed">
                                    <td colspan="5" class="custmtdn">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3 col-sm-3 col-xs-6 text-left padlnon" *ngFor="let userName of group.users; let i=index;">
                                                <!-- <label class="ugctxt">Users in Group {{getGroupDetails(group).Group_Name}}</label> -->

                                                <div class="clear20">
                                                    <label class="lbltxt">{{userName}}

                                                        <br>
                                                    </label>
                                                </div>
                                                <label class="lbltxt" *ngIf="group.users.length == 0">Users not available for this group.</label>
                                                <br>
                                            </div>



                                        </div>

                                    </td>
                                </tr>

                            </ng-container>
                            <!-- </div> -->

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                        <!-- <div *ngIf="hidegroup == true">
                            <p> No Group Available for this Organisation. </p>
                        </div> -->
                        <ng-template #other_content>No Group Available for this Organisation.</ng-template>
                    </table>
                </div>
            </div>


        </section>
    </div>
</div>
<div class="clear20"></div>
<div class="clear20"></div>