<nav class="[ navbar ][ navbar-bootsnipp animate navbar-fixed-top]" role="navigation">
  <div class="[ container-fluid ]">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="[ navbar-header ]">
      <a class="[ navbar-brand ][ animate ]" [routerLink]="['/main']">
        <img src="assets/img/logo.png" />
      </a>
      <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="[ sr-only ]">Toggle navigation</span>
        <span class="[ icon-bar ]"></span>
        <span class="[ icon-bar ]"></span>
        <span class="[ icon-bar ]"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
      <ul class="[ nav navbar-nav ] customLeftMargin nav">
        <li class="dash" [ngClass]="dashActive ? 'active' : ''" (click)="clickDashEvent()"><a class="[ animate ]"
            [routerLink]="['/rmdashboard']"><i class="nav-ico-menu"> </i>Dashboard</a></li>
            <li class="menu_sel profilink" [ngClass]="notActive ? 'active' : ''">
              <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="openotherdrop();clickOtherEvent()">
                Solutions
              </a>
              <ul class="[ dropdown-menu dropdown-menu4 ]" role="menu" [ngStyle]="{'display':displayotherdrop}">
                <li class="col-md-12 cust" *ngIf="showsuppliermodule"><a class="[ animate ]" href="{{supplierurl}}" target="_blank" (click)="closealldrop()">
                  Supplier Module</a></li>
              <li class="col-md-12 cust" *ngIf="showgstmodule"><a class="[ animate ]"  href="{{gsturl}}" target="_blank" (click)="closealldrop()"
                href="javascript:void(0)">
                  GST Module </a></li>
              </ul>
            </li>
        <li class="dash" [ngClass]="orgActive ? 'active' : ''" (click)="clickOrgEvent()"><a class="[ animate ]"
            [routerLink]="['/rmorganisation']"><i class="nav-ico-menu"> </i>Organisation</a></li>
        
        <li class="menu_sel" [ngClass]="groupActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="clickGroupEvent()"  [routerLink]="['/rmgrouporganisation']">Groups
          </a>
        </li>
        <li class="menu_sel" [ngClass]="ruleActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="clickRuleEvent()" [routerLink]="['/rmrulevalidation']">Rules
          </a>
        </li>
 
        <li class="menu_sel" [ngClass]="payActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="clickPayEvent()" [routerLink]="['/rmpayment']">Payments
          </a>
        </li>
        <li class="menu_sel" [ngClass]="fetchActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="clickFetchEvent()" [routerLink]="['/rmfetch-report']">Bill Fetch Report
          </a>
        </li>
      </ul>
      <ul class="[ nav navbar-nav navbar-right menu_sel]">
 
     
      

        <li class="menu_sel profilink" [ngClass]="notActive ? 'active' : ''">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown" (click)="openmyprofile();clickNotEvent()">
            <span class="profile">
              <img src="assets/img/usricon.png" />
            </span> <span>
              <img src="assets/img/forma-1.png" />
            </span>
          </a>
          <ul class="[ dropdown-menu dropdown-menu4 ]" role="menu" [ngStyle]="{'display':displayprofile}">
            <!-- <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/dashboard-checker']">
                <p>
                  <span>
                    <img id="user" src="assets/img/user.png" />&nbsp;&nbsp;&nbsp;
                  </span> Switch Role
                </p>
              </a>
            </li> -->
            <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/rmmyprofile']">
                <p>
                  <span>
                    <img id="user" src="assets/img/user.png" />&nbsp;&nbsp;&nbsp;
                  </span> My Profile
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()">
                <p>
                  <span>
                    <img src="assets/img/contact.png" />&nbsp;&nbsp;&nbsp;
                  </span> Contact Us
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/rmnotificationmatrix']">
                <p>
                  <span>
                    <img src="assets/img/alarm-bell.png" />&nbsp;&nbsp;&nbsp;
                  </span> Notification Settings
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop()" [routerLink]="['/rmrepository']">
                <p>
                  <span>
                    <img src="assets/img/repo.png" style="width: 10%;" />&nbsp;&nbsp;&nbsp;
                  </span> Repository
                </p>
              </a>
            </li>
            <li>
              <a class="[ animate ]" (click)="closealldrop();logout()" [routerLink]="['/login']">
                <p>
                  <span>
                    <img src="assets/img/logout.png" />&nbsp;&nbsp;&nbsp;
                  </span> Logout
                </p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>