
<div class="container" id="lstpaymt">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
     <!-- Main content -->
     <section class="content">
        <div class="row">
           <div _ngcontent-c4="" class="clear20"></div>

           <!-- Remove Customized report for User -->

           <!-- <div class="col-md-12 text-right btninCenter">
              <a class="btn btn-primary btn-outline ResponsiveBtnWidth" data-toggle="modal" data-target="#payreport">
              <img src="assets/img/downloadlist.png"> Download Customized Reports</a>
           </div> -->
           <div _ngcontent-c4="" class="clear20"></div>
        </div>
        <div class="white-bg">
           <h4 class="col-md-9 col-sm-6 Top5Heading111 mrgnone">List of Sample Bills</h4>
          
           <div class="clear"></div>
           
           <div class="BorderBottom"></div>
           <div class="col-md-12 col-sm-6  top-spac">
            <div class="btn-toolbar">
               <div class="btn-group btn-group-sm">
                 <ng-container *ngFor="let char of charArray">
                   <button class="btn btn-default myfil" data-target="#item1" data-toggle="tab" (click)="filterSupplierByChar(char)">{{char}}</button>
                 </ng-container>
               </div>
             </div>
            
              
           </div>
           <div class="clear"></div>
           <div class="table-responsive">
              <table class="table table-hover table-striped">
                 <thead>
                    <tr class="cust-color">
                       <td>Sr. No.</td>
                      <td><span class="bold-txt">Name</span>
                        <!-- <div class="btn-group">
                           <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown" (click)="sort('caption')">
                              <span class="sr-only">Toggle Dropdown</span>
                              </button>
                        </div> -->
                     </td>
                      <td> <span class="bold-txt">State</span></td>
                       <td>
                          <span class="bold-txt">View</span> 
                         </td>
                         <td>
                              <span class="bold-txt">Download</span> 
                             </td>
                    </tr>
                 </thead>
                 <tbody *ngIf="filterShow">
                    <tr *ngFor="let image of _albums| orderBy: key; let i=index">
                     <td>{{i+1}}</td>
                       <td>{{image.caption}}</td>
                       <td>{{image.state}}</td>
                       <td><img [src]="image.thumb" (click)="open(i)"/></td>
                        <td><a [href]="image.src" target="_blank">Download Sample</a></td>
                    
                    </tr>
                 </tbody>
                 <tbody *ngIf="!filterShow">
                  <tr *ngFor="let image of filteredBills| orderBy: key | filter:filter; let i=index">
                   <td>{{i+1}}</td>
                     <td>{{image.caption}}</td>
                     <td>{{image.state}}</td>
                     <td><img [src]="image.thumb" (click)="open(i)"/></td>
                      <td><a [href]="image.src" target="_blank">Download Sample</a></td>
                  
                  </tr>
               </tbody>
              </table>
           </div>            
        </div>
     </section>
  </div>
</div>
<div class="clear20"></div>
<div class="clear20"></div>
