
<div class="row main-bg">
    <div id="logindetails" class="modal" role="dialog" [ngStyle]="{'display':displayWelcomModal}">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content modelWidth modalContent">
                
                <div class="modal-body mybody2">
                  
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                      <div style="text-align: center;padding: 4%;">
                        <img src="assets/img/logo.png">
                      </div>
                       <div style="text-align: center;padding: 2%;color:#533979;font-weight: bold;font-size: 25px;">
                         Welcome to AquaPay!
                       </div>
                       <div style="text-align: center;padding: 2%;font-weight: bold">
                        {{username}}<br>
                        Authorised Signatory
                      </div>
                    </div>
                    <div class="clear10"></div>
                    <!-- <a routerLink="../chpayment"> -->
                      <div style="text-align: center;padding: 2%;">
                    <button class="btn bg-primary btnw nextBtn" style="width:10%" data-dismiss="modal" (click)="closemodal()">Ok</button>
                  </div>
                    <!-- </a> -->
                </div>
            </div>

        </div>
    </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row mt-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="spanh1" *ngIf="rolename=='checker'">Welcome Ms. Shreya Khanduri</span>
        <span class="spanh2" *ngIf="rolename=='checker'">Manager-Finance</span>
        <span class="spanh1" *ngIf="rolename=='maker'">Welcome Mr. Mukund Javir</span>
        <span class="spanh2" *ngIf="rolename=='maker'">Manager-Finance</span>
        <span class="spanh1" *ngIf="rolename=='ccadmin'">Welcome Mr. Nitin Chavan</span>
        <span class="spanh2" *ngIf="rolename=='ccadmin'">Director Manager-Finance</span>
        <span class="spanh1" *ngIf="rolename=='ccmaker'">Welcome Mr. Amit Kalekar</span>
        <span class="spanh2" *ngIf="rolename=='ccmaker'">Senior Manager-Finance</span>
        <span class="spanh1" *ngIf="rolename=='ccchecker'">Welcome Mr. Karan Singham</span>
        <span class="spanh2" *ngIf="rolename=='ccchecker'">Manager-Finance</span>
    
        <span class="spanh1" *ngIf="rolename=='aschecker'">Welcome Ms. Deepali Patekar</span>
        <span class="spanh2" *ngIf="rolename=='aschecker'">Senior Manager-Finance</span>
        <span class="spanh1" *ngIf="rolename=='as'">Welcome Mr. Sandeep Vyas</span>
        <span class="spanh2" *ngIf="rolename=='as'">Manager-Finance</span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="rolename=='checker'">Checker</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="rolename=='maker'">Maker</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="rolename=='ccadmin' || rolename=='ccmaker'|| rolename=='ccchecker'">Corporate Admin</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="rolename=='as' || rolename=='aschecker'">Authorised Signatory</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="spanh2">Axis Bank Ltd</span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2" style="color:#8153ad;font-size:12px;">Last Session : 06 March 2019 | 12:08 PM</div>
    </div>
    <div class="row mb-4 mt-4">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-body"><img src="assets/img/main-graph.png" alt="" width="100%" class="graph"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row mb-4"  *ngIf="rolename=='maker' || rolename=='ccmaker'">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="card">
                    <div class="card-body" [routerLink]="['/main/make-payment']" style="cursor: pointer;">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/make-payments.png"
                            alt=""></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mp">Make Payments</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="card">
                      <div class="card-body" [routerLink]="['/main/unitary-biller']" style="cursor: pointer;">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/add-unitary-bill.png"
                              alt=""></div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center aub">Add Unitary Bill</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <div class="card">
                        <div class="card-body" [routerLink]="['/main/maker-biller-bulk']" style="cursor: pointer;">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/add-bulk-bill.png"
                                alt=""></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center abb">Add Bulk Bill</div>
                          </div>
                        </div>
                      </div>
                    </div>
          </div>
        <div class="card">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h5>Request Status</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border1">
                <div class="row" [routerLink]="['/main/checker-approve-payments']">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="round1">{{penpaylength}}</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                </div>
                <div class="row" [routerLink]="['/main/checker-approve-payments']">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6 *ngIf="penpaylength<=0 || penpaylength==1">Pending Payment</h6>
                    <h6 *ngIf="penpaylength>1">Pending Payments</h6>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" [routerLink]="['/checker-approve-payments']">
                    <button class="card-button">Approve Payments <br> Now</button>
                  </div>
                </div> -->
                <hr>
                <div class="row mb-1">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" [routerLink]="['/main/checker-payments']">
                    <span class="span1">{{apprpaylength}}</span>
                    <span><img src="assets/img/approved.png" alt="" style="vertical-align:1px"> Approved</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" [routerLink]="['/main/checker-payments']">
                    <span class="span1">{{rejpaylength}}</span>
                    <span><img src="assets/img/rejected.png" alt="" style="vertical-align:1px"> Rejected</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="row" [routerLink]="['/main/pending-biller']">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="round2">{{billerlength}}</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                </div>
                <div class="row" [routerLink]="['/main/pending-biller']">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6 *ngIf="billerlength<=0 || billerlength==1">Pending Bill</h6>
                    <h6 *ngIf="billerlength>1">Pending Bills</h6>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" [routerLink]="['/pending-biller']">
                    <button class="card-button">Approve Billers <br> Now</button>
                  </div>
                </div> -->
                <hr>
                <div class="row mb-1">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" [routerLink]="['/main/checker-biller']">
                    <span class="span1">{{apprbilllength}}</span>
                    <span><img src="assets/img/approved.png" alt="" style="vertical-align:1px"> Approved</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" [routerLink]="['/main/checker-biller']">
                    <span class="span1">{{rejbilllength}}</span>
                    <span><img src="assets/img/rejected.png" alt="" style="vertical-align:1px"> Rejected</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">

          <div class="card-body">              
            <div class="row main-card" >              
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <button class="btn-img1" (click)="goToPrevCard()" *ngIf="!!approvedcard && approvedcard.length > 1"><img style="vertical-align:2px;" alt="" src="assets/img/left-arrow.png"></button>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-cardbody" *ngIf="!!approvedcard && approvedcard.length > 1">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name">   
                    <span class="spn4">{{approvedcard[currentCard].cardholder}}</span>                 
                  </div>
                </div>
                <div class="row number">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{approvedcard[currentCard].digits}}</div>
                                     
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12 spn1">                  
                  VALID                  
                  </div>
                </div>
                <div class="row bottom">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12 spn2">
                      <span class="spn2">UPTO </span>
                      <span class="spn2">{{approvedcard[currentCard].expirydate}}</span>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 credit-limit">                  
                    <!-- Credit Limit                   -->
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="progress">
                          <!-- <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                            <p class="p1">1.7 Cr</p>
                            <p class="p2">2 Cr</p>
                          </div> -->
                        </div>
                      </div>
                    </div>
                <!-- <div class="row">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
                      <p style="margin-left:88%;">1.7 Cr</p>
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                      <p style="margin-left:80%;">2 Cr</p>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <button class="btn-img1"><img style="vertical-align:2px;"
                    alt="" src="assets/img/right-arrow.png" (click)="goToNextCard()" *ngIf="!!approvedcard && approvedcard.length > 1"></button>
              </div>              
            </div>          
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="row" style="border-bottom: 1px solid #ededed;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2 mt-2">
              <span class="title">Category-wise Spends</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2 mt-2 date">
              <table>
                <tr>
                  <td style="padding:0px; width:10%">From</td>
                  <td style="padding:0px; width:28%"><angular2-date-picker [(ngModel)]="date" [settings]="settings"></angular2-date-picker></td>
                  <td style="padding-left:7px; width:10%">To</td>
                  <td style="padding-right:10px; width:31%"><angular2-date-picker [(ngModel)]="date" [settings]="settings"></angular2-date-picker></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6 text-center" style="position:relative;margin-top: 6%;">
                <h3>1.45 Cr</h3>
                <h6 class="spent">Total Spent</h6>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6"><img src="assets/img/doughnut1.png" alt=""></div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3"></div>
              <div class="col-lg-9 col-md-12 col-sm-9 col-sm-9 text-center">
                <span class="spn-red">.</span><span class="graph-ratio">Electricity</span>
                <span class="spn-ocean">.</span><span class="graph-ratio">Telecom</span>
                <span class="spn-blue">.</span><span class="graph-ratio">Gas</span>
                <span class="spn-orange">.</span><span class="graph-ratio">Insurance</span>
                <span class="spn-yellow">.</span><span class="graph-ratio">Water</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
        <div class="card">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h5>Recent Payments</h5>
            </div>
          </div>
          <div class="card-body">
            <div style="border:1px solid #ededed">
                <table id="main-table" [mfData]="apprPaydata" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                  <tr>
                      <td>Sr.No.</td>
                      <td>Bill Name <img src="assets/img/Filter.png" alt=""></td>
                      <td>Amount <img src="assets/img/Filter.png" alt=""></td>
                      <td>Bill Date <img src="assets/img/Filter.png" alt=""></td>
                      <td>Due Date <img src="assets/img/Filter.png" alt=""></td>
                      <td>Status <img src="assets/img/Filter.png" alt=""></td>
                      <td>Payment Status <img src="assets/img/Filter.png" alt=""></td>
                      <td>&nbsp;</td>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let payment of mf.data; let i=index;">
                        <tr>
                          <td>{{i+1}}</td>
                          <td>{{payment.bill.biller}}</td>
                          <td><i class="fa fa-inr"></i> {{payment.amount}}</td>
                          <td>{{payment.billdate}}</td>
                          <td>{{payment.duedate}}</td>
                          <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': payment.status === 'Approved', 'Rejected': payment.status  === 'Rejected', 'Pending': payment.status  === 'Pending'}" role="button">{{payment.status}}</a></td>
                          <td>{{payment.paymentstatus}}</td>
                          <td style="padding:0 5px;"><img src="assets/img/tb_downarrow.png" alt="" (click)="payment.collapsed=!payment.collapsed"></td>
                        </tr>
                        <tr class="rowShow grayStrip" *ngIf="payment.collapsed">
                          <td class="custmtd" colspan="8">
                            <div class="tablediv">
                              <h5>Biller Details</h5>
                              <div class="mb-1">
                                <div class="span_width">Short Name</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.shortname}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">GL/Expense Code</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.expensecode}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Consumer No.</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.consumerno}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Order Id</div> <span> : </span> &nbsp;
                                <div class="bold_span">12345</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Location</div> <span> : </span> &nbsp;
                                <div class="bold_span" *ngIf="payment.bill.state=='MH'" >Maharashtra</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='RJ'" >Rajasthan</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='KA'" >Karnataka</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='AP'" >Andhra Pradesh</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='GJ'" >Gujarat</div>
                                <div class="bold_span" *ngIf="payment.bill.state=='DL'" >Delhi</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Bill No</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.billnumber}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Card No</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.card.digits}}</div>
                              </div>
          
                            </div>
                            <div class="tablediv">
                              <h5>Contact Details</h5>
                              <div class="mb-1">
                                <div class="span_width">Mobile No</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.contact}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Address</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.billaddress}}</div>
                              </div>
                              <div>
                                <div class="span_width">Email</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.email}}</div>
                              </div>
                            </div>
                            <div class="tablediv noborder">
                              <h5>Other Details</h5>
                              <div class="mb-1">
                                <div class="span_width">File Name</div> <span> : </span> &nbsp;
                                <div class="bold_span">Unitary</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Initiated by</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.initiatedby}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Initiated on</div> <span> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.initiatedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                              </div>
                              <div class="mb-1">
                                  <div class="span_width">Approved by </div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.approvedby}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">Approved on  </div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.approvedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                                </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="rowShow grayStrip" style="" *ngIf="payment.collapsed">
                          <td colspan="8">
                            <span class="pull-right"><a (click)="closeModalDialog1()"><img src="assets/img/page.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a data-toggle="modal" href="javascript:void(0)" id="openBtn"><img src="assets/img/attach.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a *ngIf="rolename=='maker' || rolename=='ccmaker'"
                                href="javascript:void(0)"><img src="assets/img/edit.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a *ngIf="rolename=='maker' || rolename=='ccmaker'" href="javascript:void(0)"><img
                                  src="assets/img/delete.png" alt=""></a></span></td>
                        </tr>
                        <div class="backdrop" [ngStyle]="{'display':displayBillDetails}"></div>
                          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayBillDetails}">
                            <!-- modal-dialog -->
                            <div class="modal-dialog" role="document">
                              <!-- modal-content -->
                              <div class="modal-content">
                                <!-- modal-header -->
                                <div class="modal-header">
                                  Bill Details<button type="button" class="close" aria-label="Close" (click)="openModalDialog1()"><span
                                      aria-hidden="true">&times;</span></button>
                                  <!-- <h4 class="modal-title">Login</h4> -->
                                </div>
                                <!-- modal-body -->
                                <div class="modal-body">
                                  <div class="row mb-2">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <label for="" style="color: #807199;font-size: 14px;">Late Payment Charges</label> <span> : </span> &nbsp;
                                      <span style="font-size:14px"><i class="fa fa-inr"></i> 111146.37</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <label for="" style="color: #807199;font-size: 14px;">Meter Reading </label> <span> : </span> &nbsp;
                                      <span style="font-size:14px">3565 Units</span>
                                    </div>
                                  </div>
                                  <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <label for="" style="color: #807199;font-size: 14px;">Promt Payment Incentives</label> <span> : </span> &nbsp;
                                      <span style="font-size:14px"><i class="fa fa-inr"></i> 0.00</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <label for="" style="color: #807199;font-size: 14px;">Remarks</label> <span> : </span> &nbsp;
                                      <span style="font-size:14px">Incentives Applicable</span>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button class="btn-ok" style="margin-right:10px;">OK</button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
