<div class="container-fluid abc">
    <div class="row">
        <div class="col-md-12 tab text-center centra">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="tablinks" [ngClass]="apprcrd?'active':''" id="mycard" (click)="apprcard()">APPROVED
                    CARDS</button>
                <button class="tablinks" [ngClass]="pencrd?'active':''" id="pendcard" (click)="pencard()" *ngIf="rolename=='ccmaker' || rolename=='ccadmin' || rolename=='aschecker' || rolename=='as'|| rolename=='ccchecker'">PENDING CARDS</button>
                <button class="tablinks" [ngClass]="rejcrd?'active':''" id="rejctcard" (click)="rejcard()" dddd>REJECTED
                    CARDS</button>
            </div>
            <div class="col-md-3 text-center bdivtopmrgn">
                <div class="col-md-6"></div>
                <div class="text-center col-sm-6">
                    <!-- <a *ngIf="isUnicard" [routerLink]="['/main/unitary-card']" class="btn btn-primary btn-outline ResponsiveBtnWidth topbtnpad activeapp">+
                        Add Card</a> -->
                </div>
            </div>
        </div>
        <div class="clear10"></div>
        <div class="clear10"></div>
        <div id="London" class="tabcontent" *ngIf="apprcrd">
            <div class="container">
                <div class="row">
                    <ng-container *ngFor="let approved of approvedcards">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="col-sm-12 card-1">
                                <div class="item bcolor">
                                    <div class="uk-card uk-light fontsize">
                                        <div class="row bcolor1 mb-4">
                                            <h3>Card Name</h3>   
                                            <h6 class="nofnt">{{approved.cardholder}}</h6>
                                        </div>
                                        <div class="row bcolor1 mb-4">
                                            <h3>Card Number</h3>
                                            <h6 class="nofnt">{{approved.digits}}</h6>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><h3>Expiry Month</h3></div>
                                            <div class="col-sm-6"><h3>Expiry Year</h3></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 exp"><h6 class="nofnt">{{approved.expirymonth}}</h6></div>
                                            <div class="col-sm-6 exp"><h6 class="nofnt">{{approved.expiryyear}}</h6></div>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="clear10"></div>
                                <div class="clear10"></div>
                         
                                <div class="clear10"></div>
                                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 padnone">
                                    <button class="collapsible" (click)="approved.selected=!approved.selected" style="text-decoration: underline;">{{(approved.selected)?"Hide
                                        Details":"View Details"}}</button>
                                    <div class="content" *ngIf="approved.selected">
                                        <div class="mb-1 row">
                                            <div class="span_width col-sm-5">Initiated On</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                            <div class="bold_span col-sm-6">{{approved.initiateddate}}</div>
                                        </div>
                                        <div class="mb-1 row">
                                            <div class="span_width col-sm-5">Initiated At</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                            <div class="bold_span col-sm-6">{{approved.initiatedtime}}</div>
                                        </div>
                                        <div class="mb-1 row">
                                            <div class="span_width col-sm-5">Initiated By</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                            <div class="bold_span col-sm-6">{{approved.initiatedby}}</div>
                                        </div>
                                        <div class="mb-1 row">
                                            <div class="span_width col-sm-5">Approved On</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                            <div class="bold_span col-sm-6">{{approved.aproveddate}}</div>
                                        </div>
                                        <div class="mb-1 row">
                                            <div class="span_width col-sm-5">Approved At</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                            <div class="bold_span col-sm-6">{{approved.aprovedtime}}</div>
                                        </div>
                                        <div class="mb-1 row">
                                            <div class="span_width col-sm-5">Approved By</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                            <div class="bold_span col-sm-6">{{approved.approvedby}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div id="Paris" class="tabcontent" *ngIf="pencrd">
                <div class="container">
                    <div class="row">
                        <ng-container *ngFor="let pending of pendingcards">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="col-sm-12 card-1">
                                    <div class="item bcolor">
                                        <div class="uk-card uk-light fontsize">
                                            <div class="row bcolor1 mb-4">
                                                <h3>Card Name</h3>   
                                                <h6 class="nofnt">{{pending.cardholder}}</h6>
                                            </div>
                                            <div class="row bcolor1 mb-4">
                                                <h3>Card Number</h3>
                                                <h6 class="nofnt">{{pending.digits}}</h6>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6"><h3>Expiry Month</h3></div>
                                                <div class="col-sm-6"><h3>Expiry Year</h3></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 exp"><h6 class="nofnt">{{pending.expirymonth}}</h6></div>
                                                <div class="col-sm-6 exp"><h6 class="nofnt">{{pending.expiryyear}}</h6></div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                    <div class="clear10"></div>
                                    <div class="clear10"></div>
                             
                                    <div class="clear10"></div>
                                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 padnone">
                                        <button class="collapsible" (click)="pending.selected=!pending.selected" style="text-decoration: underline;">{{(pending.selected)?"Hide
                                            Details":"View Details"}}</button>
                                        <div class="content" *ngIf="pending.selected">
                                            <div class="mb-1 row">
                                                <div class="span_width col-sm-5">Initiated On</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                                <div class="bold_span col-sm-6">{{pending.initiateddate}}</div>
                                            </div>
                                            <div class="mb-1 row">
                                                <div class="span_width col-sm-5">Initiated At</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                                <div class="bold_span col-sm-6">{{pending.initiatedtime}}</div>
                                            </div>
                                            <div class="mb-1 row">
                                                <div class="span_width col-sm-5">Initiated By</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                                <div class="bold_span col-sm-6">{{pending.initiatedby}}</div>
                                            </div>
                                            <div class="mb-1 row">
                                                <div class="span_width col-sm-5">Approved On</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                                <div class="bold_span col-sm-6">{{pending.aproveddate}}</div>
                                            </div>
                                            <div class="mb-1 row">
                                                <div class="span_width col-sm-5">Approved At</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                                <div class="bold_span col-sm-6">{{pending.aprovedtime}}</div>
                                            </div>
                                            <div class="mb-1 row">
                                                <div class="span_width col-sm-5">Approved By</div> <span class="no-vert col-sm-1"> : </span> &nbsp;
                                                <div class="bold_span col-sm-6">{{pending.approvedby}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
         
        <div id="Tokyo" class="tabcontent" *ngIf="rejcrd">
            <div class="container">
                <div class="row">
                    <ng-container *ngFor="let rejected of rejectedcards">
                        <div class="col-sm-6">
                            <div class="col-sm-12 card-1">
                                <div class="item bcolor">
                                    <div class="uk-card uk-light fontsize">
                                        <div class="row bcolor1 mb-4">
                                            <h3>Card Name</h3>   
                                            <h6 class="nofnt">{{rejected.cardholder}}</h6>
                                        </div>
                                        <div class="row bcolor1 mb-4">
                                            <h3>Card Number</h3>
                                            <h6 class="nofnt">{{rejected.digits}}</h6>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><h3>Expiry Month</h3></div>
                                            <div class="col-sm-6"><h3>Expiry Year</h3></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 exp"><h6 class="nofnt">{{rejected.expirymonth}}</h6></div>
                                            <div class="col-sm-6 exp"><h6 class="nofnt">{{rejected.expiryyear}}</h6></div>
                                        </div>
                                        <!-- <p class="textsmall mrgnp" style="font-family:Poppins-Regular!important;">
                                            VALID
                                        </p>
                                        <p class="textsmall mrgnp textsmall1" style="font-family:Poppins-Regular!important;">
                                            UP TO {{rejected.expirydate}}
                                        </p> -->
                                        <!--<div class="clear10"></div>-->
                                    </div>
                                </div>
                                <div class="clear10"></div>
                                <div class="clear10"></div>
                                <div class="col-sm-12 nopad">
                                    <label class="rstxt">Comment:</label>
                                    <br>
                                    <p class="txtl text-justify">
                                        {{rejected.regcmt}}
                                    </p>
                                </div>
                                <div class="clear10"></div>
                                <div class="col-sm-12 padnone">
                                    <button class="collapsible" (click)="rejected.selected=!rejected.selected" style="text-decoration: underline;">{{(rejected.selected)?"Hide
                                        Details":"View Details"}}</button>
                                    <div class="content" *ngIf="rejected.selected">
                                        <!-- <div class="col-sm-5 col-lg-5 col-md-5 col-xs-5 text-left padnone">
                                        <label class="txtl">Initiated On :</label>
                                        <label class="txtl">Initiated At :</label>
                                        <label class="txtl">Initiated By :</label>
                                        <label class="txtl">Rejected On :</label>
                                        <label class="txtl">Rejected At :</label>
                                        <label class="txtl">Rejected By :</label>
                                        </div>
                                        <div class="col-sm-7 col-lg-7 col-md-7 col-xs-7 text-right padnone">
                                        <label class="rstxt">{{rejected.dateadded}}</label>
                                        <br>
                                        <label class="rstxt">{{rejected.timeadded}}</label>
                                        <br>
                                        <label class="rstxt">{{rejected.added}}</label>
                                        <br>
                                        <label class="rstxt">{{rejected.dateapproved}}</label>
                                        <br>
                                        <label class="rstxt">{{rejected.timeapproved}}</label>
                                        <br>
                                        <label class="rstxt">{{rejected.approved}}</label>
                                        </div> -->
                                       
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                                <label class="txtl">Initiated On :</label>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <label class="rstxt">{{rejected.initiateddate}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                                <label class="txtl">Initiated At :</label>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <label class="rstxt">{{rejected.initiatedtime}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                                <label class="txtl">Initiated By :</label>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <label class="rstxt">{{rejected.initiatedby}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                                <label class="txtl">Rejected On :</label>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <label class="rstxt">{{rejected.aproveddate}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                                <label class="txtl">Rejected At :</label>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <label class="rstxt">{{rejected.aprovedtime}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                                <label class="txtl">Rejected By :</label>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <label class="rstxt">{{rejected.approvedby}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>