
<div class="container ">
  <section class="content ">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
        Make Payment
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2 top_back no-show2">
        <!-- <h5 class="blu-color">
          <a *ngIf="billdetails" class="backBtnpay_sup" (click)="backbilltype()">
            <img src="../../../assets/img/left-arrow.png">Back</a>
          <a *ngIf="conf" class="sndback" (click)="backbilldetails()">
            <img src="../../../assets/img/left-arrow.png">Back</a>
        </h5> -->
      </div>
      <div class="col-md-10 col-sm-9">
        <div class="stepwizard" *ngIf="billertype">
          <div class="stepwizard-row stepwizard-row2 setup-panel">
      
            <div class="stepwizard-step">
              <a class="btn bg-default btn-circle" id="fifth">
              </a>
              <h6 id="p2">Payment</h6>
            </div>
            
            <div class="stepwizard-step">
              <a class="btn bg-default btn-circle" id="sixth">
              </a>
              <h6 id="p3">Confirm & Send</h6>
            </div>
          </div>
        </div>
        <div class="stepwizard" *ngIf="billdetails">
          <div class="stepwizard-row stepwizard-row2 setup-panel">

            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle" id="fifth">
              </a>
              <h6 id="p2">Payment</h6>
            </div>
            <div class="stepwizard-step">
              <a class="btn bg-default btn-circle" id="sixth">
              </a>
              <h6 id="p3">Confirm & Send</h6>
            </div>
          </div>
        </div>
        <div class="stepwizard" *ngIf="reviewCard">
          <div class="stepwizard-row stepwizard-row2 setup-panel">

            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle-big" id="fifth">
                <img class="img-responsive tick2" src="assets/img/tick.png">
              </a>
              <h6 id="p2">Payment</h6>
            </div>
            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle" id="sixth">
              </a>
              <h6 id="p3">Confirm & Send</h6>
            </div>
          </div>
        </div>
        <div class="stepwizard" *ngIf="success">
          <div class="stepwizard-row stepwizard-row2 setup-panel">

            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle-big" id="fifth">
                <img class="img-responsive tick2" src="assets/img/tick.png">
              </a>
              <h6 id="p2">Payment</h6>
            </div>
            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle-big" id="sixth">
                <img class="img-responsive tick2" src="assets/img/tick.png">
              </a>
              <h6 id="p3">Confirm & Send</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 top_back no-show">
        <h5 class="blu-color">
          <a href="#" class="backBtnpay_sup">
            <img src="assets/img/left-arrow.png"> Back </a>
          <a class="sndback">
            <img src="assets/img/left-arrow.png"> Back </a>
        </h5>
      </div>
    </div>
    <div class="clearfix"></div>
    <form role="form" class="contact-form">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <div class="row form_bg" *ngIf="billertype">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row" id="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid #e9e9e9;">
                  <h4 class="Top5Heading111">Select Category</h4>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img alt="" src="../../../assets/img/search-icon.png" width="5%;"><input placeholder="Search for Location, Biller Type or Utility"
                    type="search">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"></div>
              </div> -->
              
              <div class="clo-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div>
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 padln">
                      <select class="input-text js-input inptxt form-control" name="usertitle" required>
                        <option value="Electricity" selected>Electricity</option>

                      </select>
                      <label class="label" for="usertitle">Select Type of Utility</label>
                    </div>
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 padln">
                      <select class="input-text js-input inptxt form-control" name="usertitle" required [(ngModel)]="paymentData.state" name="state" (change)="getBiller($event.target.value)">
                        <option *ngFor="let state of states" value="{{state.code}}">{{state.name}}</option>
                      </select>
                      <label class="label" for="usertitle">Select State</label>
                    </div>
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 padln">
                      <select class="input-text js-input inptxt form-control" name="usertitle" required [(ngModel)]="paymentData.biller" name="biller">
                        <option *ngFor="let bilr of billerlist" value="{{bilr.name}}">{{bilr.name}}</option>
                      </select>
                      <label class="label" for="usertitle">Select Biller</label>
                    </div>
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <button class="btn bg-primary nextpay buttonpad" type="button" (click)="billrdetails()">Next</button>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                </div>
              </div>
              <!-- <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="clear20"></div>
                <button class="btn bg-primary nextpay buttonpad" type="button" (click)="billrdetails()">Next</button>
                <div class="clear20"></div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="row form_bg" id="" *ngIf="billdetails">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row" style="margin-top:30px; font-size:13px; margin-bottom: 10px">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 txt text-left">
                  <table class="entry-table">
                    <tr>
                      <td class="unitheaders">No. of bills</td>
                      <td class="unitheaders">Total amount</td>
                      <td class="unitheaders">No. of selected bills</td>
                      <td class="unitheaders">Amount payable</td>
                    </tr>
                    <tr>
                      <td>{{bills.length}}</td>
                      <td><i class="fa fa-rupee"></i>{{totalamount | numberfr}}</td>
                      <td>{{checkedValueArray.length}}</td>
                      <td><i class="fa fa-rupee"></i>{{amountpay | numberfr}}</td>
                    </tr>
                  </table>
                <!-- <button class="btn bg-primary nextpay buttonpad" type="button" (click)="fetchAllBills()" style="padding: 3px 25px!important;">Fetch All Bills</button> -->
                </div>
                <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div> -->
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
                    <button class="btn btn-primary btn-outline ResponsiveBtnWidth btnspace" type="button" (click)="onItemSelectDown()" style="padding: 3px 25px!important;"><img src="assets/img/downloadlist.png"></button>
                  <!-- <button class="btn bg-primary buttonpad btnspace" type="button" (click)="filtervalidamount()" style="padding: 3px 25px!important;">Valid Amount</button> -->
                  <button class="btn bg-primary nextpay buttonpad" type="button" (click)="prompt()" style="padding: 3px 25px!important;">Next</button>
                
                </div>
              </div>
              <div class="row" id="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                    <table id="main-table" [mfData]="bills" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                      <thead>
                        <tr>
                          <td><input type="checkbox" name="vehicle1" value="Bike" [checked]="selectall" (change)="changeAll(bills)"></td>
                          <td>Biller Name&nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>Amount &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>Due date&nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                         
                          <td>Status &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td class="text-center">Payment Status &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>&nbsp;</td>
                        </tr>
                      </thead>
                      <tbody>
                          <ng-container  *ngFor="let payment of mf.data; let i=index;">
                        <tr>
                          <td><input name="submenu" type="checkbox" [checked]="select" (change)="change(payment)"></td>
                          <td>{{payment.biller_name}}</td>
                          <td><i class="fa fa-rupee"></i>{{payment.amount}}
                            <!-- <i class="fa fa-inr"></i> {{(payment.amount)?payment.amount:"No Data"}} -->
                          </td>
                          <td>{{(payment.fetch_due_date)?payment.fetch_due_date:"No Data"}}</td>
                          
                          <td><button class="pending-btn">Pending</button></td>
                          <td style="color:#533979;font-weight:bold;text-align: center;">Pending</td>
                          <td style="padding: 0 5px;"><img alt="" src="assets/img/tb_downarrow.png" (click)="payment.collapsed=!payment.collapsed;"></td>
                        </tr>
                        <tr class="rowShow grayStrip" *ngIf="payment.collapsed">
                          <td class="custmtd" colspan="8">
                            <div class="tablediv">
                              <h5>Biller Details</h5>
                              <div class="mb-1">
                                <div class="span_width">Short Name</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.short_name}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">GL/Expense Code</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.gl_expense_code}}</div>
                              </div>
                              <div class="mb-1">
                                  <div class="span_width">{{payment.parameter_1}}</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">{{payment.consumer_no}}</div>
                                </div>
                              <div class="mb-1">
                                <div class="span_width">Bill Date</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{(payment.fetch_bill_date)?payment.fetch_bill_date:"No Data"}}</div>
                              </div>
                              <!-- <div class="mb-1">
                                <div class="span_width">Due Date</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{(payment.fetch_due_date)?payment.fetch_due_date:"No Data"}}</div>
                              </div> -->
                              <!-- <div>
                                <div class="span_width">Ref No 2:</div>
                                <div class="bold_span">358507</div>
                              </div> -->
                            </div>
                            <div class="tablediv table2">
                              <h5>Contact Details</h5>
                              <div class="mb-1">
                                <div class="span_width">Mobile No</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.contact_no}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Address</div> <span class="no-vert"> : </span> &nbsp;
                                <span class="bold_span" tooltip="{{payment.contact_address}}" placement="top" show-delay="500">{{payment.contact_address}}</span>
                              </div>
                              <div>
                                <div class="span_width">Email</div> <span class="no-vert"> : </span> &nbsp;
                                <span class="bold_span" tooltip="{{payment.email}}" placement="top" show-delay="500">{{payment.email}}</span>
                              </div>
                            </div>
                            <div class="tablediv noborder table3">
                              <h5>Other Details</h5>
                              <div class="mb-1">
                                <div class="span_width">File Name</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">Unitary</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width" tooltip="{{payment.created_by}}" placement="top" show-delay="500">Initiated by</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.created_by}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Initiated on</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.created_on | date:'dd-MM-yyyy hh:mm a'}}</div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="rowShow grayStrip bottom_images" *ngIf="payment.collapsed">
                          <td colspan="8">   
                              <span class="pull-right"><!-- <img style="cursor:pointer;" src="../../../assets/img/attach.png">-->
                            
                            <img style="cursor:pointer;" src="assets/img/edit.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             
                            <a data-toggle="modal" href="#myModal" id="openBtn"><img src="assets/img/delete.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a id="button" class="anchor-bill openModal" (click)="closeModalDialog(payment.id)">Add
                                Details</a></span>
                              <!-- <span><button  *ngIf="!fetchingBill" (click)="fetchBill(payment.id)" class="anchor-bill">Fetch Bill</button> </span>
                              <span><a  *ngIf="fetchingBill" class="anchor-bill"><img src="assets/img/loading.svg" class="loading-svg" /></a></span> -->
                              </td>                                
                          <div class="backdrop" [ngStyle]="{'display':display}"></div>
                          <!-- modal -->
                          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                            <!-- modal-dialog -->
                            <div class="modal-dialog" id="mod" role="document">
                              <!-- modal-content -->
                              <div class="modal-content">
                                <!-- modal-header -->
                                <div class="modal-header">
                                  Add Details<button type="button" class="close" aria-label="Close" (click)="openModalDialog()"><span
                                      aria-hidden="true">&times;</span></button>
                                  <!-- <h4 class="modal-title">Login</h4> -->
                                </div>
                                <!-- modal-body -->
                                <div class="modal-body">
                                    <div class="row mb-2">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data">
                                        <table style="width:100%">
                                          <tr>
                                            <td>Late Payment Charges</td>
                                            <td>:</td>
                                            <td><input type="text" class="model-inputs" [(ngModel)]="late_pay_charges" name="late_pay_charges"></td>
                                          </tr>
                                          <tr>
                                            <td>Meter Reading</td>
                                            <td>:</td>
                                            <td><input type="text" class="model-inputs" [(ngModel)]="meter_reading" name="meter_reading"></td>
                                          </tr>
                                          <tr>
                                            <td>Promt Payment Incentives</td>
                                            <td>:</td>
                                            <td><input type="text" class="model-inputs" [(ngModel)]="promt_pay_incentives" name="promt_pay_incentives"></td>
                                          </tr>
                                          <tr>
                                            <td>Remarks</td>
                                            <td>:</td>
                                            <td><input type="text" class="model-inputs" [(ngModel)]="remarks" name="remarks"></td>
                                          </tr>
                                          <tr>
                                            <td>Attachment</td>
                                            <td>:</td>
                                            <td>
                                                <div class="upload-btn-wrapper">
                                                    <button class="" style="border: 1px solid #fff; background-color: white;"><img src="assets/img/attachments.png"
                                                        alt=""></button>
                                                        {{filename}}
                                                    <input type="file" name="fileUpload" #file  (change)="UploadFile(file)" ng-reflect-name="fileUpload"/>
                                                  </div>
                                            </td>
                                          </tr>
                                        </table>
                                     
                                    </div>
                               
                                  </div>
                                  </div>
                                <!-- modal-footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" (click)="submitextradetails()">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                          
                        </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                  <div class="backdrop" [ngStyle]="{'display':displayprompt}"></div>
                   <!-- modal -->
                   <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayprompt}">
                      <!-- modal-dialog -->
                      <div class="modal-dialog" id="mod" role="document">
                        <!-- modal-content -->
                        <div class="modal-content">
                          <!-- modal-header -->
                          <div class="modal-header popupheadeer">
                            Alert!<button type="button" class="close" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                            <!-- <h4 class="modal-title">Login</h4> -->
                          </div>
                          <!-- modal-body -->
                          <div class="modal-body">
                              <div class="row mb-2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data">
                              
                               <p>You are initiating payments for bills with past due dates. Please validate these entires. 
                                  Click ok to continue  or cancel to go back to list view</p>
                              </div>
                         
                            </div>
                            </div>
                          <!-- modal-footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default popupheadeer" (click)="confirmprompt(true)">Ok</button>
                            <button type="button" class="btn btn-default popupheadeer" (click)="confirmprompt(false)">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="row form_bg" id="" *ngIf="conf">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row" id="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid #e9e9e9;">
                  <h4 class="Top5Heading111">Select Card</h4>
                </div>
              </div>
              <div class="row" style="border-bottom:2px solid #f5f5f5">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <!-- <button class="btn-img1"><img style="vertical-align:2px;" alt="" src="../../../assets/img/left-arrow.png"></button>-->
                </div>
                <ng-container *ngFor="let card of approvedcard">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  (click)="getActivecard(card.id);getCardDetails(card)">
                  <div [ngClass]="card.id === activeElement ? 'card-active' : 'none'">
                  <button class="card-button" [ngClass]="card.id === activeElement ? 'activeBorder' : 'none'">
                    <img [src]="card.id === activeElement ? 'assets/img/paycard.png' : 'assets/img/precard.png'"  alt="" class="pre-card">
                    <div class="row">
                      <div class="col-md-12">
                      <span class="spn-card">{{card.digits}}</span>
                    </div>
                    </div>
                    <span></span>
                  </button>
                </div>
                </div>
              </ng-container>                
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <!-- <button class="btn-img1"><img style="vertical-align:2px;" alt="" src="../../../assets/img/right-arrow.png"></button>-->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 main-card">
                  <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><button class="btn-img" (click)="goToPrevCard()" *ngIf="!!approvedcard && approvedcard.length > 1"><img style="vertical-align:2px;" alt="" src="../../../assets/img/left-arrow.png"></button></div> -->
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-cardbody">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spn-mrg">
                        <span class="spn4">{{cardHolder}}</span>
                      </div>
                    </div>
                    <div class="row card-no">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{cardNumber}}</div>                     
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="spn1">VALID</span>
                        <span class="spn2">UPTO {{cardExpiry}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                            <p class="p1">1.7 Cr</p>
                            <p class="p2">2 Cr</p>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                  <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px;"><button class="btn-img"(click)="goToNextCard()" *ngIf="!!approvedcard && approvedcard.length > 1"><img style="vertical-align:2px;"
                        alt="" src="../../../assets/img/right-arrow.png"></button></div> -->
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <!-- <div class="col-md-3 col-sm-3 top_back no-show2">
                      <h5 class="blu-color">
                        <a *ngIf="conf" class="sndback" (click)="backbilldetails()">
                          <img style="vertical-align: 3px;" src="../../../assets/img/left-arrow.png">Back</a>
                      </h5>
                    </div>
                    <button class="btn bg-primary nextpay buttonpad" type="button" (click)="review()">Next</button> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cardbody-copy">
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 dummy-card">
                      <p style="font-weight: bold;font-size: 15px;">Payments Details</p>
                      <table>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;width: 35%">Total bills</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:3px 0px;width:40%">{{checkedValueArray.length}}</div>
                        </tr>
                        <!-- <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;width: 60%">Amount Payable</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:3px 0px;width:30%"><i class="fa fa-inr"></i> 7655888</div>
                        </tr> -->
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;width: 35%">Total amount</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:3px 0px;width:40%"><i class="fa fa-rupee"></i>{{amountpay | numberfr}}</div>
                        </tr>
                        <!-- <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Initiated By</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:5px 0px;"> {{cardinitiatedby}}</div>
                        </tr>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Initiated On</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:5px 0px;"> {{cardinitiatedon}}</div>
                        </tr> -->
                      </table>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                      <table>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Approved By</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:5px 0px;">{{cardapprovedby}}</div>
                        </tr>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Approved On</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:5px 0px;">{{cardapprovedon}}</div>
                        </tr>
                      </table>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 top_back no-show2 text-center" style="padding-left: 0%!important;">
                <h5 class="blu-color">
                  <a *ngIf="reviewCard" class="sndback" (click)="backbilldetails()">
                    <img style="vertical-align: 3px;" src="assets/img/left-arrow.png">Back</a>
                </h5>
              </div>
              <button class="btn bg-primary nextpay buttonpad" type="button" (click)="succesadd()">Submit for
                Approval</button>
                <div class="clear20"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      </div>
     
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
     
          <div class="row setup-content form_bg" id="" *ngIf="success">
            <div class="BorderBottom"></div>
            <div class="col-md-12 text-center">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div>
                  <div class="clear30"></div>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <img src="assets/img/done-tick.png" alt="">
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <label class="successhedtxt">Payment has been submitted for approval and notification has been sent.</label>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <div class="col-xs-3 col-sm-3 col-md-3"></div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <a class="btn btn-primary  btn-outline btn-spac2 Btn_Width2 gtog" [routerLink]="['/main/paymentlist']">View
                      Payments</a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <a class="btn btn-primary btn-outline Btn_Width2" [routerLink]="['/main/dashboard']">Go to Dashboard</a>
                  </div>
                  <div class="clear30"></div>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <div class="col-xs-3 col-sm-3 col-md-3"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      </div>
    </form>
  </section>
</div>
