
<div class="container ">
  <section class="content ">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
        Make Payment
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2 top_back no-show2">
        <!-- <h5 class="blu-color">
          <a *ngIf="billdetails" class="backBtnpay_sup" (click)="backbilltype()">
            <img src="../../../assets/img/left-arrow.png">Back</a>
          <a *ngIf="conf" class="sndback" (click)="backbilldetails()">
            <img src="../../../assets/img/left-arrow.png">Back</a>
        </h5> -->
      </div>
      <div class="col-md-10 col-sm-9">
        <div class="stepwizard" *ngIf="billertype">
          <div class="stepwizard-row stepwizard-row2 setup-panel">
      
            <div class="stepwizard-step">
              <a class="btn bg-default btn-circle" id="fifth">
              </a>
              <h6 id="p2">Payment</h6>
            </div>
            
            <div class="stepwizard-step">
              <a class="btn bg-default btn-circle" id="sixth">
              </a>
              <h6 id="p3">Confirm & Send</h6>
            </div>
          </div>
        </div>
        <div class="stepwizard" *ngIf="billdetails">
          <div class="stepwizard-row stepwizard-row2 setup-panel">

            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle" id="fifth">
              </a>
              <h6 id="p2">Payment</h6>
            </div>
            <div class="stepwizard-step">
              <a class="btn bg-default btn-circle" id="sixth">
              </a>
              <h6 id="p3">Confirm & Send</h6>
            </div>
          </div>
        </div>
        <div class="stepwizard" *ngIf="reviewCard">
          <div class="stepwizard-row stepwizard-row2 setup-panel">

            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle-big" id="fifth">
                <img class="img-responsive tick2" src="assets/img/tick.png">
              </a>
              <h6 id="p2">Payment</h6>
            </div>
            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle" id="sixth">
              </a>
              <h6 id="p3">Confirm & Send</h6>
            </div>
          </div>
        </div>
        <div class="stepwizard" *ngIf="success">
          <div class="stepwizard-row stepwizard-row2 setup-panel">

            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle-big" id="fifth">
                <img class="img-responsive tick2" src="assets/img/tick.png">
              </a>
              <h6 id="p2">Payment</h6>
            </div>
            <div class="stepwizard-step">
              <a class="btn bg-primary btn-circle-big" id="sixth">
                <img class="img-responsive tick2" src="assets/img/tick.png">
              </a>
              <h6 id="p3">Confirm & Send</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 top_back no-show">
        <h5 class="blu-color">
          <a href="#" class="backBtnpay_sup">
            <img src="assets/img/left-arrow.png"> Back </a>
          <a class="sndback">
            <img src="assets/img/left-arrow.png"> Back </a>
        </h5>
      </div>
    </div>
    <div class="clearfix"></div>
    <form role="form" class="contact-form">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <div class="row form_bg" *ngIf="billertype">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row" id="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid #e9e9e9;">
                  <h4 class="Top5Heading111">Select Category</h4>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img alt="" src="../../../assets/img/search-icon.png" width="5%;"><input placeholder="Search for Location, Biller Type or Utility"
                    type="search">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"></div>
              </div> -->
              
              <div class="clo-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div>
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 padln">
                      <select class="input-text js-input inptxt form-control" name="usertitle" required>
                        <option value="Electricity" selected>Electricity</option>

                      </select>
                      <label class="label" for="usertitle">Select Type of Utility</label>
                    </div>
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 padln">
                      <select class="input-text js-input inptxt form-control" name="usertitle" required [(ngModel)]="paymentData.state" name="state" (change)="getBiller($event.target.value)">
                        <option *ngFor="let state of states" value="{{state.code}}">{{state.name}}</option>
                      </select>
                      <label class="label" for="usertitle">Select State</label>
                    </div>
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 padln">
                      <select class="input-text js-input inptxt form-control" name="usertitle" required [(ngModel)]="paymentData.biller" name="biller">
                        <option *ngFor="let bilr of billerlist" value="{{bilr.name}}">{{bilr.name}}</option>
                      </select>
                      <label class="label" for="usertitle">Select Biller</label>
                    </div>
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <button class="btn bg-primary nextpay buttonpad" type="button" (click)="billrdetails()">Next</button>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                </div>
              </div>
              <!-- <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="clear20"></div>
                <button class="btn bg-primary nextpay buttonpad" type="button" (click)="billrdetails()">Next</button>
                <div class="clear20"></div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="row form_bg" id="" *ngIf="billdetails">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row" id="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid #e9e9e9;">
                  <h4 class="Top5Heading111">All Pending Payments</h4>
                </div>
              </div>
              <div class="row" style="margin-top:15px; font-size:13px;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  No of Entries : <span class="spn">{{payments.length}}</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    No of Selected Entries : <span class="spn">4</span>
                </div>
              </div>
              <div class="row" style="margin-top:15px; font-size:13px;">
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                  Total Amount: <i class="fa fa-inr"></i> 6345886
                    <!-- <button class="btn bg-primary nextpay buttonpad" type="button" (click)="fetchAllBills()" style="padding: 3px 25px!important;">Fetch All Bills</button> -->
                  </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <button class="btn bg-primary nextpay buttonpad" type="button" (click)="cnfsend()" style="padding: 3px 25px!important;">Next</button>
                </div>
              </div>
              <div class="row" id="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                    <table id="main-table" [mfData]="payments" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                      <thead>
                        <tr>
                          <td><input type="checkbox" name="vehicle1" value="Bike" [checked]="selectall" (change)="changeAll(payments)"></td>
                          <td>Biller &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>Amount &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>Bill Date &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>Due Date &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>Status &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>Payment Status &nbsp;<img alt="" src="assets/img/Filter.png" style="vertical-align:2px;"></td>
                          <td>&nbsp;</td>
                        </tr>
                      </thead>
                      <tbody>
                          <ng-container  *ngFor="let payment of mf.data; let i=index;">
                        <tr>
                          <td><input name="submenu" type="checkbox" [checked]="select" (change)="change(payment.id) "></td>
                          <td>{{payment.bill.biller}}</td>
                          <td><i class="fa fa-inr"></i> {{(payment.amount)?payment.amount:"No Data"}}</td>
                          <td>{{(payment.billdate)?payment.billdate:"No Data"}}</td>
                          <td>{{(payment.duedate)?payment.duedate:"No Data"}}</td>
                          <td><button class="pending-btn">Pending</button></td>
                          <td style="color:#533979;font-weight:bold;">Pending</td>
                          <td style="padding: 0 5px;"><img alt="" src="assets/img/tb_downarrow.png" (click)="payment.collapsed=!payment.collapsed;"></td>
                        </tr>
                        <tr class="rowShow grayStrip" *ngIf="payment.collapsed">
                          <td class="custmtd" colspan="8">
                            <div class="tablediv">
                              <h5>Biller Details</h5>
                              <div class="mb-1">
                                <div class="span_width">Short Name</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.shortname}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">GL/Expense Code</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.expensecode}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Consumer No</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.consumerno}}</div>
                              </div>
                              <!-- <div>
                                <div class="span_width">Ref No 2:</div>
                                <div class="bold_span">358507</div>
                              </div> -->
                            </div>
                            <div class="tablediv">
                              <h5>Contact Details</h5>
                              <div class="mb-1">
                                <div class="span_width">Mobile No</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.contact}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Address</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.billaddress}}</div>
                              </div>
                              <div>
                                <div class="span_width">Email</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.email}}</div>
                              </div>
                            </div>
                            <div class="tablediv noborder">
                              <h5>Other Details</h5>
                              <div class="mb-1">
                                <div class="span_width">File Name</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.uploadfilename}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Initiated by</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.initiatedby}}</div>
                              </div>
                              <div class="mb-1">
                                <div class="span_width">Initiated on</div> <span class="no-vert"> : </span> &nbsp;
                                <div class="bold_span">{{payment.bill.initiatedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="rowShow grayStrip bottom_images" *ngIf="payment.collapsed">
                          <td colspan="8">                            
                            <span class="pull-right"><img style="cursor:pointer;" src="assets/img/edit.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             
                            <a data-toggle="modal" href="#myModal" id="openBtn"><img src="assets/img/delete.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a id="button" class="anchor-bill openModal" (click)="closeModalDialog()">Add
                                Details</a></span>
                              <!-- <span><button  *ngIf="!fetchingBill" (click)="fetchBill(payment.id)" class="anchor-bill">Fetch Bill</button> </span>
                              <span><a  *ngIf="fetchingBill" class="anchor-bill"><img src="assets/img/loading.svg" class="loading-svg" /></a></span> -->
                              </td>                                
                          <div class="backdrop" [ngStyle]="{'display':display}"></div>
                          <!-- modal -->
                          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                            <!-- modal-dialog -->
                            <div class="modal-dialog" role="document">
                              <!-- modal-content -->
                              <div class="modal-content">
                                <!-- modal-header -->
                                <div class="modal-header">
                                  Add Details<button type="button" class="close" aria-label="Close" (click)="openModalDialog()"><span
                                      aria-hidden="true">&times;</span></button>
                                  <!-- <h4 class="modal-title">Login</h4> -->
                                </div>
                                <!-- modal-body -->
                                <div class="modal-body">
                                    <div class="row mb-2">
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 data">
                                        <label for="" style="color: #807199;font-size: 14px;">Late Payment Charges</label> <span style="vertical-align:0px"> : </span> &nbsp;
                                        <span style="font-size:14px;vertical-align:0px"><input type="text" class="model-inputs"></span>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 data">
                                        <label for="" style="color: #807199;font-size: 14px;">Meter Reading </label> <span style="vertical-align:0px"> : </span> &nbsp;
                                        <span style="font-size:14px;vertical-align:0px"><input type="text" class="model-inputs"></span>
                                      </div>
                                    </div>
                                    <div class="row mb-4">
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 data">
                                        <label for="" style="color: #807199;font-size: 14px;">Promt Payment Incentives</label> <span style="vertical-align:0px"> : </span> &nbsp;
                                        <span style="font-size:14px;vertical-align:0px"><input type="text" class="model-inputs"></span>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 data">
                                        <label for="" style="color: #807199;font-size: 14px;">Remarks</label> <span style="vertical-align:0px"> : </span> &nbsp;
                                        <span style="font-size:14px;vertical-align:0px"><input type="text" class="model-inputs"></span>
                                      </div>
                                    </div>
                                    <!-- <div class="row">
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button class="btn-ok" style="margin-right:10px;">OK</button></div>
                                    </div> -->
                                  </div>
                                <!-- modal-footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" (click)="openModalDialog()">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="row form_bg" id="" *ngIf="conf">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row" id="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid #e9e9e9;">
                  <h4 class="Top5Heading111">Select Card</h4>
                </div>
              </div>
              <div class="row" style="border-bottom:2px solid #f5f5f5">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <!-- <button class="btn-img1"><img style="vertical-align:2px;" alt="" src="../../../assets/img/left-arrow.png"></button>-->
                </div>
                <ng-container *ngFor="let card of approvedcard">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  (click)="getCardbyId(card.id);getCardDetails(card)">
                  <div [ngClass]="card.id === activeElement ? 'card-active' : 'none'">
                  <button class="card-button" [ngClass]="card.id === activeElement ? 'activeBorder' : 'none'">
                    <img [src]="card.id === activeElement ? 'assets/img/paycard.png' : 'assets/img/precard.png'"  alt="" class="pre-card">
                    <div class="row">
                      <div class="col-md-12">
                      <span class="spn-card">{{card.digits}}</span>
                    </div>
                    </div>
                    <span></span>
                  </button>
                </div>
                </div>
              </ng-container>                
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <!-- <button class="btn-img1"><img style="vertical-align:2px;" alt="" src="../../../assets/img/right-arrow.png"></button>-->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 main-card">
                  <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><button class="btn-img" (click)="goToPrevCard()" *ngIf="!!approvedcard && approvedcard.length > 1"><img style="vertical-align:2px;" alt="" src="../../../assets/img/left-arrow.png"></button></div> -->
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-cardbody">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spn-mrg">
                        <span class="spn4">{{cardHolder}}</span>
                      </div>
                    </div>
                    <div class="row card-no">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{cardNumber}}</div>                     
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="spn1">VALID</span>
                        <span class="spn2">UPTO {{cardExpiry}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="progress">
                          <!-- <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                            <p class="p1">1.7 Cr</p>
                            <p class="p2">2 Cr</p>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
                  <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px;"><button class="btn-img"(click)="goToNextCard()" *ngIf="!!approvedcard && approvedcard.length > 1"><img style="vertical-align:2px;"
                        alt="" src="../../../assets/img/right-arrow.png"></button></div> -->
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <!-- <div class="col-md-3 col-sm-3 top_back no-show2">
                      <h5 class="blu-color">
                        <a *ngIf="conf" class="sndback" (click)="backbilldetails()">
                          <img style="vertical-align: 3px;" src="../../../assets/img/left-arrow.png">Back</a>
                      </h5>
                    </div>
                    <button class="btn bg-primary nextpay buttonpad" type="button" (click)="review()">Next</button> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top:40px;">
                  <p style="font-weight: 500;font-size: 15px;">Payments Details</p>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                      <table>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">No. of Payments Selected By</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:3px 0px;">10</div>
                        </tr>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Amount Payable</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:3px 0px;"><i class="fa fa-inr"></i> 7655888</div>
                        </tr>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Total Amount</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:3px 0px;"><i class="fa fa-inr"></i> 543224778</div>
                        </tr>
                        <!-- <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Initiated By</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:5px 0px;"> {{cardinitiatedby}}</div>
                        </tr>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Initiated On</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:5px 0px;"> {{cardinitiatedon}}</div>
                        </tr> -->
                      </table>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                      <table>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Approved By</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:5px 0px;">{{cardapprovedby}}</div>
                        </tr>
                        <tr style="background-color: #ffff;">
                            <div class="span_width" style="margin:5px 0px;">Approved On</div>  <span class="no-vert"> : </span> &nbsp;
                            <div class="bold_span" style="margin:5px 0px;">{{cardapprovedon}}</div>
                        </tr>
                      </table>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 top_back no-show2 text-center" style="padding-left: 0%!important;">
                <h5 class="blu-color">
                  <a *ngIf="reviewCard" class="sndback" (click)="backbilldetails()">
                    <img style="vertical-align: 3px;" src="assets/img/left-arrow.png">Back</a>
                </h5>
              </div>
              <button class="btn bg-primary nextpay buttonpad" type="button" (click)="succesadd()">Submit for
                Approval</button>
                <div class="clear20"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      </div>
      <!-- <div class="row" style="margin-bottom:40px;">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="row form_bg" id="" *ngIf="reviewCard">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row" id="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid #e9e9e9;">
                  <h4>Review Payment Details</h4>
                </div>
              </div>             
              <ng-container *ngFor="let payment of pendingPayments">
                  <div class="row" style="padding: 0px 2%;">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 style="margin:20px 0px">Bill Information</h5>
                      </div>
                    </div>
                    <div class="row" style="padding: 0px 2%;">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="div-label">Type of Utility</div>
                        <div class="div-data">{{payment.bill.board}}</div>
                        <div class="div-label">Bill Name</div>
                        <div class="div-data">: {{payment.bill.biller}}</div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="div-label">Location</div>
                        <div class="div-data">: {{payment.bill.state}}</div>
                        <div class="div-label">Consumer Number</div>
                        <div class="div-data">: {{payment.bill.consumerno}}</div>
                      </div>
                    </div>
                    <div class="row" style="padding: 0px 2%;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <div class="div-label">Amount</div>
                          <div class="div-data">: {{payment.amount}}</div>
                          <div class="div-label">Bill Date</div>
                          <div class="div-data">: {{payment.billdate}}</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <div class="div-label">Due date</div>
                          <div class="div-data">: {{payment.duedate}}</div>
                          <div class="div-label">Bill Number</div>
                          <div class="div-data">: {{payment.billnumber}}</div>
                        </div>
                      </div>
              </ng-container>              
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="col-md-3 col-sm-3 top_back no-show2" style="padding-left: 0%!important;">
                  <h5 class="blu-color">
                    <a *ngIf="reviewCard" class="sndback" (click)="backbilldetails()">
                      <img style="vertical-align: 3px;" src="../../../assets/img/left-arrow.png">Back</a>
                  </h5>
                </div>
                <button class="btn bg-primary nextpay buttonpad" type="button" (click)="succesadd()">Send for
                  Approval</button>
                <div class="clear20"></div>
                <div class="clear20"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      </div> -->
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="row setup-content form_bg" id="" *ngIf="">
            <h4 class="Top5Heading111 ">Review Details</h4>
            <div class="BorderBottom"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 extra_padd detail_bill">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="lft_div">
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <label class="label" for="usertitle" style="position:relative"><strong>Type of Utility</strong></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7">
                      <span> : Electricity</span>
                    </div>
                    <div class="clear20"></div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <label class="label" for="usertitle" style="position:relative"><strong>Bill Name</strong></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7">
                      <span> : Maharastra State Elecricity Board</span>
                    </div>
                    <div class="clear20"></div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <label class="label" for="usertitle" style="position:relative"><strong>Reference Number</strong></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7">
                      <span> : 1245567890</span>
                    </div>
                    <div class="clear20"></div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <label class="label" for="usertitle" style="position:relative"><strong>Bill Date</strong></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7">
                      <span> : 1st</span> <span class="span1">of every month</span>
                    </div>
                    <div class="clear20"></div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <label class="label" for="usertitle" style="position:relative"><strong>Biller Address</strong></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7">
                      <span> : B, 102, Royal Empress, Baner, Pune</span>
                    </div>
                    <div class="clear20"></div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <label class="label" for="usertitle" style="position:relative"><strong>Email</strong></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7">
                      <span> : xyz@xyz.com</span>
                    </div>
                    <div class="clear20"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <div class="col-md-3 col-sm-3 top_back no-show2">
                    <h5 class="blu-color">
                      <a *ngIf="conf" class="sndback" (click)="backbilldetails()">
                        <img src="assets/img/left-arrow.png">Back</a>
                    </h5>
                  </div>
                  <button class="btn bg-primary nextpay buttonpad" type="button" (click)="succesadd()">Send for
                    Approval</button>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 extra_padd detail_bill">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="row">
                    <div class="lft_div">
                      <div class="clear20"></div>
                      <div class="clear20"></div>
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <label class="label" for="usertitle" style="position:relative"><strong>Short Name</strong></label>
                      </div>
                      <div class="col-xs-7 col-sm-7 col-md-7">
                        <span> : MSEB</span>
                      </div>
                      <div class="clear20"></div>
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <label class="label" for="usertitle" style="position:relative"><strong>GL/Expense Code</strong></label>
                      </div>
                      <div class="col-xs-7 col-sm-7 col-md-7">
                        <span> : 2456781</span>
                      </div>
                      <div class="clear20"></div>
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <label class="label" for="usertitle" style="position:relative"><strong>Due Date</strong></label>
                      </div>
                      <div class="col-xs-7 col-sm-7 col-md-7">
                        <span> : 20th</span> <span class="span1">of every month</span>
                      </div>
                      <div class="clear20"></div>
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <label class="label" for="usertitle" style="position:relative"><strong>Contact Number</strong></label>
                      </div>
                      <div class="col-xs-7 col-sm-7 col-md-7">
                        <span> : 09876543210</span>
                      </div>
                      <div class="clear20"></div>
                      <div class="col-xs-5 col-sm-5 col-md-5">
                        <label class="label" for="usertitle" style="position:relative"><strong>Attachment</strong></label>
                      </div>
                      <div class="col-xs-7 col-sm-7 col-md-7">
                        <span> : hxy</span>
                      </div>
                      <div class="clear20"></div>
                      <div class="clear20"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row setup-content form_bg" id="" *ngIf="success">
            <div class="BorderBottom"></div>
            <div class="col-md-12 text-center">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div>
                  <div class="clear30"></div>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <img src="assets/img/done-tick.png" alt="">
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <label class="successhedtxt">Payment has been submitted for approval and notification has been sent.</label>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <div class="col-xs-3 col-sm-3 col-md-3"></div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <a class="btn btn-primary  btn-outline btn-spac2 Btn_Width2 gtog" [routerLink]="['/main/maker-payment-list']">View
                      Payments</a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3">
                    <a class="btn btn-primary btn-outline Btn_Width2" [routerLink]="['/main/dashboard-maker']">Go to Dashboard</a>
                  </div>
                  <div class="clear30"></div>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                  <div class="col-xs-3 col-sm-3 col-md-3"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      </div>
    </form>
  </section>
</div>
