<div class="container" id="lstpaymt">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content abc">
      <div class="row">
        <div _ngcontent-c4="" class="clear20"></div>
        <div _ngcontent-c4="" class="clear20"></div>
        <div _ngcontent-c4="" class="clear20"></div>
      </div>
      <div class="white-bg">
        <h4 class="col-md-9 col-sm-6 col-xs-6 Top5Heading111 mrgnone">List of Groups..</h4>
        <div class="form-group col-md-3 col-sm-6 col-xs-6 top-spac text-right right-spac">
         

        </div>
        <div class="clear"></div>

        <div class="BorderBottom"></div>
        <div class="col-md-3 col-sm-5  top-spac">

          <label class="nogselecttxt">No. of Groups Selected :</label>
          <label class="nogselecttxtbold">&nbsp;&nbsp; {{this.checkedValueArray.length}}</label>

        </div>
        <div class="col-md-9 col-sm-7 text-left" *ngIf="!!pendingdetails">
          <div class="clear20"></div>
          <a>
            <button class="btn bg-primary borderradius" (click)="gotoOTP()">Approve</button>
          </a>

          &nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-primary btn-outline btnw ResponsiveBtnWidth bottom" data-toggle="modal" (click)="displayRejMod()">Reject</a>

        </div>

        <div class="clear"></div>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>

              <tr class="cust-color">
                <td>
                  <div _ngcontent-c3="">
                    <input type="checkbox" name="mainmenu" [disabled]="pendingdetails == undefined" (change)="changeAll(pendingdetails);selectAll();" [checked]="selectall" [(ngModel)]="selectedAll">
                  </div>
                </td>
                <td>
                  <span class="bold-txtn">Group Name</span> &nbsp;&nbsp;&nbsp;


                </td>

                <td>
                  <span class="bold-txtn">Lower Limit</span> &nbsp;&nbsp;&nbsp;
                  
                </td>

                <td>
                  <span class="bold-txtn">Upper Limit</span> &nbsp;&nbsp;&nbsp;
                  
                </td>

                <td>
                  <span class="bold-txtn"> Status</span> &nbsp;&nbsp;&nbsp;
                </td>


                <td></td>
              </tr>

            </thead>
            <tbody>
            <ng-container *ngFor="let groupspending of pendingdetails;let i=index">
              
                <!-- <div > -->
                <tr>
                  <td>
                    <div _ngcontent-c3="">
                      <input type="checkbox" name="submenu" (change)="change(groupspending.id);checkIfAllSelected()" [(ngModel)]="groupspending.selected">
                    </div>
                  </td>
                  <td>{{groupspending.grpname}}</td>
                  <td>{{groupspending.lwrlimit}}</td>
                  <td>{{groupspending.uprlimit}}</td>
                  <td>
                    <a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': groupspending.status === 'Approved', 'Rejected': groupspending.status  === 'Rejected', 'Pending': groupspending.status  === 'Pending'}"
                      role="button">{{ groupspending.status }} </a>
                  </td>
                  <td>
                    <div [ngClass]="{'flashOn': groupspending.collapsed, 'flash': !groupspending.collapsed }" class="showhide" (click)="groupspending.collapsed=!groupspending.collapsed">
                      <span class="showhide">+</span>
                    </div>
                  </td>
                </tr>

                <tr class="rowShow grayStrip" *ngIf="groupspending.collapsed">
                  <td colspan="6" class="custmtdn">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                      <div class="col-md-12"><label class="ugctxt">Users in Group {{groupspending.grpname}}</label></div>

                      <ng-container *ngFor="let user of groupspending.users">
                          <div class="col-md-3 col-sm-3 col-xs-6 text-left padlnon">
                            {{user}}
                            </div>
                      </ng-container>
                      <div class="col-md-3 col-sm-3 col-xs-6 text-left padlnon">
                        <label class="lbltxt" *ngIf="groupspending.users.length == 0">Users not available for this group.</label>
                      </div>
                    
                  </div>

                  </td>
                </tr>

                
              
            </ng-container>
          </tbody>
          </table>
        </div>
      </div>

    

    </section>


    <div class="" id="step-2">
      <div class="clear20"></div>
      <div class="clear20"></div>
      <div class="clear20"></div>
     
    </div>

    <div id="payreport" class="modal" [ngStyle]="{'display':disRejMod}" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content modelWidth">
          <div class="modal-header myheader">
            <button type="button" class="close close2" data-dismiss="modal" (click)="closeRejMod()">&times;</button>
            <h4 class="modal-title">Comment</h4>
          </div>
          <div class="modal-body mybody2">

            <div class="col-md-12 col-sm-12 col-xs-12 ">
              <textarea class="form-control popupborder" rows="5" placeholder="Reason for Rejection" [(ngModel)]="comment"></textarea>
            </div>
            <div class="clear10"></div>
            <!-- <a routerLink="../asgrouplist"> -->
              <button class="btn bg-primary btnw nextBtn" data-dismiss="modal" (click)="rejectGroupById();closeRejMod()">Reject</button>
            <!-- </a> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="clear20"></div>
<div class="clear20"></div>