span,
p,
div,
row {
  letter-spacing: 1px !important;
}

.aub, .abb, .mp{
  font-size:13px;
}

.main-bg {
  background-color: #f4f4f4;
}

input[type="checkbox"] {

  -webkit-appearance: initial;
  width: 16px;
  height: 16px;
  background-color: #c7c7c7;
  display: inline-block;
  border-radius: 5px;
  margin-right: 6px;
  vertical-align: sub;
  outline: none
}

input[type="checkbox"]:hover,
input[type="checkbox"]:checked {
  background: #64289d;
}

.card {
  width: 100% !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0px 2px 20px 0px #ddd;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.round1,
.round2 {
  text-align: center;
  border: 1px solid #8153ad;
  border-radius: 50%;
  padding: 30% 10%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.round1 {
  background-color: #8153ad;
  color: #fff;
}

.round2 {
  color: #8153ad;
}

h5 {
  border-bottom: 1px solid #ededed;
  padding: 2% 3%;
}

h6 {
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
  position: absolute;
  top: 23%;
  left: 35%;
  font-size: 2.75rem;
}

.card-button {
  padding: 4px 0px;
  width: 75%;
  font-size: 14px;
  border-radius: 30px;
  color: #8153ad;
  border: 1px solid #8153ad;
  margin-bottom: 14px;
}

.border1 {
  border-right: 1px solid #cccccc;
}

.span1 {
  display: block;
  text-align: center;
  font-size: 25px;
}

span {
  font-size: 13px;
  text-align: center;
}

input {
  overflow: visible;
  width: 33%;
  border-radius: 20px;
  border: 1px solid #ccc;
  height: 25px;
  outline-style: none;
  padding: 0px 10px;
  color: #8153ad;
}

.date {
  margin-top: 5px;
  font-size: 12px;
}

.title {
  font-size: 1rem;
  padding: 2% 6%;
  font-weight:bold;
}

p {
  font-size: 13px;
  position: absolute;
  left: 38%;
  top: 55%;
}

.spanh1 {
  font-size: 25px;
  font-weight: 500;
  color: #8153ad;
  margin-right: 5%;
}

.spanh2 {
  font-size: 14px;
  color: #8153ad;
}

.main-card {
  position: relative;
}

.button-new {
  border-radius: 20px;
  border: 1px solid #d9cee6;
  padding: 4px 5px;
  font-size: 11px;
  color: #64289d;
  outline-style: none;
  font-weight: 500;
  margin-top: 13px;
  margin-left: 10px;
  opacity: 0.3;
}

table {
  width: 100%;
}

table tr td:nth-child(1) {
  padding: 10px 40px;
  width: 1%;
  overflow: -webkit-paged-y;
}

thead tr td {
  font-size: 13px;
  font-weight: bold;
  width: 2%;
}

tbody tr td {
  font-size: 13px;
  width: 2%;
  color: #707070;
}

tbody tr td:last-child {
  font-size: 13px;
  width: 2%;
  color: #8153ad;
  text-align: center;
}

.bg-checkbox {
  width: 9px;
  height: 9px;
  display: inline-block;
  background-color: #b6bccd;
  cursor: unset;
}

.spn-red,
.spn-orange,
.spn-yellow,
.spn-ocean,
.spn-blue {
  padding: 1px 4px;
  vertical-align: 2px;
  margin-right: 3px;
  font-size: 6px;
}

.spn-red {
  color: #FA6384;
  background-color: #FA6384;
}

.spn-orange {
  color: #FB9F40;
  background-color: #FB9F40;
}

.spn-yellow {
  color: #FDCD56;
  background-color: #FDCD56;
}

.spn-ocean {
  color: #4BC0C0;
  background-color: #4BC0C0;
}

.spn-blue {
  color: #36A2EB;
  background-color: #36A2EB;
}

@media only screen and (max-width: 1920px) {
  .main-cardbody {
    background-image: url(../../../assets/img/new-cred-card.png);
    color: #fff;
    min-height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .leftCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .leftDiv{
    padding-top: 25%;
    padding-left: 5%;
   }

   .leftCorousal img{
    margin-left: 20%;
   }

   .rightCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .rightDiv{
    padding-top: 25%;
    padding-left: 5%;
   }
   .rightCorousal img{
    margin-left: 35%;
   }

  .spn1 {
    display: block;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
  }

  .spn2 {
    display: block;
    text-align: left;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .spn3 {
    display: block;
    text-align: left;
    margin-bottom: 3px;
    font-size: 18px;
  }

  .spn4 {
    font-size: 20px;
  }

  .card-no {
    font-size: 28px;
  }

  .progress {
    overflow: visible;
    margin-bottom: 26px;
    height: 6px;
    border-radius: 6px;
  }

  .p1 {
    margin-left: 50% !important;
    width: 50px;
    font-size: 16px;
    margin-top: 10px;
  }

  .p2 {
    left: 450px !important;
    width: 50px;
    font-size: 16px;
    margin-top: 10px;
  }

  .spn-mrg {
    margin: 20px 0px;
  }

  .btn-img {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    margin-top: 130px;
    height: 35px;
    width: 35px;
    border: 0px;
  }

  .border3 {
    color: #8153ad;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 35px;
  }

  .main-graph {
    height: 448px;
  }

  .graph-ratio {
    font-size: 15px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1536px) {
  .main-cardbody {
    background-image: url(../../../assets/img/new-cred-card.png);
    color: #fff;
    min-height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .spn1 {
    display: block;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
  }

  .spn2 {
    display: block;
    text-align: left;
    font-size: 15px;
    margin-bottom: 0px;
  }

  .spn3 {
    display: block;
    text-align: left;
    margin-bottom: 3px;
    font-size: 18px;
  }

  .spn4 {
    font-size: 20px;
  }

  .card-no {
    font-size: 28px;
  }

  .progress {
    overflow: visible;
    margin-bottom: 26px;
    height: 6px;
    border-radius: 6px;
  }

  .p1 {
    margin-left: 35% !important;
    width: 50px;
    font-size: 16px;
    margin-top: 10px;
  }

  .p2 {
    left: 350px !important;
    width: 35px;
    font-size: 16px;
    margin-top: 10px;
  }

  .spn-mrg {
    margin: 8px 0px;
  }

  .btn-img {
    border-radius: 20px;
    position: absolute;
    top: 35%;
    margin-top: 100px;
    height: 35px;
    width: 35px;
  }

  .border3 {
    color: #8153ad;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 35px;
  }

  .main-graph {
    height: 448px;
  }

  .graph-ratio {
    font-size: 15px;
    margin-right: 15px;
  }

  .leftCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .leftDiv{
    padding-top: 25%;
    padding-left: 5%;
   }

   .leftCorousal img{
    margin-left: 20%;
   }

   .rightCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .rightDiv{
    padding-top: 25%;
    padding-left: 5%;
   }
   .rightCorousal img{
    margin-left: 35%;
   }
}


@media only screen and (max-width: 1440px) {
  .main-cardbody {
    background-image: url(../../../assets/img/new-cred-card.png);
    color: #fff;
    min-height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .spn1 {
    display: block;
    text-align: left;
    font-size: 10px;
    margin-top: 10px;
  }

  .spn2 {
    display: block;
    text-align: left;
    font-size: 10px;
    margin-bottom: 15px;
  }

  .spn3 {
    display: block;
    text-align: left;
    margin-bottom: 3px;
    font-size: 13px;
  }

  .spn4 {
    font-size: 16px;
  }

  .card-no {
    font-size: 25px;
  }

  .progress {
    overflow: visible;
    margin-bottom: 26px;
    height: 4px;
    border-radius: 4px;
  }

  .p1 {
    margin-left: 50% !important;
    width: 50px;
    font-size: 12px;
    margin-top: 5px;
  }

  .p2 {
    left: 295px !important;
    width: 50px;
    font-size: 12px;
    margin-top: 5px;
  }

  .spn-mrg {
    margin: 10px 0px;
  }

  .spent{
    font-size: 13px;
    position: absolute;
    top: 50px;
    left: 44%;
  }

  .btn-img {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    margin-top: 110px;
    height: 35px;
    width: 35px;
  }

  .border3 {
    color: #8153ad;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 35px;
  }

  .main-graph {
    height: 409px;
  }

  .graph-ratio {
    font-size: 12px;
    margin-right: 15px;
  }

  .leftCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .leftDiv{
    padding-top: 25%;
    padding-left: 5%;
   }

   .leftCorousal img{
    margin-left: 20%;
   }

   .rightCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .rightDiv{
    padding-top: 25%;
    padding-left: 5%;
   }
   .rightCorousal img{
    margin-left: 35%;
   }
}

@media only screen and (max-width: 1370px) {
  .main-cardbody {
    background-image: url(../../../assets/img/new-cred-card.png);
    color: #fff;
    min-height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .leftCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .leftDiv{
    padding-top: 25%;
    padding-left: 5%;
   }

   .leftCorousal img{
    margin-left: 20%;
   }

   .rightCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .rightDiv{
    padding-top: 25%;
    padding-left: 5%;
   }
   .rightCorousal img{
    margin-left: 35%;
   }

  .spn1 {
    display: block;
    text-align: left;
    font-size: 10px;
    margin-top: 10px;
  }

  .spn2 {
    display: block;
    text-align: left;
    font-size: 10px;
    margin-bottom: 15px;
  }

  .spn3 {
    display: block;
    text-align: left;
    margin-bottom: 3px;
    font-size: 13px;
  }

  .spn4 {
    font-size: 16px;
  }

  .card-no {
    font-size: 21px;
  }

  .progress {
    overflow: visible;
    margin-bottom: 26px;
    height: 4px;
    border-radius: 4px;
  }

  .p1 {
    margin-left: 50% !important;
    width: 50px;
    font-size: 12px;
    margin-top: 5px;
  }

  .p2 {
    left: 300px !important;
    width: 50px;
    font-size: 12px;
    margin-top: 5px;
  }

  .spn-mrg {
    margin: 15px 0px;
  }

  .btn-img {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    margin-top: 110px;
    height: 35px;
    width: 35px;
  }

  .border3 {
    color: #8153ad;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 35px;
  }

  .main-graph {
    height: 409px;
  }

  .graph-ratio {
    font-size: 12px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1280px) {
  .main-cardbody {
    background-image: url(../../../assets/img/new-cred-card.png);
    color: #fff;
    min-height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 48px;
    margin-bottom: 0px;
  }

  .spn1 {
    display: block;
    text-align: left;
    font-size: 10px;
    margin-top: 10px;
  }

  .spn2 {
    display: block;
    text-align: left;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .spn3 {
    display: block;
    text-align: left;
    margin-bottom: 3px;
    font-size: 13px;
  }

  .spn4 {
    font-size: 16px;
  }

  .card-no {
    font-size: 19px;
  }

  .progress {
    overflow: visible;
    margin-bottom: 26px;
    height: 4px;
    border-radius: 4px;
  }

  .p1 {
    margin-left: 50% !important;
    width: 50px;
    font-size: 12px;
    margin-top: 5px;
  }

  .p2 {
    left: 260px !important;
    width: 50px;
    font-size: 12px;
    margin-top: 5px;
  }

  .spn-mrg {
    margin: 10px 0px;
  }

  .btn-img {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    margin-top: 110px;
    height: 30px;
    width: 30px;
  }

  .border3 {
    color: #8153ad;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 35px;
  }

  .main-graph {
    height: auto;
  }

  .graph-ratio {
    font-size: 12px;
    margin-right: 15px;
  }

  .leftCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .leftDiv{
    padding-top: 25%;
    padding-left: 5%;
   }

   .leftCorousal img{
    margin-left: 20%;
   }

   .rightCorousal{
    background-image: none !important;
    height: 40px;
    width: 40px;
    color: #5e259e;
    font-size: 17px;
    padding: 4px 2px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
   }
   .rightDiv{
    padding-top: 25%;
    padding-left: 5%;
   }
   .rightCorousal img{
    margin-left: 35%;
   }

 
}
