
<div class="row main-bg">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="display: none;">
    <div class="row mt-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span class="spanh1">Welcome Saurabh Joshi</span><span class="spanh2">Finance
          Associate</span></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Checker</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2" style="color:#8153ad;font-size:12px;">Last Session : 30
        Jan 2018 | 12:08 AM</div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body" style="font-weight:400;">
            Manage your utility payments and expenses with Axis Utility Payments. <a>Click Here</a> to learn how its
            done.
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" style="margin-bottom:2.7rem;">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-body">
          
              <div class="row main-card">
              
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 leftDiv">
                      <a data-slide="prev" href="javascript:void(0)" class="leftCorousal" (click)="goToPrevCard()" *ngIf="!!approvedcard && approvedcard.length > 1">
                          <img src="utility/assets/img/L_arrow.png">
                      </a>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-cardbody" *ngIf="!!approvedcard && approvedcard.length > 1">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spn-mrg">
                        <span class="spn4">{{approvedcard[currentCard].cardholder}}</span>
                      </div>
                    </div>
                    <div class="row card-no">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{approvedcard[currentCard].digits}}</div>
                      
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="spn1">VALID</span>
                        <span class="spn2">UPTO {{approvedcard[currentCard].expirydate}}</span>
                        <!-- <span class="spn3">Credit Limit</span> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="progress">
                          <!-- <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                            <p class="p1">1.7 Cr</p>
                            <p class="p2">2 Cr</p>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 rightDiv">
                      <a data-slide="next" href="javascript:void(0)" class="rightCorousal" (click)="goToNextCard()" *ngIf="!!approvedcard && approvedcard.length > 1">
                          <img src="utility/assets/img/slider-left.png">
                      </a>
                  </div>
                 
                </div>
      
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="row mb-4">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/make-payments.png"></div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mp">Make Payments</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/add-unitary-bill.png"></div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center aub">Add Unitary Bill</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/add-bulk-bill.png"></div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center abb">Add Bulk Bill</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h5>Request Status</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border3 text-center">
                You have no pending request
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" style="color:#999999">
                0 Pending Payment
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" style="color:#999999">
                0 Pending Bills
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:2.7rem;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="row" style="border-bottom: 1px solid #ededed;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h5 style="border:0px;padding:2% 3% 1%;">Recent Payments</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right:30px; text-align:right;">
              <button class="button-new">This Year &nbsp;&nbsp;<img src="assets/img/down-arrow.png" alt=""
                  disabled></button>
              <button class="button-new">All Categories &nbsp;&nbsp;<img src="assets/img/down-arrow.png" alt=""
                  disabled></button>
            </div>
          </div>
          <div class="card-body">
            <img src="assets/img/graphical.jpg" alt="" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
<div class="row main-bg">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row mt-4 mb-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span class="spanh1">Welcome Mr. Mukund Javir</span><span class="spanh2">Manager-Finance</span></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Maker</div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="spanh2">Axis Bank Ltd</span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2" style="color:#8153ad;font-size:12px;">Last Session : 06 March 2019 | 12:08 PM</div>
    </div>
    <div class="row" style="margin-bottom:2.7rem;">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-body"><img src="assets/img/main-graph.png" alt="" width="100%" class="main-graph"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="row mb-4">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
              <div class="card-body" [routerLink]="['/make-payment']" style="cursor: pointer;">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/make-payments.png"
                      alt=""></div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mp">Make Payments</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
              <div class="card-body" [routerLink]="['/unitary-biller']" style="cursor: pointer;">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/add-unitary-bill.png"
                      alt=""></div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center aub">Add Unitary Bill</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
              <div class="card-body" [routerLink]="['/maker-biller-bulk']" style="cursor: pointer;">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-2"><img src="assets/img/add-bulk-bill.png"
                      alt=""></div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center abb">Add Bulk Bill</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h5>Request Status</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border1">
                <div class="row" [routerLink]="['/maker-payment-list']">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="round1">{{penpaylength}}</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                </div>
                <div class="row" [routerLink]="['/maker-payment-list']">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6 style="margin-bottom:3px;" *ngIf="penpaylength<=0 || penpaylength==1">Pending Payment</h6>
                    <h6 style="margin-bottom:3px;" *ngIf="penpaylength>1">Pending Payments</h6>
                  </div>
                </div>
                <hr>
                <div class="row mb-1">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" [routerLink]="['/maker-payment-list']">
                    <span class="span1">{{apprpaylength}}</span>
                    <span class="abc"><img style="vertical-align:0px;" src="assets/img/approved.png" alt=""> Approved</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" [routerLink]="['/maker-payment-list']">
                    <span class="span1">{{rejpaylength}}</span>
                    <span class="abc"><img style="vertical-align:0px;" src="assets/img/rejected.png" alt=""> Rejected</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="row" [routerLink]="['/billerlist']">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="round2">{{this.billerlength}}</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                </div>
                <div class="row" [routerLink]="['/billerlist']">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6 style="margin-bottom:3px;" *ngIf="billerlength<=0 || billerlength==1">Pending Bill</h6>
                    <h6 style="margin-bottom:3px;"  *ngIf="billerlength>1">Pending Bills</h6>
                  </div>
                </div>
                <hr>
                <div class="row mb-1">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" [routerLink]="['/billerlist']">
                    <span class="span1">{{apprbilllength}}</span>
                    <span class="abc"><img style="vertical-align:0px;" src="assets/img/approved.png" alt=""> Approved</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" [routerLink]="['/billerlist']">
                    <span class="span1">{{rejbilllength}}</span>
                    <span class="abc"><img style="vertical-align:0px;" src="assets/img/rejected.png" alt=""> Rejected</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" style="margin-bottom:2.7rem;">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-body">
              <div class="row main-card">
              
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 leftDiv">
                      <a data-slide="prev" href="javascript:void(0)" class="leftCorousal" (click)="goToPrevCard()" *ngIf="!!approvedcard && approvedcard.length > 1">
                          <img src="assets/img/L_arrow.png">
                      </a>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-cardbody" *ngIf="!!approvedcard && approvedcard.length > 1">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spn-mrg">
                        <span class="spn4">{{approvedcard[currentCard].cardholder}}</span>
                      </div>
                    </div>
                    <div class="row card-no">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{approvedcard[currentCard].digits}}</div>
                      
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="spn1">VALID</span>
                        <span class="spn2">UPTO {{approvedcard[currentCard].expirydate}}</span>
                        <!-- <span class="spn3">Credit Limit</span> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="progress">
                          <!-- <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                            <p class="p1">1.7 Cr</p>
                            <p class="p2">2 Cr</p>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 rightDiv">
                      <a data-slide="next" href="javascript:void(0)" class="rightCorousal" (click)="goToNextCard()" *ngIf="!!approvedcard && approvedcard.length > 1">
                          <img src="assets/img/slider-left.png">
                      </a>
                  </div>
                 
                </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="row" style="border-bottom: 1px solid #ededed; margin:5px 0px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2 mt-2">
              <span class="title">Category-wise Spends</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2 mt-2 date">From&nbsp;<input type="text" value="06-03-2019" style="font-size: 11px;">
              &nbsp;to&nbsp;<input type="text" value="06-03-2019" style="font-size: 11px;"></div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6 text-center" style="position:relative;margin-top: 6%;">
                <h3>1.45 Cr</h3>
                <p class="spent">Total Spent</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6" style="padding: 8px 0px;"><img src="assets/img/doughnut1.png"
                  alt=""></div>
            </div>
            <div class="row" style="margin:13px 0px;">
              <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
              <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12" style="text-align:right;">
                <span class="spn-red">.</span><span class="graph-ratio">Electricity</span>
                <span class="spn-ocean">.</span><span class="graph-ratio">Telecom</span>
                <span class="spn-blue">.</span><span class="graph-ratio">Gas</span>
                <span class="spn-orange">.</span><span class="graph-ratio">Insurance</span>
                <span class="spn-yellow">.</span><span class="graph-ratio">Water</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:2.7rem;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="row" style="border-bottom: 1px solid #ededed;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h5 style="border:0px;padding:2% 3% 1%;">Recent Payments</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right:30px; text-align:right;">
              <button class="button-new" style=" opacity: 1"  [routerLink]="['/maker-payment-list']">View Details &nbsp;&nbsp;<img src="assets/img/slider-left.png"
                  alt="" style="vertical-align:1px;"></button>
            </div>
          </div>
          <div class="card-body">
            <div style="border:1px solid #ededed">
              <table>
                <thead>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox">
                      </div>
                    </td>
                    <td>Utility Type</td>
                    <td>Biller Name</td>
                    <td>Amount</td>
                    <td>Bill Number</td>
                    <td>Due Date</td>
                    <td>Status</td>
                    <td>&nbsp;</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" value="">
                      </div>
                    </td>
                    <td>Electicity</td>
                    <td>Tata Power</td>
                    <td><i class="fa fa-inr"></i> 111126.37</td>
                    <td>1234567890</td>
                    <td>20<sup>th</sup></td>
                    <td style="color:#8153ad;font-weight:bold;">Pending with Approver</td>
                    <td><img src="assets/img/down-arrow.png" alt=""></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" value="">
                      </div>
                    </td>
                    <td>Telecom</td>
                    <td>Reliance JIO</td>
                    <td><i class="fa fa-inr"></i> 15,000</td>
                    <td>0987654321</td>
                    <td>20<sup>th</sup></td>
                    <td style="color:#8153ad;font-weight:bold;">Pending with Biller</td>
                    <td><img src="../../../assets/img/down-arrow.png" alt=""></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" value="">
                      </div>
                    </td>
                    <td>Gas</td>
                    <td>Bharat Gas</td>
                    <td><i class="fa fa-inr"></i> 16,000</td>
                    <td>4567890123</td>
                    <td>20<sup>th</sup></td>
                    <td style="color:#8153ad;font-weight:bold;">Rejected by Approver</td>
                    <td><img src="../../../assets/img/down-arrow.png" alt=""></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" value="">
                      </div>
                    </td>
                    <td>Electricity</td>
                    <td>Tata Power</td>
                    <td><i class="fa fa-inr"></i> 20,000</td>
                    <td>3210987654</td>
                    <td>15<sup>th</sup></td>
                    <td style="color:#8153ad;font-weight:bold;">Registered</td>
                    <td><img src="../../../assets/img/down-arrow.png" alt=""></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" value="">
                      </div>
                    </td>
                    <td>Insurance</td>
                    <td>AXIS</td>
                    <td><i class="fa fa-inr"></i> 8,000</td>
                    <td>8907654321</td>
                    <td>01<sup>th</sup></td>
                    <td style="color:#8153ad;font-weight:bold;">Registered by Biller</td>
                    <td><img src="../../../assets/img/down-arrow.png" alt=""></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
