<!-- <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center logo">
    <img src="../../assets/img/logo.png">
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <button [routerLink]="['/main/sample-bills']">Sample Bills</button>
    <button [routerLink]="['/main/templates']">Bulk File Templates</button>
  </div>
</div> -->

<div class="container xyz" id="lstpaymt">
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div _ngcontent-c4="" class="clear20"></div>
        <div _ngcontent-c4="" class="clear20"></div>
        <div _ngcontent-c4="" class="clear20"></div>
     </div>
     <div class="white-bg">
      <h4 class="col-md-9 col-sm-6 col-xs-6 toptxt Top5Heading111 mrgnone">List of Repositories</h4>
      <div class="clear"></div>
      <div class="BorderBottom"></div>
      <div class="clear"></div>
      <div class="row">
        <div class="clear20"></div>
        <div class="clear20"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 divmrgnlft">
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i>
              <a class="repoli" [routerLink]="['/main/sample-bills']">Sample Bills</a>
            </li>
            <li><i class="fa-li fa fa-check-square"></i>
              <a class="repoli" [routerLink]="['/main/templates']">Bulk File Templates</a>
            </li>
          </ul>
        </div>
      </div>
     </div>
    </section>
  </div>
</div>