
<div class="row h-100" style="background-color:#f4f4f4;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">Pending Payments</div>
    </div>
    <div class="row" *ngIf="pendingList">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-bottom:20px;margin-right: -15px!important;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="../../../utility/assets/img/search-icon.png" alt="" width="5%;"> <input type="search" placeholder="Search for Location, Biller Type or Utility" [(ngModel)]="searchText">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <ng-multiselect-dropdown [ngClass]="first"
                  [placeholder]="'All Categories'"
                  [data]="dropdownCat"
                  [(ngModel)]="selectedItems1"
                  [settings]="dropdownSettings1"
                  (onSelect)="onItemSelect($event)"
                  [(ngClass)]="all-cat"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <ng-multiselect-dropdown
                  [placeholder]="'This Month'"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems2"
                  [settings]="dropdownSettings2"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <!-- <button id="button" type="button" class="ml-2"><img src="../../../assets/img/downloadlist.png" alt="">Download File</button> -->
                <ng-multiselect-dropdown
                  [placeholder]="'Download List'"
                  [data]="dropdownDownload"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>                
              </div>
            </div>
            <div class="row" style="margin-bottom:20px;margin-right: -15px!important;">
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 txt">
                  <table class="entry-table">
                    <tr>
                      <td class="unitheaders">No. of Bills</td>
                      <td class="unitheaders">Total Amount</td>
                      <td class="unitheaders">No. of Selected Bills</td>
                      <td class="unitheaders">Amount Payable</td>
                    </tr>
                    <tr>
                      <td>{{payments.length}}</td>
                      <td><i class="fa fa-rupee"></i>{{7467482 | numberfr}}</td>
                      <td>{{checkedValueArray.length}}</td>
                      <td><i class="fa fa-rupee"></i>{{totalamount | numberfr}}</td>
                    </tr>
                  </table>
                </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right"><button class="btn1" style="margin-right:10px;"
                  (click)="approveBtn()">Approve
                  Payments</button>
                <button class="btn2 ml-2" (click)="closeModalDialog2()">Reject Payments</button></div>
            </div>
            <div class="row" style="margin:0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                  <table id="main-table" [mfData]="paymentData" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                      <thead>
                        <tr>
                          <td><input type="checkbox" name="vehicle1" value="Bike" [checked]="selectall" (change)="changeAll(pendingPayments)"></td>
                          <td>Biller Name <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <!-- <td>Consumer No <img src="../../../utility/assets/img/Filter.png" alt=""></td> -->
                          <td>Amount <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <td>Reference No <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <td>Consumer Name <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <td>Status</td>
                          <td style="text-align:center;">Payment Status</td>
                          <td>&nbsp;</td>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let payment of mf.data|penpayFilter : {biller: searchText,amount:searchText,consumerno:searchText,consumername:searchText,status:searchText,paymentstatus:searchText,shortname:searchText,expensecode:searchText,billdate:searchText,duedate:searchText,billnumber:searchText,state:searchText,digits:searchText,contact:searchText,email:searchText,billaddress:searchText,initiatedby:searchText,initiatedon:searchText,approvedby:searchText,approvedon:searchText}; let i=index;">
                        <tr>
                          <td><input type="checkbox" name="submenu" [checked]="select" (change)="change(payment.id) "></td>
                          <td>{{payment.biller}}</td>
                          <!-- <td>{{payment.bill.consumerno}}</td> -->
                          <td><i class="fa fa-rupee"></i>{{payment.amount | numberfr}}</td>
                          <td>{{payment.consumerno}}</td>
                          <td>Axis Bank ltd.</td>
                          <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': payment.status === 'Approved', 'Rejected': payment.status  === 'Rejected', 'Pending': payment.status  === 'Pending'}" role="button">{{payment.status}}</a></td>
                          <td style="text-align:center;">{{payment.paymentstatus}}</td>
                          <td style="padding:0px 10px;"><img src="assets/img/tb_downarrow.png" alt="" (click)="payment.collapsed=!payment.collapsed;"></td>
                        </tr>
                        <tr class="rowShow grayStrip" *ngIf="payment.collapsed">
                          <td class="custmtd" colspan="8">
                            <div class="tablediv">
                              <h5>Biller Details</h5>
                              <div class="mb-1">
                                  <div class="span_width">Short Name</div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.shortname}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">GL/Expense Code </div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.expensecode}}</div>
                                </div>
                                <div class="mb-1">
                                    <div class="span_width">Consumer No</div> <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.consumerno}}</div>
                                  </div>
                                <div class="mb-1">
                                  <div class="span_width">Bill Date </div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.billdate}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">Due Date </div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.duedate}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">Order Id</div> <span> : </span> &nbsp;
                                  <div class="bold_span">12345</div>
                                </div>
                                <div class="mb-1">
                                    <div class="span_width">Location</div> <span> : </span> &nbsp;
                                    <div class="bold_span" *ngIf="payment.state=='MH'" >Maharashtra</div>
                                    <div class="bold_span" *ngIf="payment.state=='RJ'" >Rajasthan</div>
                                    <div class="bold_span" *ngIf="payment.state=='KA'" >Karnataka</div>
                                    <div class="bold_span" *ngIf="payment.state=='AP'" >Andhra Pradesh</div>
                                    <div class="bold_span" *ngIf="payment.state=='GJ'" >Gujarat</div>
                                    <div class="bold_span" *ngIf="payment.state=='DL'" >Delhi</div>
                                  </div>
                                <div class="mb-1">
                                  <div class="span_width">Bill No</div> <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.billnumber}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">Card No</div> <span> : </span> &nbsp;
                                  <div class="bold_span">9876 XXXX XXXX 1234</div>
                                </div>
                            </div>
                            <div class="tablediv table2">
                                <div class="mb-1">
                                    <h5>Contact Details</h5>
                                    <div class="span_width">Mobile No</div>  <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.contact}}</div>
                                  </div>
                                  <div class="mb-1">
                                    <div class="span_width">Address </div>  <span> : </span> &nbsp;
                                    <span class="bold_span" tooltip="{{payment.billaddress}}" placement="top" show-delay="500">{{payment.billaddress}}</span>
                                  </div>
                                  <div>
                                    <div class="span_width">Email</div>  <span> : </span> &nbsp;
                                    <span class="bold_span" tooltip="{{payment.email}}" placement="top" show-delay="500">{{payment.email}}</span>
                                  </div>
                            </div>
                            <div class="tablediv noborder table3">
                                  <div class="mb-1">
                                    <h5>Other Details</h5>
                                    <div class="span_width">CRN </div>  <span> : </span> &nbsp;
                                    <div class="bold_span">12345</div>
                                  </div>
                                  <div class="mb-1">
                                    <div class="span_width">File Name </div>  <span> : </span> &nbsp;
                                    <div class="bold_span">None</div>
                                  </div>
                                  <div class="mb-1">
                                    <div class="span_width">Initiated by </div>  <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.initiatedby}}</div>
                                  </div>
                                  <div class="mb-1">
                                    <div class="span_width">Initiated on  </div>  <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.initiatedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                                  </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="rowShow grayStrip" *ngIf="payment.collapsed">
                          <td colspan="8">
                            <span class="pull-right">
                              <a (click)="closeModalDialog3()"><img src="assets/img/page.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                              <a data-toggle="modal" href="#myModal" id="openBtn"><img src="assets/img/attach.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                              <a (click)="closeModalDialog1()"><img src="assets/img/popup.png" alt="" style="width: 23px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                          </td>
                        </tr>
                        <div class="backdrop" [ngStyle]="{'display':displaypaydetails}"></div>
                        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaypaydetails}">
                          <!-- modal-dialog -->
                          <div class="modal-dialog" id="logs" role="document">
                            <!-- modal-content -->
                            <div class="modal-content">
                              <!-- modal-header -->
                              <div class="modal-header">
                                Bill Details<button type="button" class="close" aria-label="Close" (click)="openModalDialog3()"><span
                                    aria-hidden="true">&times;</span></button>
                                <!-- <h4 class="modal-title">Login</h4> -->
                              </div>
                              <!-- modal-body -->
                              <div class="modal-body">
                                <div class="row mb-2">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <table style="width:100%" id="modal-table">
                                    <tbody>
                                      <tr>
                                        <td>Late Payment Charges</td>
                                        <td>:</td>
                                        <td><i class="fa fa-rupee"></i>{{111146.37 | numberfr}}</td>
                                      </tr>
                                      <tr>
                                        <td>Meter Reading</td>
                                        <td>:</td>
                                        <td>3565 Unit(s)</td>
                                      </tr>
                                      <tr>
                                        <td>Promt Payment Incentives</td>
                                        <td>:</td>
                                        <td><i class="fa fa-rupee"></i>{{0 | numberfr}}</td>
                                      </tr>
                                      <tr>
                                        <td>Remarks</td>
                                        <td>:</td>
                                        <td>Incentives Applicable</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>                                
                                </div>
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><button class="btn btn-default" (click)="openModalDialog3()">Close</button></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="backdrop" [ngStyle]="{'display':displaypopup}"></div>
                        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaypopup}">
                          <!-- modal-dialog -->
                          <div class="modal-dialog" id="logs" role="document">
                            <!-- modal-content -->
                            <div class="modal-content">
                              <!-- modal-header -->
                              <div class="modal-header">
                                  Transaction Logs<button type="button" class="close" aria-label="Close" (click)="openModalDialog1()"><span
                                    aria-hidden="true">&times;</span></button>
                                <!-- <h4 class="modal-title">Login</h4> -->
                              </div>
                              <!-- modal-body -->
                              <div class="modal-body">
                                <div class="row mb-2">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <table style="width:100%" id="modal-table">
                                    <thead>
                                      <tr>
                                        <td>State</td>
                                        <td>Date</td>
                                        <td>Time</td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Card Debited</td>
                                        <td>-</td>
                                        <td>-</td>
                                      </tr>
                                      <tr>
                                        <td>Payment Success</td>
                                        <td>-</td>
                                        <td>-</td>
                                      </tr>
                                      <tr>
                                        <td>Payment Failed</td>
                                        <td>-</td>
                                        <td>-</td>
                                      </tr>
                                      <tr>
                                        <td>Card Refunded</td>
                                        <td>-</td>
                                        <td>-</td>
                                      </tr>
                                      <tr>
                                        <td>Refund Reason</td>
                                        <td colspan="2">-</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>                                
                                </div>
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><button class="btn btn-default" (click)="openModalDialog1()">Close</button></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" *ngIf="pendingList">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <nav aria-label="Page navigation example" style="float:right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lang;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rang;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row setup-content form_bg" id="" *ngIf="approve">
      <div class="BorderBottom"></div>
      <div class="col-md-12 text-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div>
            <div class="clear30"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <img src="assets/img/done-tick.png" alt="">
            <div class="clear20"></div>
            <div class="clear20"></div>
            <label class="successhedtxt">The payments are appproved and notification has been sent.</label>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a class="btn btn-primary  btn-outline btn-spac2 Btn_Width2 gtog" [routerLink]="['/main/paymentlist']">View
                Payments</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a class="btn btn-primary btn-outline Btn_Width2" [routerLink]="['/main/dashboard']">Go to Dashboard</a>
            </div>
            <div class="clear30"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row setup-content form_bg" id="" *ngIf="reject">
      <div class="BorderBottom"></div>
      <div class="col-md-12 text-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div>
            <div class="clear30"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <img src="../../../utility/assets/img/wrong.png" alt="">
            <div class="clear20"></div>
            <div class="clear20"></div>
            <label class="successhedtxt">Payment has been rejected, Email notification has been sent to initiator.</label>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a class="btn btn-primary  btn-outline btn-spac2 Btn_Width2 gtog" [routerLink]="['/main/checker-payments']">View
                Payments</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a class="btn btn-primary btn-outline Btn_Width2" [routerLink]="['/main/dashboard']">Go to Dashboard</a>
            </div>
            <div class="clear30"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
