<div class="container-fluid h-100">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
      <h3 id="heading"><strong>Welcome to Axis Utility Payments</strong></h3>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
    <div class="col-lg-6 col-md-6 col-6-6 col-6">
      <div id="heading2"><strong>Your Utility bill payments made easy.</strong></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
  </div>
  <div class="aqua">
    <img id="logo" src="assets/img/logo.png">
    <p>Axis Utility Payments</p>
  </div>
  <div class="card sec">
    <div class="card-body">
      <div class="row" style="margin-right:0px;">
        <form>
          <div style="width:100%;">
            <div class="heading3"><span class="underline">Login</span> to manage all services</div>
            <div id="outer">
              <div id="inner">
                <input type="email" class="username" placeholder="Username" name="username" [(ngModel)]="username">
              </div>
              <div id="inner">
                <input type="password" class="password" placeholder="Password" name="password" [(ngModel)]="password">
              </div>
            </div>
            <div class="reg3"><input type="checkbox"><span class="spn1">Remember Me</span><span class="spn2">Forgot Password?</span></div>
            <div class="login2"><button class="btn" type="submit" (click)="loginpost()">Login</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>