
<div class="row h-100" style="background-color:#f4f4f4;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">List of Payments</div>
    </div>
    <div class="row" style="margin-bottom:20px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-bottom:20px;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="assets/img/search-icon.png" alt="" width="5%;"> <input type="search" placeholder="Search for Location, Biller Type or Utility">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                <input list="browsers" value="All Categories" id="datalist" class="ml-2" style="width:30%;margin-left:10px;">
                <datalist id="browsers">
                  <option value="Internet Explorer" selected>
                  <option value="Firefox">
                  <option value="Chrome">
                  <option value="Opera">
                  <option value="Safari">
                </datalist>
                <input list="date" id="datalist" value="This Month" class="ml-2" style="width:30%;margin-left:10px;">
                <datalist id="date">
                  <option value="This Month">
                  <option value="This Week">
                </datalist>
                <!-- <button id="button" type="button" class="ml-2"><img src="../../../assets/img/downloadlist.png" alt=""> Download File</button> -->
                <a id="button" class="btn btn-primary btn-outline ResponsiveBtnWidth openModal" (click)="closeModalDialog()" style="width:30%;margin-left:10px;"><img src="assets/img/downloadlist.png" alt=""> Download
                  File</a>
                  <div class="backdrop" [ngStyle]="{'display':display}"></div>
                  <!-- modal -->
                  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                    <!-- modal-dialog -->
                    <div class="modal-dialog" role="document">
                      <!-- modal-content -->
                      <div class="modal-content">
                        <!-- modal-header -->
                        <div class="modal-header">
                          Generate Customize Report<button type="button" class="close" aria-label="Close" (click)="openModalDialog()"><span
                              aria-hidden="true">&times;</span></button>
                          <!-- <h4 class="modal-title">Login</h4> -->
                        </div>
                        <!-- modal-body -->
                        <div class="modal-body">
                          <div class="row mb-4 text-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <label for="" class="pop-input-text">Report Name :</label>
                              <input type="text" class="pop-input" placeholder="Eg. Quarterly Report">
                            </div>
                          </div>
                          <div class="row mb-4 text-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <label for="">Select the field to create a report</label>
                            </div>
                          </div>
                          <div class="row mb-2 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Utility
                                Type</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Reference
                                Number</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Bill Date</span>
                            </div>
                          </div>
                          <div class="row mb-2 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Email</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Biller
                                Type</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Short Name</span>
                            </div>
                          </div>
                          <div class="row mb-2 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">Mobile
                                Number</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Location</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Bill" value="Bill"> <span class="spn-modal">Due Date</span>
                            </div>
                          </div>
                          <div class="row mb-4 text-left">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Utility" value="Utility"> <span class="spn-modal">GL/Expense
                                Code</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <input type="checkbox" name="Reference" value="Reference"> <span class="spn-modal">Attachment</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                          </div>
                          <div class="row mb-4 text-left">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> From <input type="date" value="2018-08-26">
                              To <input type="date"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                          </div>
                          <div class="row text-left">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button class="btn-ok" style="margin-right:10px;">OK</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            
            <div class="row" style="margin:0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                <table id="main-table">
                  <thead>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Bill Name <img src="assets/img/Filter.png" alt="" style="vertical-align: 3px;"></td>
                      <td>Amount <img src="assets/img/Filter.png" alt="" style="vertical-align: 3px;"></td>
                      <td>Bill Number <img src="assets/img/Filter.png" alt="" style="vertical-align: 3px;"></td>
                      <td>Due Date <img src="assets/img/Filter.png" alt="" style="vertical-align: 3px;"></td>
                      <td>Status <img src="assets/img/Filter.png" alt="" style="vertical-align: 3px;"></td>
                      <td>&nbsp;</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Assam Power Distribution Company Ltd.</td>
                      <td>₹ 111126.37</td>
                      <td>65478927</td>
                      <td>30/12/2018</td>
                      <td>Pending</td>
                      <td><img src="assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr class="rowShow grayStrip" style="">
                      <td class="custmtd" colspan="7">
                        <div class="tablediv">
                          <h5>Biller Details</h5>
                          <div class="mb-1">
                            <div class="span_width">Short Name :</div>
                            <div class="bold_span">APDCL</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">GL/Expense Code : </div>
                            <div class="bold_span">2456781</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Meter Reading :</div>
                            <div class="bold_span">3565</div>
                          </div>
                          <div class="mb-1">
                              <div class="span_width">Bill Date :</div>
                              <div class="bold_span">20/12/2018</div>
                            </div>
                            <div class="mb-1">
                                <div class="span_width">Location :</div>
                                <div class="bold_span">Guwahati</div>
                              </div>
                          <div class="mb-1">
                            <div class="span_width">Consumer No :</div>
                            <div class="bold_span">61000006056</div>
                          </div>
                          <!-- <div>
                            <div class="span_width">Ref No 2:</div>
                            <div class="bold_span">358507</div>
                          </div> -->
                        </div>
                        <div class="tablediv">
                          <h5>Contact Details</h5>
                          <div class="mb-1">
                            <div class="span_width">Mobile No :</div>
                            <div class="bold_span">+91 9876543210</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Address : </div>
                            <div class="bold_span">A.T. Road Opp. Railway Gate No-1, Maligaon, Guwahati, Assam</div>
                          </div>
                          <div>
                            <div class="span_width">Email :</div>
                            <div class="bold_span">maker@abclimited.com</div>
                          </div>
                        </div>
                        <div class="tablediv noborder">
                          <h5>Other Details</h5>
                          <div class="mb-1">
                            <div class="span_width">File Name :</div>
                            <div class="bold_span">None</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Initiated by :</div>
                            <div class="bold_span">Rajesh Arora</div>
                          </div>
                          <div class="mb-1">
                            <div class="span_width">Initiated on : </div>
                            <div class="bold_span">21/12/2018 | 14:09PM</div>
                          </div>
                          <!-- <div class="mb-1">
                            <div class="span_width">Approved By:</div>
                            <div class="bold_span">Rajesh Arora</div>
                          </div>
                          <div>
                            <div class="span_width">Approved on : </div>
                            <div class="bold_span">28/07/2018 | 12:00PM</div>
                          </div> -->
                        </div>
                      </td>
                    </tr>
                    <tr class="rowShow grayStrip" style="">
                      <td colspan="7"><span class="pull-right"><a class="openModal" (click)="closeModalDialog1()"><img src="assets/img/page.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><img src="assets/img/delete.png" alt=""></a></span></td>
                    </tr>
                    <div class="backdrop" [ngStyle]="{'display':displayBillDetails}"></div>
                      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayBillDetails}">
                        <!-- modal-dialog -->
                        <div class="modal-dialog" role="document">
                          <!-- modal-content -->
                          <div class="modal-content">
                            <!-- modal-header -->
                            <div class="modal-header">
                              Bill Details<button type="button" class="close" aria-label="Close" (click)="openModalDialog1()"><span
                                  aria-hidden="true">&times;</span></button>
                              <!-- <h4 class="modal-title">Login</h4> -->
                            </div>
                            <!-- modal-body -->
                            <div class="modal-body">
                              <div class="row mb-2">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <label for="" style="color: #807199;font-size: 14px;">Late Payment Charges : </label>&nbsp;
                                  <span style="font-size:14px">₹ 111146.37</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <label for="" style="color: #807199;font-size: 14px;">Meter Reading : </label>&nbsp;
                                  <span style="font-size:14px">3565 Units</span>
                                </div>
                              </div>
                              <div class="row mb-4">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <label for="" style="color: #807199;font-size: 14px;">Promt Payment Incentives :
                                  </label>&nbsp;
                                  <span style="font-size:14px">APDCL</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <label for="" style="color: #807199;font-size: 14px;">Remarks : </label>&nbsp;
                                  <span style="font-size:14px">Incentives Applicable</span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><button class="btn-ok" style="margin-right:10px;">OK</button></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Reliance Jio</td>
                      <td>₹ 23,000</td>
                      <td>9876543</td>
                      <td>20 <sup>th</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Tata Power</td>
                      <td>₹ 41,200</td>
                      <td>4326890</td>
                      <td>20 <sup>th</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Bharat Gas</td>
                      <td>₹ 56,863</td>
                      <td>9865321</td>
                      <td>1 <sup>st</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>TATA AIG</td>
                      <td>₹ 56,987</td>
                      <td>6543219</td>
                      <td>20 <sup>th</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Lower Vaitaran</td>
                      <td>₹ 47,500</td>
                      <td>65478927</td>
                      <td>20 <sup>th</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Reliance Jio</td>
                      <td>₹ 23,000</td>
                      <td>9876543</td>
                      <td>20 <sup>th</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Tata Power</td>
                      <td>₹ 41,200</td>
                      <td>4326890</td>
                      <td>20 <sup>th</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>Bharat Gas</td>
                      <td>₹ 56,863</td>
                      <td>9865321</td>
                      <td>1 <sup>st</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                      <td>TATA AIG</td>
                      <td>₹ 56,987</td>
                      <td>6543219</td>
                      <td>20 <sup>th</sup></td>
                      <td>Pending</td>
                      <td><img src="../../../assets/img/tb_downarrow.png" alt=""></td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <nav aria-label="Page navigation example" style="float:right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lang;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rang;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
