
<div class="row h-100" style="background-color:#f4f4f4;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">Pending Payments</div>
    </div>
    <div class="row" *ngIf="pendingList">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-bottom:20px;margin-right: -15px!important;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="../../../utility/assets/img/search-icon.png" alt="" width="5%;"> <input type="search" placeholder="Search for Location, Biller Type or Utility">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <ng-multiselect-dropdown
                  [placeholder]="'All Categories'"
                  [data]="dropdownCat"
                  [(ngModel)]="selectedItems1"
                  [settings]="dropdownSettings1"
                  (onSelect)="onItemSelect($event)"
                  [(ngClass)]="all-cat"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <ng-multiselect-dropdown
                  [placeholder]="'This Month'"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems2"
                  [settings]="dropdownSettings2"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <!-- <button id="button" type="button" class="ml-2"><img src="../../../assets/img/downloadlist.png" alt=""> Download File</button> -->
                <ng-multiselect-dropdown
                  [placeholder]="'Download List'"
                  [data]="dropdownDownload"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>                
              </div>
            </div>
            <div class="row" style="margin-bottom:20px;margin-right: -15px!important;">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 txt">
                No of Bills : <strong>{{payments.length}}</strong>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right"><button class="btn1" style="margin-right:10px;"
                  (click)="approveBtn()">Approve
                  Payments</button>
                <button class="btn2 ml-2" (click)="closeModalDialog2()">Reject Payments</button></div>
            </div>
            <div class="row" style="margin:0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                  <table id="main-table" [mfData]="pendingPayments" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                      <thead>
                        <tr>
                          <td><input type="checkbox" name="vehicle1" value="Bike" [checked]="selectall" (change)="changeAll(pendingPayments)"></td>
                          <td>Biller Name <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <td>Consumer No <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <td>Amount <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <td>Bill Date <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <td>Due Date <img src="../../../utility/assets/img/Filter.png" alt=""></td>
                          <td>Status</td>
                          <!-- <td>Payment Status</td> -->
                          <td>&nbsp;</td>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let payment of mf.data; let i=index;">
                        <tr>
                          <td><input type="checkbox" name="submenu" [checked]="select" (change)="change(payment.id) "></td>
                          <td>{{payment.bill.biller}}</td>
                          <td>{{payment.bill.consumerno}}</td>
                          <td><i class="fa fa-inr"></i> {{payment.amount}}</td>
                          <td>{{payment.billdate}}</td>
                          <td>{{payment.duedate}}</td>
                          <td><a href="javascript:void(0);" class="btn" [ngClass]="{'appoved': payment.status === 'Approved', 'Rejected': payment.status  === 'Rejected', 'Pending': payment.status  === 'Pending'}" role="button">{{payment.status}}</a></td>
                          <!-- <td>{{payment.paymentstatus}}</td> -->
                          <td style="padding:0px 10px;"><img src="assets/img/tb_downarrow.png" alt="" (click)="payment.collapsed=!payment.collapsed;"></td>
                        </tr>
                        <tr class="rowShow grayStrip" style="" *ngIf="payment.collapsed">
                          <td class="custmtd" colspan="8">
                            <div class="tablediv">
                              <h5>Biller Details</h5>
                              <div class="mb-1">
                                  <div class="span_width">Short Name</div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.bill.shortname}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">GL/Expense Code </div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.bill.expensecode}}</div>
                                </div>
      
                                <!-- <div class="mb-1">
                                  <div class="span_width">Bill Date</div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.billdate}}</div>
                                </div> -->
                                <div class="mb-1">
                                    <div class="span_width">Location</div> <span> : </span> &nbsp;
                                    <div class="bold_span" *ngIf="payment.bill.state=='MH'" >Maharashtra</div>
                                    <div class="bold_span" *ngIf="payment.bill.state=='RJ'" >Rajasthan</div>
                                    <div class="bold_span" *ngIf="payment.bill.state=='KA'" >Karnataka</div>
                                    <div class="bold_span" *ngIf="payment.bill.state=='AP'" >Andhra Pradesh</div>
                                    <div class="bold_span" *ngIf="payment.bill.state=='GJ'" >Gujarat</div>
                                    <div class="bold_span" *ngIf="payment.bill.state=='DL'" >Delhi</div>
                                  </div>
                                <div class="mb-1">
                                  <div class="span_width">Ref. No. 1</div>  <span> : </span> &nbsp;
                                  <div class="bold_span">{{payment.billnumber}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">Ref. No. 2</div>  <span> : </span> &nbsp;
                                  <div class="bold_span">12345</div>
                                </div>
                            </div>
                            <div class="tablediv">
                                <div class="mb-1">
                                    <h5>Contact Details</h5>
                                    <div class="span_width">Mobile No</div>  <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.bill.contact}}</div>
                                  </div>
                                  <div class="mb-1">
                                    <div class="span_width">Address </div>  <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.bill.billaddress}}</div>
                                  </div>
                                  <div>
                                    <div class="span_width">Email</div>  <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.bill.email}}</div>
                                  </div>
                            </div>
                            <div class="tablediv noborder">
                                <div class="mb-1">
                                    <h5>Other Details</h5>
                                    <div class="span_width">File Name </div>  <span> : </span> &nbsp;
                                    <div class="bold_span">None</div>
                                  </div>
                                  <div class="mb-1">
                                    <div class="span_width">Initiated by </div>  <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.bill.initiatedby}}</div>
                                  </div>
                                  <div class="mb-1">
                                    <div class="span_width">Initiated on  </div>  <span> : </span> &nbsp;
                                    <div class="bold_span">{{payment.bill.initiatedon | date:'dd-MM-yyyy hh:mm a'}}</div>
                                  </div>
                                  <!-- <div class="mb-1">
                                      <div class="span_width">Approved by </div>  <span> : </span> &nbsp;
                                      <div class="bold_span">{{payment.approvedby}}</div>
                                    </div>
                                    <div class="mb-1">
                                      <div class="span_width">Approved on  </div>  <span> : </span> &nbsp;
                                      <div class="bold_span">{{payment.approvedon}}</div>
                                    </div> -->
                            </div>
                          </td>
                        </tr>
                        <tr class="rowShow grayStrip" style="" *ngIf="payment.collapsed">
                          <td colspan="8"><span class="pull-right"><a><img src="assets/img/page.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a data-toggle="modal" href="#myModal" id="openBtn"><img src="assets/img/attach.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--<a
                                href=""><img src="../../../assets/img/edit.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><img
                                  src="../../../assets/img/delete.png" alt=""></a>--> </span></td>
                        </tr>
                      </ng-container>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" *ngIf="pendingList">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <nav aria-label="Page navigation example" style="float:right;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lang;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rang;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row setup-content form_bg" id="" *ngIf="approve">
      <div class="BorderBottom"></div>
      <div class="col-md-12 text-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div>
            <div class="clear30"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <img src="assets/img/done-tick.png" alt="">
            <div class="clear20"></div>
            <div class="clear20"></div>
            <label class="successhedtxt">The payments are appproved and notification has been sent.</label>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a class="btn btn-primary  btn-outline btn-spac2 Btn_Width2 gtog" [routerLink]="['/main/checker-payments']">View
                Payments</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a class="btn btn-primary btn-outline Btn_Width2" [routerLink]="['/main/dashboard-checker']">Go to Dashboard</a>
            </div>
            <div class="clear30"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row setup-content form_bg" id="" *ngIf="reject">
      <div class="BorderBottom"></div>
      <div class="col-md-12 text-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div>
            <div class="clear30"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <img src="../../../utility/assets/img/wrong.png" alt="">
            <div class="clear20"></div>
            <div class="clear20"></div>
            <label class="successhedtxt">Payment has been rejected, Email notification has been sent to initiator.</label>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a class="btn btn-primary  btn-outline btn-spac2 Btn_Width2 gtog" [routerLink]="['/main/checker-payments']">View
                Payments</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
              <a class="btn btn-primary btn-outline Btn_Width2" [routerLink]="['/main/dashboard']">Go to Dashboard</a>
            </div>
            <div class="clear30"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="col-xs-3 col-sm-3 col-md-3"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>
