
<div class="container">
    <section class="content">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
          Add Biller
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 top_back no-show2">
          <!-- <h5 class="blu-color">
            <a *ngIf="billdetails" class="backBtnpay_sup" (click)="backbilltype()">
              <img src="../../../assets/img/left-arrow.png">Back</a>
            <a *ngIf="conf" class="sndback" (click)="backbilldetails()">
              <img src="../../../assets/img/left-arrow.png">Back</a>
          </h5> -->
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="stepwizard" *ngIf="billertype">
            <div class="stepwizard-row stepwizard-row2 setup-panel">
              <!-- <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle" id="fourth"></a>
                <h6 class="blu-color stepmrgnlft" id="p1">Bill Type</h6>
              </div> -->
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle" id="fifth"></a>
                <h6 id="p2">Upload File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-default btn-circle" id="sixth"></a>
                <h6 id="p3">Review File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-default btn-circle" id="sixth"></a>
                <h6 id="p3">Confirm & Send</h6>
              </div>
            </div>
          </div>
          <div class="stepwizard" *ngIf="billdetails">
            <div class="stepwizard-row stepwizard-row2 setup-panel">
              <!-- <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="fourth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 class="blu-color stepmrgnlft" id="p1">Bill Type</h6>
              </div> -->
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="fifth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 id="p2">Upload File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-default btn-circle" id="sixth"></a>
                <h6 id="p3">Review File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-default btn-circle" id="sixth"></a>
                <h6 id="p3">Confirm & Send</h6>
              </div>
            </div>
          </div>
          <div class="stepwizard" *ngIf="reviewfile">
            <div class="stepwizard-row stepwizard-row2 setup-panel">
              <!-- <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="fourth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 class="blu-color stepmrgnlft" id="p1">Bill Type</h6>
              </div> -->
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="fifth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 id="p2">Upload File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle" id="sixth"></a>
                <h6 id="p3">Review File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-default btn-circle" id="sixth"></a>
                <h6 id="p3">Confirm & Send</h6>
              </div>
            </div>
          </div>
          <div class="stepwizard" *ngIf="conf">
            <div class="stepwizard-row stepwizard-row2 setup-panel">
              <!-- <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="fourth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 class="blu-color stepmrgnlft" id="p1">Bill Type</h6>
              </div> -->
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="fifth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 id="p2">Upload File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="sixth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 id="p3">Review File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-default btn-circle" id="sixth"></a>
                <h6 id="p3">Confirm & Send</h6>
              </div>
            </div>
          </div>
          <div class="stepwizard" *ngIf="success">
            <div class="stepwizard-row stepwizard-row2 setup-panel">
              <!-- <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="fourth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 class="blu-color stepmrgnlft" id="p1">Bill Type</h6>
              </div> -->
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="fifth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 id="p2">Upload File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="sixth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 id="p3">Review File</h6>
              </div>
              <div class="stepwizard-step">
                <a class="btn bg-primary btn-circle-big" id="sixth">
                  <img class="img-responsive tick2" src="assets/img/tick.png">
                </a>
                <h6 id="p3">Confirm & Send</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 top_back no-show">
          <h5 class="blu-color">
            <a href="#" class="backBtnpay_sup">
              <img src="assets/img/left-arrow.png"> Back </a>
            <a class="sndback">
              <img src="assets/img/left-arrow.png"> Back </a>
          </h5>
        </div>
      </div>
      <div class="clearfix"></div>
      <form role="form" class="contact-form">
        <div class="row" *ngIf="billertype">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="row setup-content form_bg">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid #e9e9e9;">
                <h4 class="Top5Heading111 text-center">Select Bill Type</h4>
              </div>
              <div class="BorderBottom"></div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extra_padd detail_bill">
                
                  
                    <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4 padln"></div>
                    <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4 padln" style="margin-top:30px;">
                      <select class="input-text js-input inptxt form-control" name="usertitle" required [(ngModel)]="billdata.board"
                        name="board" (change)="showUpldView()">
                        <option value="Electricity" selected>Electricity</option>
                      </select>
                      <label class="label" for="usertitle">Select Type of Utility</label>
                    </div>
                    <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4 padln"></div>
                    <!-- <div class="clear20"></div>
                    <div class="clear20"></div> -->
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 padln">
                      <select class="input-text js-input inptxt form-control" required [(ngModel)]="billdata.state" name="state" (change)="getBiller($event.target.value)">
                        <option *ngFor="let state of states" value="{{state.code}}">{{state.name}}</option>
                      </select>
                      <label class="label" for="usertitle">Select State</label>
                    </div> -->
                    <!-- <div class="clear20"></div>
                    <div class="clear20"></div>
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 padln">
                      <select class="input-text js-input inptxt form-control" [(ngModel)]="billdata.biller" name="biller" required>
                        <option *ngFor="let bilr of billerlist" value="{{bilr.name}}">{{bilr.name}}</option>                     
                      </select>
                      <label class="label" for="usertitle">Select Biller</label>
                    </div> -->
                    <div class="clear20"></div>
                    <div class="clear20"></div>
                  
                
                <div class="clearfix"></div>
                
                <!-- <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="clear20"></div>
                  <span class="download"><img id="download" (click)="billrdetails()" src="../../../assets/img/downloadlist.png">&nbsp;Download Template</span>
                  <button class="btn bg-primary nextpay buttonpad" type="button" (click)="billrdetails()">Next</button>
                  <div class="clear20"></div>
                  <div class="clear20"></div>
                </div> -->
              </div>              
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div class="row" *ngIf="showUploadFile">
              <div class="clear20"></div>
              <div class="clear20"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center form_bg detail_bill1">
              <ul>
                <li *ngFor="let p1 of para1">{{p1.Discom_Name | titlecase}}</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center form_bg detail_bill1">
              <ul>
                <li *ngFor="let p2 of para2">{{p2.Discom_Name | titlecase}}</li>
              </ul> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center form_bg detail_bill1">
              <ul>
                <li *ngFor="let p3 of para3">{{p3.Discom_Name | titlecase}}</li>
              </ul>
            </div>
          </div>
          <div class="row" *ngIf="showUploadFile">
            <div class="clear20"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
              <a href="assets/templates/Sample_format_BillerBulk_Para1.xlsx" target="_blank" class="dwn-temp"><img src="assets/img/downloadlist.png" alt=""> Download Template</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"><a href="assets/templates/Sample_format_BillerBulk_Para2.xlsx" target="_blank" class="dwn-temp"><img src="assets/img/downloadlist.png" alt=""> Download Template</a></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"><a href="assets/templates/Sample_format_BillerBulk_Para3.xlsx" target="_blank" class="dwn-temp"> <img src="assets/img/downloadlist.png" alt=""> Download Template</a></div>
          </div>
          <div class="row" *ngIf="showUploadFile">
              <div class="clear20"></div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                <input _ngcontent-c5="" class="btn bg-primary nextpay buttonpad ng-untouched ng-pristine ng-valid" name="fileUpload" type="file" ng-reflect-name="fileUpload" (change)="UploadFile($event.target.files)">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                <input _ngcontent-c5="" class="btn bg-primary nextpay buttonpad ng-untouched ng-pristine ng-valid" name="fileUpload" type="file" ng-reflect-name="fileUpload" (change)="UploadFile($event.target.files);">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                <input _ngcontent-c5=""  class="btn bg-primary nextpay buttonpad ng-untouched ng-pristine ng-valid" name="fileUpload" type="file" ng-reflect-name="fileUpload" (change)="UploadFile($event.target.files)">
              </div>
            </div>
        </div>

        <div *ngIf="billdetails" class="row setup-content form_bg">
          <div class="col-md-12 extra_padd">
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-3 col-sm-offset-2 col-sm-8 col-md-6 col-lg-offset-4 col-lg-4 text-center">
              <div class=" row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center nextpay dnddive" id="file-drag">
                  <img class="file-upload" src="assets/img/file-upload.png">
                  <form id="file-upload-form">
                    <label for="file-upload">
                      <span class="blu-color dndlabel">
                        Drag n Drop file to Upload Template
                      </span>
                      <span class="blu-color chota">
                        or
                      </span>
                    </label>
                    <div class="clear20"></div>
                    <!-- <button class="btn bg-primary nextpay buttonpad" type="file" (click)="upldfile();onFileLoad($event)">Click to Browse</button> -->
                    <input class="btn bg-primary nextpay buttonpad" type="file" [(ngModel)]="fileUpload" name="fileUpload"
                      (change)="UploadFile($event)" accept=".xlsx" />
                  </form>
                </div>
              </div>
            </div>
            <div class="clear20"></div>
            <div class="clear20"></div>
            <div class="clear20"></div>
          </div>
          <div class="clear20"></div>
          <div class="clear20"></div>
        </div>
  
  
  
  
        <!-- <div class="card" style="height:257px !important;" *ngIf="billdetails">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">          
            <div style="background-color: white;" class="row ">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>            
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 uploads" style="background-color:white;">
                <img class="file-upload" src="../../../assets/img/file-upload.png">
                <div id="p1">Drag & Drop file to Upload Template</div>
                <p id="p2">or</p>
                <button class="btn bg-primary nextpay buttonpad" type="button" (click)="upldfile()">Click to Browse</button>
              </div>          
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
            </div>        
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
        </div> -->
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" *ngIf="reviewfile">
            <div class="row form_bg">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid #e9e9e9;">
                    <h4 class="Top5Heading111">Review Uploaded File</h4>
                  </div>
                </div>
                <div class="row" style="margin-top:15px; font-size:13px;">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    Type of Utility : <span class="spn">{{billdata.board}}</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
              
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12 tab text-center centra">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <button class="tablinks" [ngClass]="apprcrd?'active':''" id="mycard" (click)="apprcard()">SUCCESSFUL BILLS({{successcount}})</button>
                            <button class="tablinks" [ngClass]="pencrd?'active':''" id="pendcard" (click)="pencard()" >REJECTED BILLS({{rejectcount}})</button>
                           
                        </div>
                       
                    </div>
                    <div class="clear10"></div>
                    <div class="clear10"></div>
                    <div id="London" class="tabcontent" *ngIf="apprcrd">
                <div class="row" style="margin-top:15px; margin-bottom:15px; font-size:13px;">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <table class="entry-table">
                          <tr>
                            <td class="unitheaders">No. of entries</td>
                            <td class="unitheaders">No. of selected entries</td>
                          </tr>
                          <tr>
                            <td>{{successbill.length}}</td>
                            <td>{{selected}}</td>
                          </tr>
                        </table>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right"></div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                    <button class="btn bg-primary nextpay buttonpad" type="button" (click)="submitdata()" style="padding: 3px 25px!important;">Submit
                      for Approval</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                      <table id="main-table">
                        <thead>
                          <tr>
                            <td><input name="vehicle1" type="checkbox" (change)="checkAll(isSelected)" [checked]="selectall"></td>
                            <td style="width:25%;">Biller Name</td>
                            <td>Consumer No&nbsp;</td>
                            <td>Location &nbsp;</td>
                            <td>Bill Date &nbsp;</td>
                            <td>Due Date &nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let bill of successbill; let i=index;">
                          <tr>
                            <td><input name="vehicle1" type="checkbox" (change)="updateBillsList(bill , i)"  [checked]="isSelected"></td>
                            <td style="width:25%;">{{bill.name}}</td>
                            <td>{{bill.consumer_no}}</td>
                            <td>{{bill.state}}</td>
                            <td>{{bill.due_date}}</td>
                            <td>{{bill.bill_date}}</td>
                            <td style="padding:0px 15px;"><img src="assets/img/tb_downarrow.png" (click)="bill.collapse=!bill.collapse;openexpanded(i)"></td>
                          </tr>
                          <tr class="rowShow grayStrip" *ngIf="bill.collapse && selectedIndexsuc==i">
                            <td class="custmtd" colspan="7">
                              <div class="tablediv">
                                <h5>Biller Details</h5>
                                <div class="mb-1">
                                  <div class="span_width">Short Name</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">{{bill.short_name}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">GL/Expense Code</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">{{bill.expense_code}}</div>
                                </div>
                                <!-- <div class="mb-1">
                                  <div class="span_width">Consumer No</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">9845389389</div>
                                </div> -->
                                <div class="mb-1" >
                                  <div class="span_width">{{bill.parameter_1}}</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">{{bill.consumer_no}}</div>
                                </div>
                                
                                  <div class="mb-1" *ngIf="bill.bucode_buname!='' || bill.bucode_buname!=null">
                                      <div class="span_width">{{bill.display_name_bu}}</div> <span class="no-vert"> : </span> &nbsp;
                                      <div class="bold_span">{{bill.bucode_buname}}</div>
                                    </div>
                                    <div class="mb-1" *ngIf="bill.circle!='' || bill.circle!=null">
                                        <div class="span_width">{{bill.display_name_circle}}</div> <span class="no-vert"> : </span> &nbsp;
                                        <div class="bold_span">{{bill.circle}}</div>
                                      </div>
                              </div>
                              <div class="tablediv">
                                <h5>Contact Details</h5>
                                <div class="mb-1">
                                  <div class="span_width">Mobile No</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">{{bill.contact_no}}</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">Address</div> <span class="no-vert"> : </span> &nbsp;
                                  <span class="bold_span" tooltip="{{bill.biller_address}}" placement="top" show-delay="500">{{bill.biller_address}}</span>
                                </div>
                                <div>
                                  <div class="span_width">Email</div> <span class="no-vert"> : </span> &nbsp;
                                  <span class="bold_span" tooltip="{{bill.email}}" placement="top" show-delay="500">{{bill.email}}</span>
                                </div>
                              </div>
                              <div class="tablediv noborder">
                                <h5>Other Details</h5>
                                <div class="mb-1">
                                  <div class="span_width">File Name</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">{{downloadFileName}}</div>
                                </div>
                                <!-- <div class="mb-1">
                                  <div class="span_width">Initiated by</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">--</div>
                                </div>
                                <div class="mb-1">
                                  <div class="span_width">Initiated on</div> <span class="no-vert"> : </span> &nbsp;
                                  <div class="bold_span">--</div>
                                </div> -->
                              </div>
                            </td>
                          </tr>
                          <tr class="rowShow grayStrip" *ngIf="bill.collapse && selectedIndexsuc==i">
                            <td colspan="7">
                              <span class="pull-right">
                                <img src="assets/img/edit.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a data-toggle="modal" href="#myModal" id="openBtn">
                                  <img src="assets/img/delete.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <span class="attach-span" tooltip="Attach File" placement="top" show-delay="500">
                                  <div class="upload-btn-wrapper">
                                      <button class="" style="border: 1px solid #fafafa; background-color:#fafafa;"><img src="assets/img/attachments.png"
                                          alt=""></button>
                                          {{filename1}}
                                      <input type="file" name="fileUpload" #file  (change)="UploadFileAttach1(file)" ng-reflect-name="fileUpload"/>
                                    </div>
                                  </span>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                </div>
                <div id="Paris" class="tabcontent" *ngIf="pencrd">
                    <div class="row" style="margin-top:15px; margin-bottom:15px; font-size:13px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <table class="entry-table">
                                <tr>
                                  <td class="unitheaders">No. of entries</td>
                                 
                                </tr>
                                <tr>
                                  <td>{{rejectbill.length}}</td>
                                 
                                </tr>
                              </table>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right"></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                          <button class="btn bg-primary nextpay buttonpad" type="button" (click)="downloadreport()" style="padding: 3px 25px!important;">Download Report</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-border">
                            <table id="main-table">
                              <thead>
                                <tr>
                                 
                                  <td style="width:25%;">Biller Name</td>
                                  <td>Reference No&nbsp;</td>
                                  <td>Location &nbsp;</td>
                                  <td>Bill Date &nbsp;</td>
                                  <td>Due Date &nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngFor="let bill of rejectbill; let i=index;">
                                <tr>
                                    <td style="width:25%;">{{bill.name}}</td>
                                    <td>{{bill.consumer_no}}</td>
                                    <td>{{bill.state}}</td>
                                    <td>{{bill.due_date}}</td>
                                    <td>{{bill.bill_date}}</td>
                                  <td style="padding:0px 15px;"><img src="assets/img/tb_downarrow.png" (click)="bill.collapse=!bill.collapse;openexpandedrej(i)"></td>
                                </tr>
                                <tr class="rowShow grayStrip" *ngIf="bill.collapse &&  selectedIndexrej==i">
                                  <td class="custmtd" colspan="7">
                                    <div class="tablediv">
                                      <h5>Biller Details</h5>
                                      <div class="mb-1">
                                          <div class="span_width">Short Name</div> <span class="no-vert"> : </span> &nbsp;
                                          <div class="bold_span">{{bill.short_name}}</div>
                                        </div>
                                        <div class="mb-1">
                                          <div class="span_width">GL/Expense Code</div> <span class="no-vert"> : </span> &nbsp;
                                          <div class="bold_span">{{bill.expense_code}}</div>
                                        </div>
                                      <!-- <div class="mb-1">
                                        <div class="span_width">Consumer No</div> <span class="no-vert"> : </span> &nbsp;
                                        <div class="bold_span">9845389389</div>
                                      </div> -->
                                      <div class="mb-1" >
                                          <div class="span_width">{{bill.parameter_1}}</div> <span class="no-vert"> : </span> &nbsp;
                                          <div class="bold_span">{{bill.consumer_no}}</div>
                                        </div>
                                        
                                          <div class="mb-1" *ngIf="bill.bucode_buname!='' || bill.bucode_buname!=null">
                                              <div class="span_width">{{bill.display_name_bu}}</div> <span class="no-vert"> : </span> &nbsp;
                                              <div class="bold_span">{{bill.bucode_buname}}</div>
                                            </div>
                                            <div class="mb-1" *ngIf="bill.circle!='' || bill.circle!=null">
                                                <div class="span_width">{{bill.display_name_circle}}</div> <span class="no-vert"> : </span> &nbsp;
                                                <div class="bold_span">{{bill.circle}}</div>
                                              </div>
                                    </div>
                                    <div class="tablediv">
                                      <h5>Contact Details</h5>
                                      <div class="mb-1">
                                          <div class="span_width">Mobile No</div> <span class="no-vert"> : </span> &nbsp;
                                          <div class="bold_span">{{bill.contact_no}}</div>
                                        </div>
                                        <div class="mb-1">
                                          <div class="span_width">Address</div> <span class="no-vert"> : </span> &nbsp;
                                          <span class="bold_span" tooltip="{{bill.biller_address}}" placement="top" show-delay="500">{{bill.biller_address}}</span>
                                        </div>
                                        <div>
                                          <div class="span_width">Email</div> <span class="no-vert"> : </span> &nbsp;
                                          <span class="bold_span" tooltip="{{bill.email}}" placement="top" show-delay="500">{{bill.email}}</span>
                                        </div>
                                    </div>
                                    <div class="tablediv noborder">
                                      <h5>Other Details</h5>
                                      <div class="mb-1">
                                        <div class="span_width">File Name</div> <span class="no-vert"> : </span> &nbsp;
                                        <div class="bold_span">{{downloadFileName}}</div>
                                      </div>
                                      <div class="mb-1">
                                          <div class="span_width">Rejection Reason</div> <span class="no-vert"> : </span> &nbsp;
                                          <div class="bold_span" tooltip="{{bill.reject_reason}}" placement="top" show-delay="500">{{bill.reject_reason}}</div>
                                        </div>
                                      <!-- <div class="mb-1">
                                        <div class="span_width">Initiated by</div> <span class="no-vert"> : </span> &nbsp;
                                        <div class="bold_span">--</div>
                                      </div>
                                      <div class="mb-1">
                                        <div class="span_width">Initiated on</div> <span class="no-vert"> : </span> &nbsp;
                                        <div class="bold_span">--</div>
                                      </div> -->
                                    </div>
                                  </td>
                                </tr>
                                </ng-container>
                               
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
              </div>
            </div>
       
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
      
      </form>
    </section>
  </div>